body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
  line-height: 1.5;
  padding-bottom: 65px;
}

.navbar-brand {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}
.navbar-brand > .logo {
  height: 45px;
}

canvas {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
