{% extends 'base.html' %}

{% block content %}

  <div class="col-md-8 col-md-offset-2" style="margin-top: 25px;">
    <div class="panel panel-custom">
        <div class="panel-heading">
            <h2 class="align-center">Demande de réinitialisation de mot de passe</h2>
        </div>
        <div class="panel-body">
            <form class="form-style-1" action= "" method="post">
                {% csrf_token %}
                {{ form.as_ul }}
                <li><input type="submit" value="Envoyer" id="id_submit" class="btn btn-success" /></li>
            </form>
        </div>
    </div>
  </div>

{% endblock %}
