{% extends 'base.html' %}

{% block content %}
    <div class="col-md-8 col-md-offset-2">
        {% if validlink %}
            <div class="panel panel-custom">
                <div class="panel-heading">
                    <h2 class="align-center">Définition du nouveau mot de passe</h2>
                </div>
                <div class="panel-body">
                    <form class="form-style-1" action= "" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Valider" class="btn btn-success"/>
                    </form>
                </div>
            </div>
        {% else %}
            <div class="panel panel-custom">
                <div class="panel-heading">
                    <h2 class="align-center">Réinitialisation invalide</h2>
                </div>
                <div class="panel-body">
                    <p class="justify">Ce lien de réinitialisation de mot de passe n'est pas valide.Il a peut être été déjà utilisé où a été invalidé.</p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}