{% extends 'base.html' %}

{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-custom">
            <div class="panel-heading">
                <h2 class="align-center">Modification de mot de passe</h2>
            </div>
            <div class="panel-body">
                <form class="form-style-1" action= "" method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Modifier" class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}