{% extends 'base_sober.html' %}
{% load bootstrap %}
{% load static %}

{% block content %}
<div class="panel panel-info">
    <div class="panel-heading">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        Informations
    </div>
    <div class="panel-body">
      <p>Cette action va terminer l'évènement. Vous pouvez choisir la manière de faire payer (ou non) les participants.</p>
      <p>Dans le cas du prix par pondération, celui-ci doit être renseigné (Sinon, il n'est pas pris en compte).</p>
      <p>Dans le cas du non-paiement, vous devez justifier pourquoi il se termine et pourquoi le paiement n'est pas effectif. C'est par exemple le cas
      si le paiement s'est réalisé en face à face par chèque, sans passer par Borgia.</p>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Terminer l'évènement {{ event }}
    </div>
    <div class="panel-body">
        <p>
          <strong>Rappel :</strong><br>
        </p>
        <ul>
            <li>Prix total: {% if total_price %}{{ total_price }} €{% else %}Non renseigné{% endif %}</li>
            <li>Nombre de part: {{ total_weights_participants }}</li>
            {% if ponderation_price %}<li>Prix de revient par part: {{ ponderation_price }}</li>{% endif %}
		</ul>
        <form id="finish_form" action="" method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button class="btn btn-success" type="submit" id="finish_submit">Terminer</button>
        </form>
        <a href="{% url 'url_event_update' pk=event.pk %}" class="btn btn-info pull-right">Retour a la gestion générale de l'évènement</a>

    </div>
</div>

{% include 'events/js/event_finish.html' %}
{% endblock %}
