{% extends 'base_sober.html' %}
{% load bootstrap %}
{% load finances_extra %}

{% block content %}

{% if event.done == False %}
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Mise à jour de l'événement {{ event.description }}
      </div>
      <div class="panel-body">
        <form action="{% url 'url_event_update' pk=event.pk %}" method='post' class="form-horizontal">
          {% csrf_token %}
          {{ form|bootstrap_horizontal }}
          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
              <button type="submit" class="btn btn-success">Mise à jour</button>
              <a href="{% url 'url_event_finish' pk=event.pk %}" role="button" class="btn btn-warning {% if no_participant or not has_perm_proceed_payment %}disabled{% endif %}">Terminer</a>
              <a href="{% url 'url_event_delete' pk=event.pk %}" role="button" class="btn btn-danger">Supprimer</a>
            </div>
            {% if no_participant %}
            <div class="col-sm-8 col-sm-offset-2">
              <div class="alert alert-warning">
                Note : Il faut ajouter des participants avant de terminer l'évènement.
              </div>
            </div>
            {% endif %}
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Chargement d'un fichier Excel pondéré
      </div>
      <div class="panel-body">
        <form enctype="multipart/form-data" action="{% url 'url_event_upload_xlsx' pk=event.pk %}"
        method='post' class="form-horizontal">
        {% csrf_token %}
        {{ upload_xlsx_form|bootstrap_horizontal }}
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-success">Uploader l'Excel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
{% endif %}
<div class="row">
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      Liste {% if not event.done %}et gestion manuelle {% endif %}des utilisateurs concernés.
    </div>
    <div class="panel-body">
      Nombre de pré-inscrits : <strong>{{ number_registrants }}</strong><br />
      Nombre total de pré-inscriptions : <strong>{{ total_weights_registrants }}</strong><br />
      <br />
      Nombre de participants : <strong>{{ number_participants }}</strong><br />
      Nombre total de participations : <strong>{{ total_weights_participants }}</strong><br />
      <br />
      <a href="{% url 'url_event_manage_users' pk=event.pk %}" class="btn btn-success">Accéder à la {% if not event.done %}gestion manuelle{% else %}liste{% endif %}</a>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      Téléchargement de fichiers Excels
    </div>
    <div class="panel-body">
      <form action= "{% url 'url_event_download_xlsx' pk=event.pk %}" method="post" class="form-horizontal" id="id_download_form">
        {% csrf_token %}
        {{ download_xlsx_form|bootstrap_horizontal }}
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Télécharger l'Excel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
{% if event.done  %}
<div class="panel panel-default">
  <div class="panel-heading">
    Paiement
  </div>
  <div class="panel-body">
    Etat : {% human_reading event.done 'event_done' %}. {{ event.remark }}
  </div>
</div>
{% endif %}
{% include 'events/js/event_download_form.html' %}
{% endblock %}
