{% extends 'base.html' %}
{% load finances_extra %}
{% load extra %}

{% block content %}

    <div class="container">
        <div class="row">
            <table>
                <tr>
                    <th><a href="{% url 'url_list_setting' %}?order_by={{ 'name'|order_by:request }}">Nom</a></th>
                    <th><a href="{% url 'url_list_setting' %}?order_by={{ 'description'|order_by:request }}">Description</a></th>
                    <th><a href="{% url 'url_list_setting' %}?order_by={{ 'value'|order_by:request }}">Valeur</a></th>
                    <th><a href="{% url 'url_list_setting' %}?order_by={{ 'value_type'|order_by:request }}">Type</a></th>
                    <th>Modifier</th>
                </tr>
                {% for e in query_setting %}
                    <tr>
                        <td>{{ e.name }}</td>
                        <td>{{ e.description }}</td>
                        <td>{{ e.value }}</td>
                        <td>{{ e.get_value_type_display }}</td>
                        <td><a href="{% url 'url_update_setting' pk=e.pk %}?next=/settings_data/setting/">modifier</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}