{% extends 'base.html' %}

{% block content %}

    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-custom">
            <div class="panel-heading">
                <h2 class="align-center">Suppression d'un compte en banque</h2>
            </div>
            <div class="panel-body">
                <form class="form-style-1" action="" method="post">{% csrf_token %}
                        <p class="align-center">Supprimer le compte en banque <br>{{ object }} ?</p>
                        <input type=hidden name="next" value="{{ next }}" />
                        <input type="submit" value="Supprimer" />
                </form>
            </div>
        </div>
    </div>

{% endblock %}