<table class="table_foyer">
    <tr>
        <th>Possesseur</th>
        <th>Banque</th>
        <th>Compte</th>
        <th class="mobileHide568">Modifier</th>
        <th class="mobileHide568">Supprimer</th>
    </tr>
    {% for e in object_list %}
        <tr>
            <td>{{ e.owner }}</td>
            <td>{{ e.bank }}</td>
            <td>{{ e.account }}</td>
            <td class="mobileHide568"><a href="{% url 'url_update_bank_account' pk=e.id %}?next={{ next }}">modifier</a></td>
            <td class="mobileHide568"><a href="{% url 'url_delete_bank_account' pk=e.id %}?next={{ next }}">supprimer</a></td>
        </tr>
    {% endfor %}
</table>
