<table>
    <tr>
        <th>Possesseur</th>
        <th>Banque</th>
        <th>Compte</th>
        <th>Modifier</th>
        <th>Supprimer</th>
    </tr>
    {% for e in object_list %}
        <tr>
            <td>{{ e.owner }}</td>
            <td>{{ e.bank }}</td>
            <td>{{ e.account }}</td>
            <td><a href="{% url 'url_update_bank_account' pk=e.id %}?next={{ next }}">modifier</a></td>
            <td><a href="{% url 'url_delete_bank_account' pk=e.id %}?next={{ next }}">supprimer</a></td>
        </tr>
    {% endfor %}
</table>
