<ul>
    <li>Donnateur : <a href="{% url 'url_retrieve_user' pk=object.giver.id %}">{{ object.giver }}</a></li>
    <li>Montant : {{ object.amount }} €</li>
    <li>Encaissé : {{ object.cashed }}</li>
    <li>Date d'encaissement : {{ object.date_cash }}</li>
    <li>Transaction(s) correspondante(s) :
        <ul>
            {% for e in object.list_transaction %}
                <li><a href="{% url 'url_retrieve_transaction' pk=e.id %}">{{ e }}</a></li>
            {% endfor %}
        </ul>
    </li>
</ul>
