<ul>
    <li>Donnateur : <a href="{% url 'url_retrieve_user' pk=object.sender.id %}">{{ object.sender }}</a></li>
    <li>Receveur : <a href="{% url 'url_retrieve_user' pk=object.recipient.id %}">{{ object.recipient }}</a></li>
    <li>Montant : {{ object.amount }} €</li>
    <li>Transaction(s) correspondante(s) :
        <ul>
            {% for e in object.list_sale %}
                <li><a href="{% url 'url_retrieve_sale' pk=e.pk %}">{{ e }}</a></li>
            {% endfor %}
        </ul>
    </li>
</ul>
