<table class="table_foyer">
    <tr>
        <th>Donnateur</th>
        <th>Receveur</th>
        <th>Montant (€)</th>
        <th>Transaction(s) correspondante(s)</th>
        <th>Détails</th>
    </tr>
    {% for e in object_list %}
        <tr>
            <td><a href="{% url 'url_retrieve_user' pk=e.sender.pk %}">{{ e.sender }}</a></td>
            <td><a href="{% url 'url_retrieve_user' pk=e.recipient.pk %}">{{ e.recipient }}</a></td>
            <td>{{ e.amount }}</td>
            <td>{% for h in e.list_sale %}
                <a href="{% url 'url_retrieve_sale' pk=h.pk %}">{{ h }}</a>
            {% endfor %}</td>
            <td><a href="{% url 'url_retrieve_cash' pk=e.pk %}">détail</a></td>
        </tr>
    {% endfor %}
</table>
