<ul>
    <li>Emetteur : <a href="{% url 'url_retrieve_user' pk=object.sender.pk %}">{{ object.sender }}</a></li>
    <li>Receveur : <a href="{% url 'url_retrieve_user' pk=object.recipient.pk %}">{{ object.recipient }}</a></li>
    <li>Montant : {{ object.amount }} €</li>
    <li>Encaissé : {{ object.is_cashed }}</li>
    <li>Numéro unique : {{ object.cheque_number }}</li>
    <li>Banque : {{ object.bank_account }}</li>
    <li>Date de signature : {{ object.signature_date }}</li>
    <li>Transaction(s) correspondante(s) :
        <ul>
            {% for h in object.list_sale %}
                <a href="{% url 'url_retrieve_sale' pk=h.id %}">{{ h }}</a>
            {% endfor %}
        </ul>
    </li>
</ul>
