{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-custom">
            <div class="panel-heading">
                <h2 class="align-center">Crédit par Lydia</h2>
            </div>
            <div class="panel-body">
                <form class="form-style-1" action= "{% url 'url_supply_lydia_self' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_ul }}
                    <li><input type="submit" value="Valider" class="btn btn-success"/></li>
                </form>
            </div>
        </div>
    </div>

    <script>
        String.prototype.replaceAll = function(target, replacement) {
            return this.split(target).join(replacement);
        };

        $("#id_tel_number").change(function() {
            var tel_number = this.value;
            tel_number = tel_number.replaceAll('-', '');
            tel_number = tel_number.replaceAll(' ', '');
            tel_number = tel_number.replaceAll('.', '');
            tel_number = tel_number.replaceAll('+33', '0');
            this.value = tel_number;
        });

    </script>
{% endblock %}
