{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container50">
        <form action= "{% url 'url_supply_lydia_self' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row">
                <div class="one-third column"><input type="submit" value="Submit"/></div>
                <div class="one-third column"><a class="s" href="{% url 'url_profile' %}">Retour au profil</a></div>
            </div>
        </form>
    </div>

    <script>
        String.prototype.replaceAll = function(target, replacement) {
            return this.split(target).join(replacement);
        };

        $("#id_tel_number").change(function() {
            var tel_number = this.value;
            tel_number = tel_number.replaceAll('-', '');
            tel_number = tel_number.replaceAll(' ', '');
            tel_number = tel_number.replaceAll('.', '');
            tel_number = tel_number.replaceAll('+33', '0');
            this.value = tel_number;
        });

    </script>
{% endblock %}
