{% extends 'base.html' %}

{% block content %}

    <table>
        <tr>
            <th>Donnateur</th>
            <th>Receveur</th>
            <th>Montant (€)</th>
            <th>Date d'opération</th>
            <th>Heure d'opération</th>
            <th>Encaissé</th>
            <th>Date d'encaissement</th>
            <th>Transaction(s) correspondante(s)</th>
            <th>Modifier</th>
            <th>Supprimer</th>
            <th>Détails</th>
        </tr>
        {% for e in object_list %}
            <tr>
                <td><a href="{% url 'url_retrieve_user' pk=e.giver.id %}">{{ e.giver }}</a></td>
                <td><a href="{% url 'url_retrieve_user' pk=e.recipient.id %}">{{ e.recipient }}</a></td>
                <td>{{ e.amount }}</td>
                <td>{{ e.date_operation }}</td>
                <td>{{ e.time_operation }}</td>
                <td>{{ e.cashed }}</td>
                <td>{{ e.date_cash }}</td>
                <td>{% for h in e.list_transaction %}
                    <a href="{% url 'url_retrieve_transaction' pk=h.id %}">{{ h }}</a>
                {% endfor %}</td>
                <td><a href="{% url 'url_update_lydia' pk=e.id %}">modifier</a></td>
                <td><a href="{% url 'url_delete_lydia' pk=e.id %}">supprimer</a></td>
                <td><a href="{% url 'url_retrieve_lydia' pk=e.id %}">détail</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}