
<ul>
    <li><strong>Opérateur :</strong> <a href="{% url 'url_retrieve_user' pk=object.operator.id %}">{{ object.operator }}</a></li>
    <li><strong>Client : </strong><a href="{% url 'url_retrieve_user' pk=object.client.id %}">{{ object.client }}</a></li>
    <li><h4><strong>Objets indénombrables :</strong></h4>
        <table>
            {% for e in object.list_single_products_from_container %}
                <tr><td>{{ e.container.product_unit.name }}</td><td>{{ e.quantity }} cl</td><td>{{ e.price|floatformat:2 }} €</td></tr>
            {% endfor %}
        </table>
    </li>
    <li><h4><strong>Objets dénombrables :</strong></h4>
        <table>
            {% for e in object.list_single_products %}
                <tr><td>{{ e.name }}</td><td>{{ e.price|floatformat:2 }} €</td></tr>
            {% endfor %}
        </table>
    </li>
</ul>
<p><strong>TOTAL : </strong><strong>{{ object.total_product|floatformat:2 }} €</strong></p>
<p>Payement par foyer : {{ object.foyer|floatformat:2 }} €</p>
