{% extends 'base_sober.html' %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    Détails d'un rechargement de compte
    <a class="btn btn-default btn-xs" href="{% url 'url_recharging_list' group_name=group.name %}">Liste</a>
  </div>
  <div class="panel-body">
    <ul>
      <li>Opérateur : {{ object.operator }}</li>
      <li>Acheteur : {{ object.sender }}</li>
      <li>Date & heure : {{ object.datetime }}</li>
      <li>Montant : {{ object.payment_solution.amount }}€</li>
      <li>Type : {{ object.payment_solution.get_display_type|title }}
      {% if object.payment_solution.get_type == "cheque" %}
        ({{ object.payment_solution.cheque }})
      {% elif object.payment_solution.get_type == "lydiaonline"  %}
        ({{ object.payment_solution.lydiaonline }})
      {% elif object.payment_solution.get_type == "lydiafacetoface"  %}
        ({{ object.payment_solution.lydiafacetoface }})
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}
