{% extends 'base_sober.html' %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    Détails d'un rechargement de compte
    <a class="btn btn-default btn-xs" href="{% url 'url_recharging_list' group_name=group.name %}">Liste</a>
  </div>
  <div class="panel-body">
    <ul>
      <li>Opérateur : {{ object.operator }}</li>
      <li>Acheteur : {{ object.sender }}</li>
      <li>Date : {{ object.date }}</li>
      <li>Montant : {{ object.amount }}€</li>
      <li>Type : {{ object.payment.unique_payment_type_display }}
      {% if object.payment.unique_payment_type == "cheque" %}
        ({{ object.payment.list_cheque.0.0}})
      {% elif object.payment.unique_payment_type == "lydia_auto"  %}
        ({{ object.payment.list_lydia.0.0}})
      {% elif object.payment.unique_payment_type == "lydia_face2face"  %}
        ({{ object.payment.list_lydia.0.0}})
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}
