<table>
    <tr>
        <th>Date</th>
        <th>Emetteur</th>
        <th>Receveur</th>
        <th>Chèque</th>
        <th>Lydia</th>
        <th>Espèce</th>
        <th>Compte foyer</th>
        <th>Produits dénombrables</th>
        <th>Produits indénombrables</th>
        <th>Montant total</th>
        <th>Détails</th>
    </tr>
    {% for e in object_list %}
        <tr>
            <td>{{ e.date }}</td>
            <td><a href="{% url 'url_retrieve_user' pk=e.sender.pk %}">{{ e.sender }}</a></td>
            <td><a href="{% url 'url_retrieve_user' pk=e.recipient.pk %}">{{ e.recipient.pk }}</a></td>
            <td>{{ e.payment.list_cheque.1 }}</td>
            <td>{{ e.payment.list_lydia.1 }}</td>
            <td>{{ e.payment.list_cash.1 }}</td>
            <td>{{ e.payment.list_debit_balance.1 }}</td>
            <td>{{ e.list_single_products.0|length }}</td>
            <td>{{ e.list_single_products_from_container.0|length }}</td>
            <td>{{ e.amount }}</td>
            <td><a href="{% url 'url_retrieve_sale' pk=e.id %}">détail</a></td>
        </tr>
    {% endfor %}
</table>