{% extends 'base.html' %}
{% load users_extra %}
{% load finances_extra %}

{% block content %}
    <div class="container">
        <div class="row">
            <form action= "{% url 'url_list_sale_all' %}" method="post">
                {% csrf_token %}
                <input type=hidden name="order_by" value="{{ order_by }}" />
                <input type=hidden name="date_begin" value="{{ date_begin }}" />
                <input type=hidden name="date_end" value="{{ date_end }}" />
                <input type=hidden name="category" value="{{ category }}" />
                <div class="fieldWrapper">
                    {{ form.date_begin.errors }}
                    {{ form.date_end.errors }}
                    De : {{ form.date_begin }} à : {{ form.date_end }}
                </div>
                <div class="fieldWrapper">
                    {{ form.category.errors }}
                    {{ form.category.label }} : {{ form.category }}
                </div>
                <p><input type="submit" value="Lister"/></p>
            </form>
        </div>
    </div>
    <div class="row">

        <table>
            <tr>
                <th><a href="?order_by={{ 'date'|order_by:request }}&all_date={{ all_date }}&date_begin={{ date_begin }}&date_end={{ date_end }}&category={{ category }}&page={{ page.number }}">Date</a></th>
                <th><a href="?order_by={{ 'sender'|order_by:request }}&all_date={{ all_date }}&date_begin={{ date_begin }}&date_end={{ date_end }}&category={{ category }}&page={{ page.number }}">Emetteur</a></th>
                <th><a href="?order_by={{ 'recipient'|order_by:request }}&all_date={{ all_date }}&date_begin={{ date_begin }}&date_end={{ date_end }}&category={{ category }}&page={{ page.number }}">Receveur</a></th>
                <th><a href="?order_by={{ 'operator'|order_by:request }}&all_date={{ all_date }}&date_begin={{ date_begin }}&date_end={{ date_end }}&category={{ category }}&page={{ page.number }}">Opérateur</a></th>
                <th><a href="?order_by={{ 'category'|order_by:request }}&all_date={{ all_date }}&date_begin={{ date_begin }}&date_end={{ date_end }}&category={{ category }}&page={{ page.number }}">Type</a></th>
                <th><a href="?order_by={{ 'wording'|order_by:request }}&all_date={{ all_date }}&date_begin={{ date_begin }}&date_end={{ date_end }}&category={{ category }}&page={{ page.number }}">Libellé</a></th>
                <th><a href="?order_by={{ 'amount'|order_by:request }}&all_date={{ all_date }}&date_begin={{ date_begin }}&date_end={{ date_end }}&category={{ category }}&page={{ page.number }}">Montant</a></th>
                <th>Détails</th>
            </tr>
            {% for e in page %}
                <tr>
                    <td>{{ e.date }}</td>
                    <td>{{ e.sender }}</td>
                    <td>{{ e.recipient }}</td>
                    <td>{{ e.operator }}</td>
                    <td>{{ e.get_category_display }}</td>
                    <td>{% if e.category == 'sale' %}
                        {{ e.string_products|truncatechars:30 }}
                    {% elif e.category == 'transfert' or e.category == 'exceptionnal_movement' %}
                        {{ e.justification|truncatechars:30 }}
                    {% else %}
                        {{ e.wording|truncatechars:30 }}
                    {% endif %}</td>
                    <td>{{ e.amount }} €</td>
                    <td><a href="{% url 'url_retrieve_sale' pk=e.id %}">détail</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
        {% if page.has_other_pages %}
   </div>
        <nav class="pagination">
            <ul class="pagination">
                {% comment %}Affiche un lien vers la première page{% endcomment %}
                <li>
                      <a href="?order_by={{ order_by }}&all_date={{ all_date }}&date_begin={{ date_begin }}&date_end={{ date_end }}&category={{ category }}&page=first">
                        <span><<</span>
                      </a>
                  </li>
            {% comment %}Affiche un lien vers la page précédente{% endcomment %}
              {% if page.has_previous %}
                  <li>
                    <a href="?order_by={{ order_by }}&all_date={{ all_date }}&date_begin={{ date_begin }}&date_end={{ date_end }}&category={{ category }}&page={{ page.previous_page_number }}">
                        <span>Previous</span>
                    </a>
                  </li>
              {% else %}
                  <li class="disabled">
                    <a href="#">
                        <span>Previous</span>
                    </a>
                  </li>
              {% endif %}

            {% comment %}Affiche un des liens vers les pages encadrant la page courante{% endcomment %}
              {% for p in page_links %}
                  <li {% if p == page.number %}class="active"{% endif %}>
                      <a href="?order_by={{ order_by }}&all_date={{ all_date }}&date_begin={{ date_begin }}&date_end={{ date_end }}&category={{ category }}&page={{ p }}">{{ p }}</a>
                  </li>
              {% endfor %}
                {% comment %}Affiche un lien vers la page suivante{% endcomment %}
              {% if page.has_next %}
                  <li>
                      <a href="?order_by={{ order_by }}&all_date={{ all_date }}&date_begin={{ date_begin }}&date_end={{ date_end }}&category={{ category }}&page={{ page.next_page_number }}">
                        <span>Next</span>
                      </a>
                  </li>
              {% else %}
                  <li {% if not page.has_next %}class="disabled"{% endif %}>
                      <a href="#">
                          <span>Next</span>
                      </a>
                  </li>
              {% endif %}
                {% comment %}Affiche un lien vers la dernière page{% endcomment %}
                <li>
                      <a href="?order_by={{ order_by }}&operators={{ operators }}&date_begin={{ date_begin }}&date_end={{ date_end }}&page=last">
                        <span>>></span>
                      </a>
                </li>
            </ul>
        </nav>
    {% endif %}
{% endblock %}