{% load finances_extra %}

<h2 class="center">Détail de la transaction n° {{ object.pk }}</h2>

    <li><strong>Emetteur : </strong>{{ object.sender }}</li>
    <li><strong>Receveur : </strong>{{ object.recipient }}</li>
    <li><strong>Opérateur : </strong>{{ object.operator }}</li>
    <li><strong>Date et heure : </strong>{{ object.date }}</li>

    {% if object.category == 'transfert' %}
        <p class=justify"><strong>Description : </strong>Transfert de {{ object.amount }} € entre le compte de {{ object.sender }} et de {{ object.recipient }}</p>

        <p class=justify">
            {% if object.justification %}
                Pour la raison suivante : {{ object.justification }}
            {% else %}
                Aucune raison n'a été donnée
            {% endif %}
        </p>

    {% elif object.category == 'recharging' %}
        <p class=justify"><strong>Description : </strong>Crédit du compte foyer de {{ object.sender }} de {{ object.amount }} €, à la suite de :</p>

        {% for c in object.payment.list_cheque.0 %}
            <li>Apport de {{ c.amount }} € par le chèque n°{{ c.cheque_number }}</li>
        {% endfor %}
        {% for l in object.payment.list_lydia.0 %}
            <li>Apport de {{ l.amount }} € par le virement lydia n°{{ l.id_from_lydia }}</li>
        {% endfor %}
        {% for ca in object.payment.list_cash.0 %}
            <li>Apport de {{ ca.amount }} € en espèces</li>
        {% endfor %}


    {% elif object.category == 'exceptionnal_movement' %}
        <p class=justify"><strong>Description : </strong>
            {% if object.is_credit == True %}Crédit{% else %}Débit{% endif %} du compte foyer de {{ object.sender }} de {{ object.amount }} €
            à l'initiative de {{ object.operator }}.</p>
        <p class=justify">{% if object.justification %}Justification : {{ object.justification }}{% else %}Aucune justification n'a été donnée{% endif %}</p>


    {% elif object.category == 'sale' %}
        <p class=justify"><strong>Description : </strong>Achat à l'association AE ENSAM</p>
        <p class=justify>Liste des produits :</p>

        {% if object.list_single_products_from_container.0|length != 0 %}
                    {% for e in object.list_single_products_from_container.0 %}
                        <li>Object : {{ e }}, à {{ e.sale_price }} €</li>
                    {% endfor %}
        {% endif %}
        {% if object.list_single_products.0|length != 0 %}
                    {% for e in object.list_single_products.0 %}
                        <li>Objet : {{ e }}, à {{ e.sale_price }} €</li>
                    {% endfor %}
        {% endif %}

        <p><strong>TOTAL : </strong><strong>{{ object.amount }} €</strong></p>

    {% elif object.category == 'shared_event' %}

        <p class=justify"><strong>Description : </strong>Paiement d'un événement</p>
        {% if object.list_shared_events.0|length != 0 %}
                    {% for e in object.list_shared_events.0 %}
                        <li>Evénement : {{ e }}, à {% abs_price_for object user %} €</li>
                    {% endfor %}
        {% endif %}

    {% endif %}
