{% load users_extra %}
<table class="table_foyer">
    <tr>
        <th><a href="?order_by={{ 'date'|order_by:request }}">Date</a></th>
        <th><a href="?order_by={{ 'sender'|order_by:request }}">Emetteur</a></th>
        <th>Produits</th>
        <th><a href="?order_by={{ 'amount'|order_by:request }}">Montant total</a></th>
        <th>Détails</th>
    </tr>
    {% for e in object_list %}
        <tr>
            <td>{{ e.date }}</td>
            <td>{{ e.sender }}</td>
            <td>{{ e.string_products|truncatechars:30 }}</td>
            <td>{{ e.amount }} €</td>
            <td><a href="{% url 'url_retrieve_sale' pk=e.id %}">détail</a></td>
        </tr>
    {% endfor %}
</table>
    {% if page_obj.has_other_pages %}
        <nav class="pagination">
            <ul class="pagination">
                {% comment %}Affiche un lien vers la première page{% endcomment %}
                <li>
                    <a href="?page=1">
                        <span><<</span>
                    </a>
                </li>
                {% comment %}Affiche un lien vers la page précédente{% endcomment %}
                {% if page_obj.has_previous %}
                    <li>
                        <a href="?page={{ page_obj.previous_page_number }}">
                            <span>Previous</span>
                        </a>
                    </li>
                {% else %}
                    <li class="disabled">
                        <a href="#">
                            <span>Previous</span>
                        </a>
                    </li>
                {% endif %}

                {% comment %}Affiche un lien vers la page suivante{% endcomment %}
                {% if page_obj.has_next %}
                    <li>
                        <a href="?page={{ page_obj.next_page_number }}">
                            <span>Next</span>
                        </a>
                    </li>
                {% else %}
                    <li {% if not page.has_next %}class="disabled"{% endif %}>
                        <a href="#">
                            <span>Next</span>
                        </a>
                    </li>
                {% endif %}
                {% comment %}Affiche un lien vers la dernière page{% endcomment %}
                <li>
                    <a href="?page_obj=last">
                        <span>>></span>
                    </a>
                </li>
            </ul>
        </nav>
    {% endif %}
