{% extends 'base_sober.html' %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    Détails d'une vente du magasin {{ sale.from_shop }}
  </div>
  <div class="panel-body">
    <ul>
      <li>Magasin : {{ sale.from_shop }}</li>
      <li>Opérateur : {{ sale.operator }}</li>
      <li>Acheteur : {{ sale.sender }}</li>
      <li>Date : {{ sale.datetime }}</li>
      <li>Montant : {{ sale.amount }}€</li>
      <li>Achats : {{ sale.string_products }}</li>
    </ul>
  </div>
</div>
{% endblock %}
