{% extends 'base_sober.html' %}
{% load bootstrap %}

{% block content %}
      <div class="panel panel-default">
        <div class="panel-heading">
          Liste 
          {% if group|has_group_perm:"add_sharedevent" %}
            <a class="btn btn-xs btn-success" href="{% url 'url_sharedevent_create' group_name=group.name %}">Nouveau</a>
          {% endif %}
        </div>
        <table class="table table-hover table-striped">
          <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Gestionnaire</th>
            <th>Inscrits / Participants</th>
            <th>Inscrit</th>
            <th>Gestion</th>
          </tr>
          {% for sharedevent in sharedevent_list %}
          <tr>
            <td>{{ sharedevent.date|date:"d/m/Y" }}</td>
            <td>{{ sharedevent.description }}</td>
            <td>{{ sharedevent.manager }}</td>
            <td>{{ sharedevent.registered.all.count }} / {{ sharedevent.participants.all.count }}</td>
            <td>
                {% if user in sharedevent.registered.all %}
                    Oui
                {% else %}
                    Non,
                    <a
                    href="{% url 'url_self_sharedevent_registration' group_name=group.name pk=sharedevent.pk %}"
                    class="btn btn-xs">s'inscrire</a>
                {% endif %}
            </td>
            <td>
                {% if user == sharedevent.manager %}
                    <a href="{% url 'url_sharedevent_update' group_name=group.name pk=sharedevent.pk %}">Gérer</a>
                {% endif %}
            </td>
          </tr>
          {% endfor %}
        </table>
      </div>
{% endblock %}
