{% extends 'base_sober.html' %}
{% load bootstrap %}
{% load finances_extra %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
          Evènements
          {% if group|has_group_perm:"create_sharedevent" %}
            <a class="btn btn-xs btn-success" href="{% url 'url_sharedevent_create' group_name=group.name %}">Nouveau</a>
          {% endif %}
        </div>
        <div class="panel-body">
          <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            {{ form|bootstrap_horizontal }}
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Recherche</button>
                <a class="btn btn-warning" href="">Remise à zéro</a>
              </div>
            </div>
          </form>
        </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Résultats
      </div>
      <table class="table table-hover table-striped">
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Gestionnaire</th>
          <th>Préinscrits / Participants</th>
          <th>Status</th>
          <th>Remarque</th>
          <th>Gestion</th>
        </tr>
        {% for sharedevent in shared_events %}
        <tr>
          <td>{{ sharedevent.date|date:"d/m/Y" }}</td>
          <td>{{ sharedevent.description }}</td>
          <td>{{ sharedevent.manager }}</td>
          <td>{{ sharedevent.total_weights_registrants }}/{{ sharedevent.total_weights_participants }}</td>
          {% if sharedevent.done %}
            <td>Terminé</td>
            <td>Participation : {{ sharedevent.weight_of_user }}</td>
          {% else %}
            <td>En attente</td>
            <td>Préinscrit : {{ sharedevent.weight_of_user }}
              {% if sharedevent.allow_self_registeration and not done %},
                <a href="{% url 'url_sharedevent_self_registration' group_name=group.name pk=sharedevent.pk %}"
                  class="btn btn-xs">
                  Se préinscrire
                </a>
              {% endif %}
            </td>
          {% endif %}
          <td>
              {% if user == sharedevent.manager %}
                  <a href="{% url 'url_sharedevent_update' group_name=group.name pk=sharedevent.pk %}">Gérer</a>
              {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
{% endblock %}
