{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <p><a class="s" href="{% url 'url_create_shared_event' %}?next=/finances/shared_event/list/">Créer un événement</a></p>
        </div>
        <div class="row">
            <table class="table_shop">
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Gestionnaire</th>
                    <th>Inscrits / Participants</th>
                    <th>Inscrit</th>
                    <th>Gestion</th>
                </tr>
                {% for e in query_shared_event %}
                    <tr>
                        <td>{{ e.date }}</td>
                        <td>{{ e.description }}</td>
                        <td>{{ e.manager }}</td>
                        <td>{{ e.registered.all.count }} / {{ e.participants.all.count }}</td>
                        <td>
                            {% if user in e.registered.all %}
                                Oui
                            {% else %}
                                Non, <a href="{% url 'url_registration_shared_event' %}?se_pk={{ e.pk }}&user_pk={{ user.pk }}">s'inscrire</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if user == e.manager %}
                                <a href="{% url 'url_manage_shared_event' pk=e.pk %}?next=/finances/shared_event/list/">Gérer</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
