{% extends 'base.html' %}

{% block content %}

    <div class="container50">
        <div clas="row">
            <form action= "{% url 'url_registration_event_shared' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type=hidden name="next" value="{{ next }}" />
                <p><input type="submit" value="S'inscrire"/> <a href="{% url 'url_profile' %}">Retour au profil</a></p>
            </form>
        </div>
        <div class="row">
            <table>
                <tr>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Nombre d'inscrits</th>
                </tr>
                {% for e in query_registered_shared_event %}
                    <tr>
                        <td>{{ e.description }}</td>
                        <td>{{ e.date }}</td>
                        <td>{{ e.registered.count }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}