{% extends 'base.html' %}
{% block content %}

    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-custom">
            <div class="panel-heading">
                <h2 class="align-center">Créer un événement</h2>
            </div>
            <div class="panel-body">
                <form class="form-style-1" action= "{% url 'url_create_shared_event' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_ul }}
                    <input type=hidden name="next" value="{{ next }}" />
                    <li><input type="submit" value="Créer"/></li>
                </form>
            </div>
        </div>
    </div>

{% endblock %}