{% extends 'base_sober.html' %}
{% load bootstrap %}
{% load l10n %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    Retour
  </div>
  <div class="panel-body">
    <a href="{% url 'url_sharedevent_update' pk=pk group_name=group.name %}" class="btn btn-success">Retour</a>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    Liste {% if not done %}et gestion manuelle {% endif %}des utilisateurs concernés.
  </div>
  <div class="panel-body">
    <form action="{% url 'url_sharedevent_manage_users' pk=pk group_name=group.name %}#table_users" method='get'>
        <p>{{ list_users_form.state.label }} : {{ list_users_form.state }}
            {{ list_users_form.order_by.label }} : {{ list_users_form.order_by }}
             <button type='submit' class="btn btn-default">Lister</button></p>
    </form>


    {% if not done %}
        <form action="{% url 'url_sharedevent_manage_users' pk=pk group_name=group.name %}" method='post'>
            {% csrf_token %}
            {{ add_weight_form.username.error_messages }} {{ add_weight_form.state.error_messages }} {{ add_weight_form.weight.error_messages }}
            <p>
              {{ form }}
              <button type='submit' class="btn btn-warning">Ajouter</button>
            </p>
        </form>
    {% endif %}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    {% if state == "users" %}Utilisateurs - Tous les concernés
    {% elif state == "participants" %}Utilisateurs - Uniquement les participants
    {% elif state == "registrants" %}Utilisateurs - Uniquement les préinscrits
    {% endif %}
  </div>
  <div class="panel-body" id="table_users">
    <p>
        {% if done == False %}
            {% if state == "users" %}
            <a class="btn btn-danger" href="{% url 'url_sharedevent_remove_user' group_name=group.name pk=pk user_pk='ALL' %}?state={{ state }}&order_by={{ order_by }}">
              Supprimer tous les utilisateurs
            </a>
            {% else %}
              <a class="btn btn-warning"
              href="{% url 'url_sharedevent_remove_user' group_name=group.name pk=pk user_pk='ALL' %}?state={{ state }}&order_by={{ order_by }}">
              RAZ de tous les users</a>
            {% endif %}
        {% endif %}
    </p>
    <table class="table table-default table-hover table-striped">
      <thead>
        <tr>
            <th>Username</th>
            <th>Prénom Nom</th>
            <th>Bucque</th>
            {% if state == 'users' %}
                <th>Préinscrit</th>
                <th>Pris</th>
            {% elif state == 'participants' %}
                <th>Pris</th>
            {% elif state == 'registrants' %}
                <th>Préinscrit</th>
            {% elif done %}
                <th>Pris</th>
            {% endif %}
            {% if state != "users" %}
              <th>Prix</th>
            {% endif %}
            {% if done == False %}
              <th>Supprimer</th>
            {% endif %}
        </tr>
      </thead>
      <tbody>
      {% for u in list_weights %}
          <tr>
              <td>{{ u.0.username }}</td>
              <td>{{ u.0.first_name }} {{ u.0.last_name }}</td>
              <td>{{ u.0.surname }}</td>

                {% if done %}
                  <td>
                  {{ u.1 }}
                  </td>
                {% else %}
                  {% if state == 'users' %}
                    <td>
                      <input id="weight_registered_{{ u.0.pk }}" class="form-control" type="number" min="0" value="{{ u.1 }}"/>
                    </td>
                    <td>
                      <input id="weight_participant_{{ u.0.pk }}" class="form-control" type="number" min="0" value="{{ u.2 }}"/>
                    </td>
                  {% elif state == 'participants' %}
                    <td>
                      <input id="weight_participant_{{ u.0.pk }}" class="form-control" type="number" min="0" value="{{ u.1 }}"/>
                    </td>
                  {% elif state == 'registrants' %}
                    <td>
                      <input id="weight_registered_{{ u.0.pk }}" class="form-control" type="number" min="0" value="{{ u.1 }}"/>
                    </td>
                  {% endif %}
                {% endif %}
              </td>
              {% if done %}
                <td>
                  {% if price %}
                    {{ u.2 }}
                  {% else %}
                    Indéfini
                  {% endif %}
                </td>
              {% elif state != "users" %}
              <td id="price_{{ u.0.pk }}">
                {% if price %}
                  {{ u.1 }}
                {% else %}
                  Indéfini
                {% endif %}
              </td>
              {% endif %}
              {% if not done %}
              <td>
                  {% if state == 'users' %}
                      <a class="btn btn-small btn-danger"
                      href="{% url 'url_sharedevent_remove_user' group_name=group.name pk=pk user_pk=u.0.pk %}?state={{ state }}&order_by={{ order_by }}">Supprimer</a>
                  {% else %}
                      <a class="btn btn-small btn-warning"
                      href="{% url 'url_sharedevent_remove_user' group_name=group.name pk=pk user_pk=u.0.pk %}?state={{ state }}&order_by={{ order_by }}">RAZ</a>
                  {% endif %}
              </td>
              {% endif %}
          </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>


{% if not done %}

<script type="text/javascript">
    // Modification à la volée de la pondération
    // Apres la modification (blur ou enter), requete ajax pour modifier la pondération
    {% for u in list_weights %}
        $('#weight_participant_{{ u.0.pk }}').change( function (){
          send_data("{% url 'url_sharedevent_change_weight' group_name=group.name pk=pk participant_pk=u.0.pk %}", $(this).val(), 1);
        });

        $('#weight_registered_{{ u.0.pk }}').change( function (){
          send_data("{% url 'url_sharedevent_change_weight' group_name=group.name pk=pk participant_pk=u.0.pk %}", $(this).val(), 0);
        });
    {% endfor %}

    function send_data (unique_url, new_weight, int_isParticipant) {
          $.ajax({
              method: "GET",
              url: unique_url,
              data: {
                  pond: new_weight,
                  isParticipant: int_isParticipant
              },
              success: function (response) {

              },
              error: function() {
              }
          });
    };

</script>

  {% if price %}
    {% if state == "participants" or state == "registrants" %}
      {% load static %}
      <script src="{% static 'js/shared_event/calculate_users_price.js' %}" >
      </script>
    {% endif %}
  {% endif %}
{% endif %}

{% endblock %}
