{% extends 'base.html' %}

{% block content %}

    <div class="container50">
        <h2 class="align-center">Rechargement de compte</h2>
        <form class="form-style-1" action= "{% url 'url_supply_united' %}" method="post">
            {% csrf_token %}
            {{ form.as_ul }}
            <li id="id_link_create_bank_account"><label>Le compte en banque n'est pas dans la liste ? <a class="s" href="{% url 'url_create_bank_account' %}?next=/finances/supply/united?next={{ next }}">Ajout !</a></label></li>
            <input type=hidden name="next" value="{{ next }}" />
            <li><input type="submit" value="Submit" id="id_submit"/></li>
        </form>

    </div>

    <script>
        var type = document.getElementById('id_type');
        var bank_account = document.getElementById('id_bank_account');
        var link_bank_account_create = document.getElementById('id_link_create_bank_account');
        var signature_date = document.getElementById('id_signature_date');
        var unique_number = document.getElementById('id_unique_number');
        var labels = document.getElementsByTagName('LABEL');
        for (var i = 0; i < labels.length; i++) {
            if (labels[i].htmlFor != '') {
                var elem = document.getElementById(labels[i].htmlFor);
                if (elem)
                    elem.label = labels[i];
            }
        }

        bank_account.style.display = 'None';
        bank_account.label.style.display = 'None';
        link_bank_account_create.style.display = 'None';
        signature_date.style.display = 'None';
        signature_date.label.style.display = 'None';
        unique_number.style.display = 'None';
        unique_number.label.style.display = 'None';

        type.addEventListener('change', function(e) {
            if (e.target.value === 'cheque') {
                bank_account.style.display = '';
                bank_account.label.style.display = '';
                link_bank_account_create.style.display = '';
                signature_date.style.display = '';
                signature_date.label.style.display = '';
                unique_number.style.display = '';
                unique_number.label.style.display = '';
            }
            else if (e.target.value === 'cash') {
                bank_account.style.display = 'None';
                bank_account.label.style.display = 'None';
                link_bank_account_create.style.display = 'None';
                signature_date.style.display = 'None';
                signature_date.label.style.display = 'None';
                unique_number.style.display = 'None';
                unique_number.label.style.display = 'None';
            }
            else if (e.target.value === 'lydia') {
                bank_account.style.display = 'None';
                bank_account.label.style.display = 'None';
                link_bank_account_create.style.display = 'None';
                signature_date.style.display = '';
                signature_date.label.style.display = '';
                unique_number.style.display = '';
                unique_number.label.style.display = '';
            }
        }, false);


    </script>
    <script>
        // Il faut supprimer les choix pour qu'ils n'apparaissent pas
        // Cependant ils doivent être dans la liste initiale (dans le form), sinon django n'est pas d'accord et ne valide pas
        var select = document.getElementById('id_bank_account');
        while (select.firstChild) {
            select.removeChild(select.firstChild);
        }
        document.getElementById('id_sender').addEventListener('blur', function() {
            // Remise à zéro des selects avant le changement
            var select = document.getElementById('id_bank_account');
            while (select.firstChild) {
                select.removeChild(select.firstChild);
            }
            var sender_elmt = document.getElementById('id_sender');
            var username = sender_elmt.value;

            var xhr = new XMLHttpRequest();
            xhr.open('GET', '{% url 'url_bank_account_from_user' %}?user_username=' + username);
            xhr.send(null);

            xhr.addEventListener('readystatechange', function() {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var parser = new DOMParser();
                    var XMLxhr = parser.parseFromString(xhr.responseText, "application/xml");

                    var list_xml_object = XMLxhr.getElementsByTagName('object');

                    for (var i = 0, c = list_xml_object.length ; i < c ; i++) {

                        var add_select = document.createElement('option');
                        add_select.setAttribute('value', list_xml_object[i].getAttribute('pk'));

                        var add_select_str = list_xml_object[i].getElementsByTagName('field')[0].innerHTML +
                                ' ' + list_xml_object[i].getElementsByTagName('field')[1].innerHTML;
                        add_select.text = add_select_str;

                        add_select.setAttribute('selected', 'selected');

                        document.getElementById('id_bank_account').appendChild(add_select);
                    }
                }
            }, false);

        }, false);

    </script>
{% endblock %}