{% extends 'base.html' %}

{% block content %}

    <div class="container30">
        <div class="row">
            <form action= "{% url 'url_supply_cheque' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type=hidden name="next" value="{{ next }}" />
                <input type="submit" value="Submit"/>
            </form>
        </div>
        <div class="row">
            <a href="{% url 'url_create_bank_account' %}">Ajouter un compte en banque</a>
        </div>
    </div>

{% endblock %}