{% extends 'base_sober.html' %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    Détails d'un transfert entre compte
  </div>
  <div class="panel-body">
    <ul>
      <li>Initiateur : {{ transfert.sender }}</li>
      <li>Receveur : {{ transfert.recipient }}</li>
      <li>Date : {{ transfert.datetime }}</li>
      <li>Montant : {{ transfert.amount }}€</li>
      <li>Justification : {{ transfert.justification }}</li>
    </ul>
  </div>
</div>
{% endblock %}
