{% extends 'base.html' %}

{% block content %}
    <ul>
        <li>Opérateur : <a href="{% url 'url_retrieve_user' pk=object.operator.id %}">{{ object.operator }}</a></li>
        <li>Client : <a href="{% url 'url_retrieve_user' pk=object.client.id %}">{{ object.client }}</a></li>
        <li>Date : {{ object.date }}</li>
        <li>Heure : {{ object.time }}</li>
        <li>Validation : {{ object.validated }}</li>
        <li>Erreur lors du crédit : {{ object.error_credit }}</li>
        <li>Montant total : {{ object.total }} €</li>
        <li>Chèque(s) lié(s):
            <ul>
                {% for e in object.list_cheques %}
                    <li><a href="{% url 'url_retrieve_cheque' pk=e.id %}">{{ e }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li>Espèce(s) liée(s) :
            <ul>
                {% for e in object.list_cashs %}
                    <li><a href="{% url 'url_retrieve_cash' pk=e.id %}">{{ e }}</a></li>
                {% endfor %}
            </ul>
        </li>
        <li>Virement(s) Lydia lié(s) :
            <ul>
                {% for e in object.list_lydias %}
                    <li><a href="{% url 'url_retrieve_lydia' pk=e.id %}">{{ e }}</a></li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endblock %}