{% extends 'base.html' %}

{% block content %}

    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-custom">
            <div class="panel-heading">
                <h2 class="align-center">Transfert inter-comptes</h2>
            </div>
            <div class="panel-body">
                <form class="form-style-1" action= "{% url 'url_create_transfert' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_ul }}
                    <li><input type="submit" value="Valider" id="id_submit"/></li>
                </form>
            </div>
        </div>
    </div>

{% endblock %}