{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row align-center">
            <h1>Création d'une transaction mixte</h1>
        </div>
        <div class="row">
            <div class="one-half column">
                <h3>Transaction</h3>
                <form action= "{% url 'url_create_transaction' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit"/>
                </form>
            </div>
            <div class="one-half column align-center">
                <h3>Créations d'éléments</h3>
                <ul>
                    <li><a href="{% url 'url_create_cheque' %}">Ajouter un chèque</a></li>
                    <li><a href="{% url 'url_create_cash' %}">Ajouter de l'espèce</a></li>
                    <li><a href="{% url 'url_create_lydia' %}">Ajouter un virement Lydia</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}