{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <h1 class="align-center">Workboard Trésoriers</h1>
        </div>
        <div class="row">
            <div>
                <ul class="listing-apps">
                    <li><a href="{% url 'url_supply_united' %}?next=/finances/treasury/workboard"><img src="{% static 'img/lydia.png' %}" alt="Crédit compte"><span class="name">Crédit compte</span></a></li>
                    <li><a href="{% url 'url_create_user' %}?next=/finances/treasury/workboard"><img src="{% static 'img/user.png' %}" alt="Ajout user"><span class="name">Ajout membre</span></a></li>
                    <li><a href="{% url 'url_list_user_complete' %}?next=/finances/treasury/workboard"><img src="{% static 'img/group.png' %}" alt="Lister users"><span class="name">Liste users</span></a></li>
                    <li><a href="{% url 'url_treasury_retrieve_money' %}"><img src="{% static 'img/money.png' %}" alt="Récupération argent"><span class="name">Récupération d'argent</span></a></li>
                    <li><a href="{% url 'url_link_token_user' %}?next=/finances/treasury/workboard"><img src="{% static 'img/token.png' %}" alt="Liaison jeton"><span class="name">Liaison jeton</span></a></li>
                    <li><a href="{% url 'url_manage_list_shared_event' %}"><img src="{% static 'img/events.png' %}" alt="Gestion événements"><span class="name">Gestion événements</span></a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}