{% extends 'base_sober.html' %}
{% load bootstrap %}
{% load modules_extra %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/i18n/defaults-fr_FR.min.js"></script>

<form method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Client
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12" id="user">
              {{ user }}
            </div>
          </div>
          <div class="row" id="figures">
            <div class="col-md-2" id="initial">{{ user.balance }}</div>
            <div class="col-md-2">-</div>
            <div class="col-md-2" id="total">0.00</div>
            <div class="col-md-2">=</div>
            <div class="col-md-4" id="result">{{ user.balance }}</div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-block btn-success" type="submit">Valider</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          Récapitulatif
        </div>
        <div class="panel-body">
          <div class="row">
            <ul id="invoice">
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Vente
        </div>
        <div class="panel-body">
          <ul class="nav nav-tabs" role="tablist" id="tablist">
            {% for category in categories %}
            <li role="presentation">
              <a href="#{{ category.pk }}" aria-controls="home" role="tab" data-toggle="tab">
                {{ category.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
          <div class="tab-content" id="tab-content">
            {% for category in categories %}
            <div role="tabpanel" class="tab-pane" id="{{ category.pk }}">
              <table class="table table-default table-striped table-hover">
                <thead>
                  <th>Produit</th>
                  <th>Commande</th>
                  <th>Prix unitaire</th>
                  <th>Sous total</th>
                </thead>
                <tbody>
                  {% for field in form %}
                    {% if field.field.widget.attrs.data_category_pk == category.pk %}
                    <tr>
                      <td>{{ field.errors }}{{ field.label_tag }}</td>
                      <td>{{ field }}</td>
                      <td>{{ field.field.widget.attrs.data_usual_price }}</td>
                      <td id="total_{{ field.field.widget.attrs.pk }}">0.00</td>
                    </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  <div>
</form>
<style>
  #figures div {
    font-size: 30px;
    text-align: center;
  }
  #figures {
    margin-bottom: 10px;
  }
  #user {
    font-size: 30px;
    text-align: center;
  }
</style>
<script>
  $("input[id^='id_']").change(function() {
    let pk = $(this).attr('pk')
    let usual_price = $(this).attr('data_usual_price')
    $("#total_"+pk).text((Number(usual_price) * $(this).val()).toFixed(2))
    total()
  })
  function total () {
    let total = 0
    $("#invoice").empty()
    $("input[id^='id_']").each(function() {
      let pk = $(this).attr('pk')
      let product = $("label[for='"+$(this).attr('id')+"']").text().substring(0, $("label[for='"+$(this).attr('id')+"']").text().length-1)
      total += Number($("#total_"+pk).text())
      if ($(this).val() > 0) {
        $("#invoice").append(
          "<li>" + product + " x" + $(this).val() + "</li>"
        )
      }
    })
    $("#total").text(total.toFixed(2))
    $("#result").text((Number($("#initial").text()) - total.toFixed(2)).toFixed(2))
    if (Number($("#result").text()) < 0) {
      $("#result").attr("class", "col-md-4 text-danger bg-danger")
    } else if (Number($("#result").text()) > 0) {
      $("#result").attr("class", "col-md-4 text-success bg-success")
    } else {
      $("#result").attr("class", 'col-md-4')
    }
  }
  $("div[role='tabpanel']").first().attr('class', 'tab-pane active')
  $("li[role='presentation']").first().attr('class', 'active')
</script>
{% endblock %}
