{% extends 'base_sober.html' %}
{% load l10n %}
{% load bootstrap %}
{% load modules_extra %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/i18n/defaults-fr_FR.min.js"></script>

<form method="post" id="sale_form">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Client
        </div>
        <div class="panel-body">
          {% if form.non_field_errors %}
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-danger">
                <a class="close" data-dismiss="alert">×</a>
                {{ form.non_field_errors }}
              </div>
            </div>
          </div>
          {% endif %}
          <div class="row">
            <div class="col-md-12" id="user">
              {{ user }}
            </div>
          </div>
          <div class="row" id="figures">
            <div class="col-md-2"><span id="initial">{{ user.balance|unlocalize }}</span>€</div>
            <div class="col-md-2">-</div>
            <div class="col-md-2"><span id="total">0.00</span>€</div>
            <div class="col-md-2">=</div>
            <div class="col-md-4" id="result_line"><span id="result">{{ user.balance|unlocalize }}</span>€</div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button class="btn btn-block btn-success" type="submit">Valider</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          Récapitulatif
        </div>
        <div class="panel-body">
          <div class="row">
            <ul id="invoice">
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Vente {{ shop.name|capfirst }}
        </div>
        <div class="panel-body">
          <ul class="nav nav-tabs" role="tablist" id="tablist">
            {% if form|containerCasesFieldsCount != 0 %}
            <li role="presentation">
              <a href="#container_cases" aria-controls="home" role="tab" data-toggle="tab">
                Emplacements
              </a>
            </li>
            {% endif %}
            {% for category in categories %}
            <li role="presentation">
              <a href="#{{ category.pk }}" aria-controls="home" role="tab" data-toggle="tab">
                {{ category.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
          <div class="tab-content" id="tab-content">
            {% if form|containerCasesFieldsCount != 0 %}
            <div role="tabpanel" class="tab-pane" id="container_cases">
              <table class="table table-default table-striped table-hover">
                <thead>
                  <th></th>
                  <th>Emplacement</th>
                  <th>Produit</th>
                  <th>Commande</th>
                  <th>Prix unitaire</th>
                  <th>Sous total</th>
                </thead>
                <tbody>
                  {% for field in form %}
                    {% if field.field.widget.attrs.data_category_pk == 'container_cases' %}
                    <tr>
                      <td class="F"></td>
                      <td>{{ field.field.widget.attrs.data_container_case_name }}</td>
                      <td>{{ field.errors }}{{ field.label_tag }}</td>
                      <td>{{ field }}</td>
                      <td>{{ field.field.widget.attrs.data_usual_price|unlocalize }}€</td>
                      <td><span id="total_{{ field.field.widget.attrs.pk }}">0.00</span>€</td>
                    </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endif %}
            {% for category in categories %}
            <div role="tabpanel" class="tab-pane" id="{{ category.pk }}">
              <table class="table table-default table-striped table-hover">
                <thead>
                  <th></th>
                  <th>Produit</th>
                  <th>Commande</th>
                  <th>Prix unitaire</th>
                  <th>Sous total</th>
                </thead>
                <tbody>
                  {% for field in form %}
                    {% if field.field.widget.attrs.data_category_pk == category.pk %}
                    <tr>
                      <td class="F"></td>
                      <td>{{ field.errors }}{{ field.label_tag }}</td>
                      <td>{{ field }}</td>
                      <td>{{ field.field.widget.attrs.data_usual_price|unlocalize }}€</td>
                      <td><span id="total_{{ field.field.widget.attrs.pk }}">0.00</span>€</td>
                    </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  <div>
</form>
<style>
  #figures div {
    font-size: 30px;
    text-align: center;
  }
  #figures {
    margin-bottom: 10px;
    {% comment %}
    color: white;
    {% endcomment %}
    padding-left: 15px;
    padding-right: 15px;
  }
  #user {
    font-size: 30px;
    text-align: center;
  }
</style>
<script>
  $("input[id^='id_']").change(function() {
    let pk = $(this).attr('pk')
    let usual_price = $(this).attr('data_usual_price')
    $("#total_"+pk).text((Number(usual_price) * $(this).val()).toFixed(2))
    total()
  })
  function total () {
    let total = 0
    $("#invoice").empty()
    $("input[id^='id_']").each(function() {
      let pk = $(this).attr('pk')
      let product = $("label[for='"+$(this).attr('id')+"']").text().substring(0, $("label[for='"+$(this).attr('id')+"']").text().length-1)
      total += Number($("#total_"+pk).text())
      if ($(this).val() > 0) {
        $("#invoice").append(
          "<li>" + product + " x" + $(this).val() + "</li>"
        )
      }
    })
    $("#total").text(total.toFixed(2))
    $("#result").text((Number($("#initial").text()) - total.toFixed(2)).toFixed(2))
    if (Number($("#result").text()) < 0) {
      $("#result_line").attr("class", "col-md-4 bg-danger")
    } else if (Number($("#result").text()) > 0) {
      $("#result_line").attr("class", "col-md-4 bg-success")
    } else {
      $("#result_line").attr("class", 'col-md-4')
    }
  }

  // First iteration (in case of form errors)
  $("input[id^='id_']").each(function() {
    $(this).trigger('change')
  })

  $("div[role='tabpanel']").first().attr('class', 'tab-pane active')
  $("li[role='presentation']").first().attr('class', 'active')
</script>
<script>
  // Navigation script

  // Ajout des informations de touches
  {% if form|containerCasesFieldsCount != 0 %}
  $("#container_cases :input").each(function(index) {
    let td = $(this).closest('tr').find('.F')
    if ((index + 1) <= 12) {
      $(td).text("F" + (index + 1))
    }
  })
  {% endif %}
  {% for category in categories %}
    $("#{{ category.pk }} :input").each(function(index) {
      let td = $(this).closest('tr').find('.F')
      if ((index + 1) <= 12) {
        $(td).text("F" + (index + 1))
      }
    })
  {% endfor %}

  $(document).keydown(function(e) {
    // Right arrow
    if (e.which == 39) {
      moveTab('next')
    }
    // Left arrow
    if (e.which == 37) {
      moveTab('previous')
    }
    // Enter (numeric included)
    if (e.which == 13) {
      $("#sale_form").submit()
    }

    // Il n'est pas possible de suivre de manière simple l'index des champs
    // dans le formulaire, car la boucle est conditionnée par un if.
    // On attribut donc le "Fx" par le javascript ici.
    // F1
    {% for i in "xxxxxxxxxxxx" %}
      if (e.which == {{ forloop.counter0|add:112 }}) {
        e.preventDefault()
        addOne({{ forloop.counter0|add:1 }})
      }
    {% endfor %}
  })

  function moveTab(nextOrPrev) {
    var currentTab = ""
    var currentPane = ""
    $('.nav-tabs li').each(function () {
      if ($(this).hasClass('active')) {
        currentTab = $(this)
      }
    })
    $('.tab-content div').each(function () {
      if ($(this).hasClass('active')) {
        currentPane = $(this)
      }
    })

   if (nextOrPrev == "next") {
      if (currentTab.next().length)
      {
         currentTab.removeClass('active')
         currentTab.next().addClass('active')
         currentPane.removeClass('active')
         currentPane.next().addClass('active')
      }
    } else {
      if (currentTab.prev().length)
      {
        currentTab.removeClass('active')
        currentTab.prev().addClass('active')
        currentPane.removeClass('active')
        currentPane.prev().addClass('active')
      }
    }
  }

  function addOne(index) {
    var currentPane = ""
    $('.tab-content div').each(function (i) {
      if ($(this).hasClass('active')) {
        currentPane = $(this)
      }
    })
    let tr = $(currentPane).find('tr')[index]
    if (tr) {
      $(tr).find('input').val(Number($(tr).find('input').val()) + 1)
      $(tr).find('input').trigger("change")
    }
  }
</script>
{% endblock %}
