{% extends 'base_sober.html' %}
{% load static %}
{% load bootstrap %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/i18n/defaults-fr_FR.min.js"></script>

<div class="panel panel-default">
  <div class="panel-heading">
    Gestion des catégories du module {{ module }} pour le magasin {{ shop }}
  </div>
  <div class="panel-body">
    <form method="post">
      <div class="row">
        {% csrf_token %}
        <div class="col-md-12">
          {{ places_form|bootstrap }}
        </div>
        {{ cat_form.management_form }}
        {% for category_form in cat_form %}
          <div class="category_formset col-md-4" style="margin-top: 15px">
            <div class="panel panel-default">
              <div class="panel-body">
                {{ category_form|bootstrap }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-success" type="submit">Valider</button>
        </div>
      </div>
    </form>
    <p class="bg-info" style="margin-top: 10px">Remarque : il n'est pas conseillé d'utiliser les produits dans les différentes catégories
    si ces produits sont déjà utilisés dans des emplacements de ventes actifs. L'utilisateur pourra commander ces produits
    soit par l'emplacement de vente, soit par la catégorie et la gestion des stocks en sera difficile.</p>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>
<script>
    $('.category_formset').formset({
        addText: 'Nouvelle catégorie',
        deleteText: 'Supprimer',
        addCssClass: 'add-row btn btn-success btn-sm',
        deleteCssClass: 'delete-row',
        added: function(row) {
          $(row).find('.selectpicker').each(function() {
            $(this).selectpicker();
          })
        }
    });
</script>
<style>
  .add-row {
    margin: 15px;
  }
</style>
{% endblock %}
