{% extends 'base_clean.html' %}
{% load static %}
{% load bootstrap %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-body">
    <section class="form-section">
		<section>
			<form method='post' autocomplete="off" role="login" action="{% url 'url_login' %}">
				{% if default_theme == 'dark' %}
				  <img src="{% static 'img/borgia-logo-dark.png' %}" class="logo img-responsive"/>
				{% else %}
					<img src="{% static 'img/borgia-logo-light.png' %}" class="logo img-responsive"/>
				{% endif %}
				{% csrf_token %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger">
              <a class="close" data-dismiss="alert">×</a>
              {{ form.non_field_errors|escape }}
            </div>
        {% endif %}

				  <div class="form-group">
					  <input type="text" name="username" id="id_username" class="form-control autocomplete_username ui-autocomplete-input" autofocus="true" autocomplete="off" placeholder="Nom d'utilisateur" maxlength="255" required="">				    
					  <span class="glyphicon glyphicon-user"></span>
          </div>
          <div class="form-group">
             <input type="password" name="password" id="id_password" placeholder="Mot de passe" maxlength="255" class="form-control" required="">
             <span class="glyphicon glyphicon-lock"></span>
          </div>
          <input type="hidden" name="next" value="{{ next }}">
				<p class="text-right password-reset-button">
				  <a class="btn btn-warning btn-xs" href="{% url 'password_reset' %}">Mot de passe oublié ?</a>
				</p>
				<button
					type="submit"
					class="btn btn-grenat btn-block"
					style="font-size: 20px; margin-top: 10px;">Se connecter</button>
			</form>
		</section>
	</section>
  </div>
  <div class="panel-footer">
	<p class="text-left login-footer-text">
		{% if next %}<i class="fa fa-long-arrow-right" aria-hidden="true"></i> {{ humanized_next }}
		{% else %}<i class="fa fa-long-arrow-right" aria-hidden="true"></i> Accueil {% endif %}
		{% if shop_list|length > 0 %}
		<button type="button" class="btn btn-primary btn-xs pull-right" data-toggle="modal" data-target="#direct_links">
		Liens directs
		</button>
		{% endif %}
	</p>
  </div>
</div>

<div class="modal fade" id="direct_links" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Liens directs</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <a class="btn btn-xs btn-block btn-success" href="{% url 'url_login' %}">Lien par défaut</a>
          </div>
        </div>
        <div class="row" style="margin-top: 10px">
          <div class="col-md-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Magasin</th>
                  <th>Vente libre service</th>
                  <th>Vente par opérateur</th>
                </tr>
              <tbody>
                {% for object in shop_list %}
                <tr>
                  <td>{{ object.shop.name|capfirst }}</td>
                  <td><a href="{{ object.self_module_link }}"
                    class="btn btn-xs btn-block
                    {% if object.self_module.state %}btn-success{% else %}btn-danger disabled{% endif %}">Lien direct</a></td>
                  <td><a href="{{ object.operator_module_link }}"
                    class="btn btn-xs btn-block
                    {% if object.operator_module.state %}btn-success{% else %}btn-danger disabled{% endif %}">Lien direct</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <p>Les liens en vert correspondent à des modules de vente activés, les rouges à des modules inactifs.</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
