{% extends 'base_clean.html' %}
{% load bootstrap %}

{% block content %}

{% if validlink %}
<div class="panel panel-warning">
    <div class="panel-heading">
        Definition du nouveau mot de passe
    </div>
    <div class="panel-body">
        <form action= "" method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-success">Envoyer</button>
        </form>
    </div>
</div>
{% else %}
<div class="panel panel-danger">
    <div class="panel-heading">
        Lien invalide
    </div>
    <div class="panel-body">
      Ce lien de réinitialisation de mot de passe n'est pas valide. Il a peut être déjà été utilisé ou invalidé.
    </div>
</div>
{% endif %}
{% endblock %}
