{% load compile_static %}
{% load static %}
{% load users_extra %}
{% load bootstrap %}
{% load l10n %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>
      Borgia - {% get_center_name %}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
    {% if request.user.theme %}
      {% set_template request.user.theme as template %}
    {% else %}
      {% set_default_template as template %}
    {% endif %}
    <link rel="stylesheet" href="{% static template|compile %}" />

    {% include "partials/favicon_metadata.html" %}

    {% include "partials/ext_dependencies_metadata.html" %}

    <script src="{% static 'js/widgets.js' %}"></script>
</head>
<body class="body-clean">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% if user.is_authenticated %}{% url 'url_members_workboard' %}{% endif %}">
        </a>
        <p class="navbar-text navbar-text-center">{% get_center_name %}</p>
      </div>
    </div>
  </nav>

  <div class='container'>
    <div class='center-block login-form'>
      {% block content %}
      {% endblock %}
    </div>
  </div>

    {% include "partials/footer.html" %}
</body>
</html>
