{% extends 'base_sober.html' %}
{% load bootstrap %}
{% load static %}

{% block content %}
<link rel='stylesheet' href="{% static 'css/fullcalendar.min.css' %}" />
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/fullcalendar.min.js' %}"></script>
<script src="{% static 'js/fullcalendar-locale-all.js' %}"></script>
<div class="row">
  <div class='col-md-8'>
    <div class="panel panel-default">
        <div class="panel-heading">
            Workboard Association Manager : {{ group.name.upper }}
        </div>
        <div class="panel-body">
          <div id='calendar'></div>
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            Raccourcis
        </div>
        <div class="panel-body">
          <h4>Utilisateurs</h4>
          <a class="btn btn-default" href="{% url 'url_user_create' %}">Ajouter</a>
          <a class="btn btn-default" href="{% url 'url_user_list' %}">Lister</a>
          <h4>Magasins</h4>
          <a class="btn btn-default" href="{% url 'url_shop_create' %}">Ajouter</a>
          <a class="btn btn-default" href="{% url 'url_shop_list' %}">Lister</a>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
          Dernières ventes
      </div>
      <table class="table table-hover table-striped">
        <tr>
            <th>Opérateur</th>
            <th>Acheteur</th>
            <th>Prix</th>
            <th>Magasin</th>
            <th>Détail</th>
        </tr>
        {% for sale in sale_list %}
        <tr>
            <td>{{ sale.operator }}</td>
            <td>{{ sale.sender }}</td>
            <td>{{ sale.amount }}€</td>
            <td>{{ sale.from_shop }}</td>
            <td>
              <a href="{% url 'url_sale_retrieve' shop_pk=sale.shop.pk sale_pk=sale.pk %}">Détail</a>
            </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="col-md-4">
    <!-- User quick search -->
      {% include "users/user_quick_search.html" %}
  </div>
</div>
<script>
  $(document).ready(function() {
      $('#calendar').fullCalendar({
          locale: 'fr',
          height: 500,
          events: [
            {% for e in events %}
            {
               title: '{{ e.title }}',
               start: '{{ e.start|date:"Y-m-d" }}',
            },
            {% endfor %}
          ]
      })
  });
</script>
{% endblock %}
