{% extends 'base_sober.html' %}
{% load bootstrap %}
{% load finances_extra %}
{% load l10n %}

{% block content %}
{% localize off %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<div class="row">
  <div class='col-md-8'>
    <div class="panel panel-default">
        <div class="panel-heading">
            Dernières transactions
            <a class="btn btn-info btn-xs pull-right" href="{% url 'url_self_transaction_list' %}">
                Accéder à la liste des transactions
            </a>
        </div>
        <div class="panel-body">
          <div>
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#all" aria-controls="all" role="tab" data-toggle="tab">Tous</a></li>
              {% for object in transaction_list.shops %}
                {% if object.sale_list_short %}
                <li role="presentation">
                  <a href="#{{ object.shop.name }}"
                    aria-controls="{{ object.shop.name }}"
                    role="tab" data-toggle="tab">{{ object.shop.name|capfirst }}
                  </a>
                </li>
                {% endif %}
              {% endfor %}
              {% if transaction_list.transferts.transfert_list_short %}
              <li role="presentation">
                <a href="#transferts"
                  aria-controles="transferts"
                  role="tab" data-toggle="tab">Transferts
                </a>
              </li>
              {% endif %}
              {% if transaction_list.rechargings.recharging_list_short %}
              <li role="presentation">
                <a href="#rechargings"
                  aria-controles="rechargements"
                  role="tab" data-toggle="tab">Rechargements
                </a>
              </li>
              {% endif %}
              {% if transaction_list.exceptionnalmovements.exceptionnalmovements_list_short %}
              <li role="presentation">
                <a href="#exceptionnalmovements"
                  aria-controles="mouvements exceptionnels"
                  role="tab" data-toggle="tab">Exceptionnels
                </a>
              </li>
              {% endif %}
              {% if transaction_list.events.event_list_short %}
              <li role="presentation">
                <a href="#events"
                  aria-controles="events"
                  role="tab" data-toggle="tab">Evénements
                </a>
              </li>
              {% endif %}
            </ul>

            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="all">
                <table class="table table-default">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Libellé</th>
                      <th>Montant</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for transaction in transaction_list.all %}
                    <tr>
                      <td>{{ transaction.datetime|date:"d/m/Y H:i:s" }}</td>
                      <td>{{ transaction }}</td>
                      <td>
                        {% if transaction|get_transaction_model == 'Sale' %}
                          -{{ transaction.amount }}€
                        {% elif transaction|get_transaction_model == 'ExceptionnalMovement' %}
                          {% if transaction.is_credit %}
                            {{ transaction.amount }}€
                          {% else %}
                            -{{ transaction.amount }}€
                          {% endif %}
                        {% elif transaction|get_transaction_model == 'Transfert' %}
                          {% if transaction.recipient == user %}
                            {{ transaction.amount }}€
                          {% else %}
                            -{{ transaction.amount }}€
                          {% endif %}
                        {% elif transaction|get_transaction_model == 'Event' %}
                          -{{ transaction.amount }}€
                        {% else %}
                          {{ transaction.amount }}€
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              {% for object in transaction_list.shops %}
              <div role="tabpanel" class="tab-pane" id="{{ object.shop.name }}">
                <table class="table table-default">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Produits</th>
                      <th>Montant</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for transaction in object.sale_list_short %}
                    <tr>
                      <td>{{ transaction.datetime|date:"d/m/Y H:i:s" }}</td>
                      <td>{{ transaction.string_products }}</td>
                      <td>-{{ transaction.amount }}€</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              {% endfor %}
              <div role="tabpanel" class="tab-pane" id="transferts">
                <table class="table table-default">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Justification</th>
                      <th>Montant</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for transfert in transaction_list.transferts.transfert_list_short %}
                    <tr>
                      <td>{{ transfert.datetime|date:"d/m/Y H:i:s" }}</td>
                      <td>{{ transfert.justification }}
                      {% if transfert.sender == user %} vers {{ transfert.recipient }}{% else %} depuis {{ transfert.sender }}{% endif %}</td>
                      <td>
                        {% if transfert.sender == user %}
                          - {{ transfert.amount }}€
                        {% else %}
                          {{ transfert.amount }}€
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div role="tabpanel" class="tab-pane" id="rechargings">
                <table class="table table-default">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Libellé</th>
                      <th>Montant</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for recharging in transaction_list.rechargings.recharging_list_short %}
                    <tr>
                      <td>{{ recharging.datetime|date:"d/m/Y H:i:s" }}</td>
                      <td>{{ recharging }}</td>
                      <td>{{ recharging.amount }}€</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div role="tabpanel" class="tab-pane" id="exceptionnalmovements">
                <table class="table table-default">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Justification</th>
                      <th>Montant</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for exceptionnalmovement in transaction_list.exceptionnalmovements.exceptionnalmovement_list_short %}
                    <tr>
                      <td>{{ exceptionnalmovement.datetime|date:"d/m/Y H:i:s" }}</td>
                      <td>{{ exceptionnalmovement.justification }}</td>
                      <td>
                        {% if exceptionnalmovement.is_credit %}
                          {{ exceptionnalmovement.amount }}
                        {% else %}
                          -{{ exceptionnalmovement.amount }}
                        {% endif %}
                        €
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <div role="tabpanel" class="tab-pane" id="events">
                <table class="table table-default">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Description</th>
                      <th>Montant</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for sale in transaction_list.events.event_list_short %}
                    <tr>
                      <td>{{ sale.datetime|date:"d/m/Y H:i:s" }}</td>
                      <td>{{ sale }}</td>
                      <td>-{{ sale.amount }}€</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class='col-md-4'>
    <div class="panel panel-default">
        <div class="panel-heading">
            Proportions des magasins
        </div>
        <div class="panel-body">
          <canvas id="PieChart" width="auto" height="196"></canvas>
        </div>
    </div>
  </div>
</div>
<script>
  var ctx = "PieChart";
  var data = {
    labels: [
      {% for object in transaction_list.shops %}
      {% if object.sale_list_short %}
      "{{ object.shop.name }}"
      {% if not loop.last %}
      ,
      {% endif %}
      {% endif %}
      {% endfor %}
    ],
    datasets: [
        {
            data: [
              {% for object in transaction_list.shops %}
              {% if object.sale_list_short %}
              "{{ object.total }}"
              {% if not loop.last %}
              ,
              {% endif %}
              {% endif %}
              {% endfor %}
            ],
            backgroundColor: [
              {% for object in transaction_list.shops %}
              {% if object.sale_list_short %}
              "{{ object.shop.color }}"
              {% if not loop.last %}
              ,
              {% endif %}
              {% endif %}
              {% endfor %}
            ],
            hoverBackgroundColor: [
              {% for object in transaction_list.shops %}
              {% if object.sale_list_short %}
              "{{ object.shop.color }}"
              {% if not loop.last %}
              ,
              {% endif %}
              {% endif %}
              {% endfor %}
            ]
        }]
  };
  var PieChart = new Chart(ctx, {
    type: 'pie',
    data: data,
    options: {
      legend: {
        position: 'left'
      }
    }
  });
</script>
<div class="row">
  <div class='col-md-12'>
    <div class="panel panel-default">
        <div class="panel-heading">
            Synthèse des consommations
        </div>
        <div class="panel-body">
          <canvas id="LineChart" width="auto" height="100"></canvas>
        </div>
    </div>
  </div>
</div>
<script>
  var ctx = "LineChart";
  var data = {
    labels: [
      {% for month in transaction_list.months %}
      "{{ month }}"
      {% if not loop.last %}
      ,
      {% endif %}
      {% endfor %}
    ],
    datasets: [
        {% for object in transaction_list.shops %}
        {% if object.sale_list_short %}
        {
            label: "{{ object.shop.name|capfirst }}",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "{{ object.shop.color }}",
            borderColor: "{{ object.shop.color }}",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "{{ object.shop.color }}",
            pointHoverBorderColor: "{{ object.shop.color }}",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [
              {% for amount in object.data_months %}
              {{ amount }}
              {% if not loop.last %}
              ,
              {% endif %}
              {% endfor %}
            ],
            spanGaps: false,
        }
        {% if not loop.last %}
        ,
        {% endif %}
        {% endif %}
        {% endfor %}
    ]
  };
  var LineChart = new Chart(ctx, {
      type: 'line',
      data: data,
      scaleFontColor: "red",
      options: {
        scales: {
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Consommation (€)'
            }
          }]
        }
      }
  });
</script>
{% endlocalize %}
{% endblock %}
