{% load static %}
<!-- This snippet requires a tree of links to be displayed, a list of objects.
For instance :
context['nav_tree'] = nav_tree = [
    {
        'label': 'Link1',
        'icon': 'home',
        'id': 1,
        'subs': [
            {
                'label': 'Sublink1',
                'icon': 'home',
                'url': '/sublink1',
                'id': 11
            },
            {
                'label': 'Sublink2',
                'icon': 'pencil',
                'url': '/sublink2',
                'id': 12
            }
            ]
    },
    {
        'label': 'Link2',
        'icon': 'book',
        'url': '/link2',
        'id': 2
    },
    {
        'label': 'Link3',
        'id': 3,
        'subs': [
            {
                'label': 'Sublink3',
                'icon': 'book',
                'url': '/sublink3',
                'id': 31
            },
            {
                'label': 'Sublink4',
                'icon': 'gear',
                'url': '/sublink4',
                'id': 32
            }
        ]
    }
]
-->
<!-- Multi-level push menu -->
{% if nav_tree %}
	<nav id="sidebar" class="mp-menu">
		<div class="mp-level">
			<div class="mp-header">
			  <div id="mp-header-mobile" class="visible-xs visible-sm">
			   <ul class="list-group">
			     <li class="mp-header-list-item list-group-item" style="display: flex;">
				 {% if request.user.avatar %}
					 <span class="navbar-text-avatar"><img src="{{ request.user.avatar.url }}" class="user-avatar"/></span>
				 {% endif %}
				 <h2 class="navbar-text">{{ request.user.get_full_name }}</p></h2>
				 </li>
				 <li class="mp-header-list-item list-group-item text-center">
					 <span
					 style="font-weight: bold"
					 class="{% if request.user.balance > 0 %}text-success{% else %}text-danger{% endif %}">Solde: {{ request.user.balance }} €</span>
				 </li>
				 <li class="mp-header-list-item list-group-item mp-header-settings">
					<a class="col-xs-6" style="box-shadow: inset -1px 0 rgba(0, 0, 0, 0.2) !important;" href="">
						<i class="fa fa-bell" aria-hidden="true"></i>
					</a>
					<a data-target="#sidebarSettings" class="dropdown-toggle col-xs-6" data-toggle="collapse" role="button" aria-expanded="false">
						<i class="fa fa-cog" aria-hidden="true"></i> <span class="caret"></span>
					</a>
					<ul class="list-unstyled col-xs-12 collapse" id="sidebarSettings" aria-expanded="false">
						<li><a href="{% url 'url_user_update' user_pk=request.user.pk %}">
							<i class="fa fa-pencil" aria-hidden="true" style="margin-right: 5px;"></i>Modifier mes informations
						</a></li>
						<li><a href="{% url 'url_self_lydia_create' %}">
							<i class="fa fa-credit-card" aria-hidden="true" style="margin-right: 5px;"></i>Recharger mon compte
						</a></li>
						<li><a href="{% url 'url_logout' %}" style="box-shadow: none;">
							<i class="fa fa-sign-out" aria-hidden="true" style="margin-right: 5px;"></i>Se déconnecter
						</a></li>
					</ul>
				 </li>
				</ul>
			  </div>
			  <div id="mp-header-desktop" class="hidden-xs hidden-sm">
				<a class="navbar-brand" href="{% if user.is_authenticated %}{% url 'url_members_workboard' %}{% endif %}">
					{% set_brand request.user.theme as brand %}
					<span style="background: url('{% static brand %}') no-repeat; background-size: cover" class="logo"/> </span>
				</a>
			  </div>
			</div>
			<ul class="list-group">
			{% for link in nav_tree %}
				<li>
					<a
					class="menu-item {% if link.class %}list-group-item-{{ link.class }}{% endif %}
					{% if link.active %}active{% else %}
					{% if link.subs %}
					{% for sub in link.subs %}
						{% if sub.active %}active{% endif %}
					{% endfor %}
					{% endif %}
					{% endif %}"
					href="{% if link.url %}{{ link.url }}{% else %}#{% endif %}"
					id={{ link.id }}
					{% if link.subs %}data-has-subs{% endif %}
					>
						<i class="fa fa-{{ link.icon }} fa-fw" aria-hidden="true"></i>
						&nbsp; {{ link.label }}
						{% if link.subs %}
							<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
						{% endif %}
					</a>
					{% if link.subs %}
						<div class="mp-level">
							<div class="mp-header">
							  <h2>{{ link.label }}</h2>
							</div>
							<a class="mp-back" href="#">
								<i class="fa fa-angle-left pull-left" aria-hidden="true"></i>
								<i class="fa fa-angle-left pull-left" aria-hidden="true"></i>
								Retour
							</a>

							<ul>
							{% for link_sub in link.subs %}
								<li>
									<a
										class="menu-item {% if link_sub.active %}active{% endif %}"
										href="{% if link_sub.url %}{{ link_sub.url }}{% else %}#{% endif %}"
										id={{ link_sub.id }}
									>
										<i class="fa fa-{{ link_sub.icon }} fa-fw" aria-hidden="true"></i>
											&nbsp; {{ link_sub.label }}
											{% if link_sub.subs %}
												<i class="fa fa-angle-right" aria-hidden="true"></i>
											{% endif %}
									</a>

								</li>

							{% endfor %}
							</ul>
						</div>
					{% endif %}
				</li>
			{% endfor %}
			</ul>
		</div>
	</nav>
{% endif %}
<!-- /mp-menu -->
