{% extends 'base_sober.html' %}
{% load bootstrap %}

{% block content %}

<h1>Ajout de users par fichier excels</h1>
<div class="panel panel-info">
    <div class="panel-heading">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
        Informations
    </div>
    <div class="panel-body">
      <p>Cette page permet d'ajouter des users par fichier excels.</p>
      <p>La fonctionnalités est encore en mode PRE-ALPHA ! C'est a dire qu'elle n'as pas encore été testée totallement, et qu'elle contient potentiellement des bugs.</p>
      <p>Pour cette raison, cette page n'est pas accessible depuis une navigation "normale" dans Borgia. Celle-ci sera integrée après un dévellopement plus poussé.</p>
      <p>Dans tout les cas, Merci de faire <strong>VRAIMENT</strong> attention, cad de rentrer les utilisateurs petit à petit si possible, et de vérifier le résultat. MERCI de bien remplir les différents champs ! Par de caractères chelous, une adresse email valide, etc...
      Si jamais une erreur se produit, elle n'est, pour l'instant, pas affichée. Vous ne pourrez donc pas savoir que tel ou tel utilisateurs n'a pas été rentré dans la base de donnée. Mais bon ça devrait quand même bien macher le travail.</p>
    </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Chargement d'un fichier Excel pondéré
      </div>
      <div class="panel-body">
        <form enctype="multipart/form-data" action="{% url 'url_add_users_xlsx' group_name=group.name %}" method='post' class="form-horizontal">
        {% csrf_token %}
        {{ form|bootstrap_horizontal }}
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-success">Uploader l'Excel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
      Téléchargement de fichiers Excels
    </div>
    <div class="panel-body">
      <form action= "{% url 'url_add_users_download_xlsx' group_name=group.name %}" method="get" class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Télécharger l'Excel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
{% endblock %}
