{% extends 'base_sober.html' %}

{% block content %}
<div class="panel panel-danger">
  <div class="panel-heading">
    {% if object.is_active == True %}
        Désactivation
    {% else %}
        Réactivation
    {% endif %}
    {% if object.pk == request.user.pk %}
        de mon compte
    {% else %}
        d'un compte utilisateur
    {% endif %}
  </div>
  <div class="panel-body">
    <form action="" method="post">
      {% csrf_token %}
      <label>
        {% if object.is_active == True %}
            Désactiver
        {% else %}
            Activer
        {% endif %}
            {% if object.pk == request.user.pk %}
                mon compte ?
            {% else %}
                l'utilisateur {{ object.username }} ({{ object.first_name }} {{ object.last_name }}) ?
            {% endif %}
	  </label>

        <input type=hidden name="is_active" value="{{ object.is_active }}" />
        <button class="btn btn-danger" type="submit">Valider</button>
    </form>
    {% if object.pk == request.user.pk %}
        <p>Attention! Une fois le compte désactivé, vous ne pouvez pas le réactiver vous-même.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
