{% extends 'base.html' %}

{% block content %}

    {% load static %}
    <script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    <link rel="stylesheet" href="{% static 'admin/css/widgets.css' %}" />
    {{ form.media }}

    <div class="container">
        <h2 class="align-center">Gestion du groupe {{ group_name }}</h2>
        <form action= "{% url 'url_manage_group' %}" method="post">
            {% csrf_token %}
            <div class="container">
                {{ form.members }}
                {{ form.permissions }}
            </div>
            <input type=hidden name="group_pk" value="{{ group_pk }}" />
            <input type=hidden name="next" value="{{ next }}" />
            <input class="btn btn-success" type="submit" value="Valider" class="btn btn-success"/>
        </form>
    </div>
    <style>
        #btn btn-success {
            background: #4B99AD;
            padding: 8px 15px 8px 15px;
            border: none;
            color: #fff !important;
            text-align: center;
        }
    </style>
{% endblock %}
