{% extends 'base.html' %}
{% load static %}
{% load users_extra %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div>
                <ul class="listing-apps">
                    {% if perms.users.reach_workboard_auberge %}
                        <li><a href="{% url 'url_workboard_auberge' %}"><img src="{% static 'img/auberge.png' %}"><span class="name">Auberge workboard</span></a></li>
                    {% endif %}
                    {% if perms.users.reach_workboard_foyer %}
                        <li><a href="{% url 'url_workboard_foyer' %}"><img src="{% static 'img/tap.svg' %}"><span class="name">Foyer workboard</span></a></li>
                    {% endif %}
                    {% if perms.users.reach_workboard_cvis %}
                        <li><a href="{% url 'url_workboard_cvis' %}"><img src="{% static 'img/token.png' %}"><span class="name">C-Vis workboard</span></a></li>
                    {% endif %}
                    {% if perms.users.reach_workboard_bkars %}
                        <li><a href="{% url 'url_workboard_bkars' %}"><img src="{% static 'img/food.png' %}"><span class="name">BB workboard</span></a></li>
                    {% endif %}
                    {% if perms.users.reach_workboard_treasury %}
                        <li><a href="{% url 'url_workboard_treasury' %}"><img src="{% static 'img/coffre.png' %}"><span class="name">Trésoriers workboard</span></a></li>
                    {% endif %}
                    {% if perms.users.reach_workboard_presidents %}
                        <li><a href="{% url 'url_workboard_presidents' %}"><img src="{% static 'img/ceo.png' %}"><span class="name">Présidents workboard</span></a></li>
                    {% endif %}
                    {% if perms.users.reach_workboard_vices_presidents_vie_interne %}
                        <li><a href="{% url 'url_workboard_vices_presidents_vie_interne' %}"><img src="{% static 'img/vice_ceo.png' %}"><span class="name">V. Présidents workboard</span></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
