{% extends 'base.html' %}

{% block content %}

    <h1 class="align-center">Profil</h1>
    <hr>

    <div class="container">
        <div class="one-half column">
            <h3>Informations personnelles</h3>
            {% include 'users/retrieve_module.html' with object=user %}
        </div>
        <div class="one-half column">
            <h3>Modifications</h3>
            <p><a href="{% url 'django.contrib.auth.views.password_change' %}">Changer de mot de passe</a></p>
            <p><a href="{% url 'url_updateperso_user'  pk=request.user.id %}">Modifier ses informations personnelles</a></p>
            <p><a href="{% url 'django.contrib.auth.views.logout' %}">Se déconnecter</a></p>
        </div>
    </div>

    <div class="container">
        <div class="four columns">
            <h3>Groupe du foyer</h3>
        </div>
        <div class="four columns">
            <h3>Groupe du trésors</h3>
        </div>
        <div class="four columns">
            <h3>Groupe de la C-Vis</h3>
        </div>
    </div>

    <div class="container">
        <h3>Dernières commandes</h3>
        {% include 'finances/purchase_list_module.html' with object_list=user.list_purchase %}
    </div>

    <div class="container">
        <h3>Dernières transactions</h3>
        {% include 'finances/transaction_list_module.html' with object_list=user.list_transaction %}
    </div>
{% endblock %}