{% extends 'base.html' %}

{% block content %}
    {% if object == request.user or  perms.user.list_user  %}
        {% block informations_personnelles %}
            <ul>
                <li>Username : {{ object.username }}</li>
                <li>Prénom : {{ object.first_name }}</li>
                <li>Nom : {{ object.last_name }}</li>
                <li>Buque : {{ object.surname }}</li>
                <li>Num'ss : {{ object.family }}</li>
                <li>Prom'ss : {{ object.campus }}{{ user.year_pg }}</li>
                <li>Solde : {{ object.balance }} €</li>
                <li>Permissions :
                    {% if object.is_superuser %}
                        <p>superuser -> toutes les permissions</p>
                    {% else %}
                        <ul>
                            {% for p in object.user_permissions.all %}
                                <li>{{ p.name }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
                <li>Groupes :
                    <ul>
                        {% for g in object.groups.all %}
                            <li>{{ g.name }}</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        {% endblock %}
        {% block modifications %}
            {% if perms.users.delete_user %}
                <a href="{% url 'url_delete_user' pk=object.id %}">Supprimer cet utilisateur</a>
            {% endif %}
            {% if perms.users.change_user %}
                <a href="{% url 'url_updateadmin_user' pk=object.id %}">Modifier les informations</a>
            {% elif request.user == object %}
                <a href="{% url 'url_updateperso_user' pk=object.id %}">Modifier les informations</a>
            {% endif %}
        {% endblock %}
    {% endif %}
{% endblock %}