{% extends 'base_sober.html' %}
{% load finances_extra %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    Détails de l'utilisateur
      <div class="btn-group" role="group" aria-label="change user">
        {% if group|has_group_perm:"change_user" %}
          <a class="btn btn-primary" href="{% url 'url_user_update' group_name=group_name pk=object.pk %}">Modifier les informations</a>
        {% endif %}
        {% if group|has_group_perm:"delete_user" %}
          <a class="btn btn-primary" href="{% url 'url_user_deactivate' group_name=group_name pk=object.pk %}">
              {% if object.is_active == True %}
                Désactiver l'utilisateur
              {% else %}
                Activer l'utilisateur
              {% endif %}</a>
        {% endif %}
        {% if group|has_group_perm:"add_exceptionnal_movement" %}
          <a class="btn btn-primary" href="{% url 'url_user_exceptionnalmovement_create' group_name=group_name user_pk=object.pk %}">Mouvement exceptionnel</a>
        {% endif %}
        {% if group|has_group_perm:"supply_money_user" %}
          <a class="btn btn-primary" href="{% url 'url_user_supplymoney' group_name=group_name user_pk=object.pk %}">Ajout d'argent</a>
        {% endif %}
      </div>
  </div>
  <div class="panel-body">
    <div class="col-md-6">
        {% include "users/retrieve_module.html" %}
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Comptes en banque
    {% if group|has_group_perm:"add_bankaccount" %}
      <a class="btn btn-primary" href="{% url 'url_user_bankaccount_create' group_name=group_name user_pk=object.pk %}">Ajouter</a>
    {% endif %}
  </div>
  <table class="table table-default table-striped table-hover">
    <thead>
      <tr>
        <th>Banque</th>
        <th>Compte</th>
        {% if group|has_group_perm:"change_bankaccount" %}
          <th>Modifier</th>
        {% endif %}
        {% if group|has_group_perm:"delete_bankaccount" %}
          <th>Supprimer</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for account in object.list_bank_account %}
      <tr>
        <td>{{ account.bank }}</td>
        <td>{{ account.account }}</td>
        {% if group|has_group_perm:"change_bankaccount" %}
        <td>
          <a
          href="{% url 'url_user_bankaccount_update' group_name=group_name user_pk=object.pk pk=account.pk %}">Modifier
          </a>
        </td>
        {% endif %}
        {% if group|has_group_perm:"delete_bankaccount" %}
        <td>
          <a
          href="{% url 'url_user_bankaccount_delete' group_name=group_name user_pk=object.pk pk=account.pk %}">Supprimer
          </a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Dernières transactions
  </div>
  <table class="table table-default table-striped table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Libellé</th>
        <th>Montant</th>
        {% if group|has_group_perm:"retrieve_sale" %}
          <th>Détail</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for transaction in object.list_transaction|slice:":50" %}
      {% price_for sale=transaction user=object as price_for %}
      <tr class="{% if transaction.amount > 0 %}success{% else %}danger{% endif %}">
        <td>{{ transaction.datetime }}</td>
        <td>
          {{ transaction.wording }}
        </td>
        <td>{{ transaction.amount }}€</td>
        {% if group|has_group_perm:"retrieve_sale" %}
          <td><a href="
            {% if transaction|get_transaction_model == 'Sale' %}
              {% url 'url_sale_retrieve' group_name=group_name pk=transaction.pk %}
            {% elif transaction|get_transaction_model == 'Recharging' %}
              {% url 'url_recharging_retrieve' group_name=group_name pk=transaction.pk %}
            {% elif transaction|get_transaction_model == 'Transfert' %}
              {% url 'url_transfert_retrieve' group_name=group_name pk=transaction.pk %}
            {% elif transaction|get_transaction_model == 'ExceptionnalMovement' %}
              {% url 'url_exceptionnalmovement_retrieve' group_name=group_name pk=transaction.pk %}
            {% endif %}
            ">Détail</a></td>
          {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
