<div id="personal_informations">
    <ul>
        <li>Username : {{ object.username }}</li>
        <li>Prénom : {{ object.first_name }}</li>
        <li>Nom : {{ object.last_name }}</li>
        <li>Buque : {{ object.surname }}</li>
        <li>Num'ss : {{ object.family }}</li>
        <li>Prom'ss : {{ object.campus }}{{ user.year_pg }}</li>
        <li>Solde : {{ object.balance }} €</li>
        <li>Groupes :
            <ul>
                {% for g in user.groups.all %}
                    <li>{{ g.name }}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>
