{% extends 'base.html' %}

{% block content %}
    <div class="container50">
        <h2 class="align-center">Modification des informations</h2>
        <form class="form-style-1" action="" method="post">{% csrf_token %}
            {{ form.as_ul }}
            <input type=hidden name="next" value="{{ next }}" />
            <li><input type="submit" value="Modifier" /></li>
            <li><label><a class="s" href="{% url 'password_change' %}">Modifier mon mot de passe</a></label></li>
        </form>
    </div>
{% endblock %}