{% extends 'base.html' %}
{% load finances_extra %}
{% load extra %}

{% block content %}

    <div class="container">
        <div class="row">
            <form action= "{% url 'url_list_user_complete' %}" method="post">
                {% csrf_token %}
                <input type=hidden name="next" value="{{ next }}" />
                <input type=hidden name="order_by" value="{{ order_by }}" />
                <input type=hidden name="active" value="{{ active }}" />
                <input type=hidden name="years" value="{{ years }}" />
                <div class="fieldWrapper">
                    {{ form.all.errors }}
                    {{ form.all.label }} : {{ form.all }}
                </div>
                <div class="fieldWrapper">
                    {{ form.unactive.errors }}
                    {{ form.unactive.label }} : {{ form.unactive }}
                </div>

                <div id="list_year">
                    {% for f in form %}
                        {% if f != form.all and f != form.unactive %}
                            <span class="fieldWrapper">
                                {{ f.errors }}
                                {{ f.label }} : {{ f }}
                            </span>
                        {% endif %}
                    {% endfor %}
                </div>

                <p><input type="submit" value="Lister"/></p>
            </form>
        </div>
        <div class="row">
            <table>
                <tr>
                    <th><a href="{% url 'url_list_user_complete' %}?order_by={{ 'last_name'|order_by:request }}&years={{ years }}&active={{ active }}&next={{ next }}&page={{ page.number }}">Nom</a></th>
                    <th><a href="{% url 'url_list_user_complete' %}?order_by={{ 'first_name'|order_by:request }}&years={{ years }}&active={{ active }}&next={{ next }}&page={{ page.number }}">Prénom</a></th>
                    <th><a href="{% url 'url_list_user_complete' %}?order_by={{ 'surname'|order_by:request }}&years={{ years }}&active={{ active }}&next={{ next }}&page={{ page.number }}">Bucque</a></th>
                    <th><a href="{% url 'url_list_user_complete' %}?order_by={{ 'family'|order_by:request }}&years={{ years }}&active={{ active }}&next={{ next }}&page={{ page.number }}">Num's</a></th>
                    <th><a href="{% url 'url_list_user_complete' %}?order_by={{ 'campus'|order_by:request }}&years={{ years }}&active={{ active }}&next={{ next }}&page={{ page.number }}">Tabagn's</a></th>
                    <th><a href="{% url 'url_list_user_complete' %}?order_by={{ 'year'|order_by:request }}&years={{ years }}&active={{ active }}&next={{ next }}&page={{ page.number }}">Prom's</a></th>
                    <th><a href="{% url 'url_list_user_complete' %}?order_by={{ 'balance'|order_by:request }}&years={{ years }}&active={{ active }}&next={{ next }}&page={{ page.number }}">Solde</a></th>
                    <th><a href="{% url 'url_list_user_complete' %}?order_by={{ 'is_active'|order_by:request }}&years={{ years }}&active={{ active }}&next={{ next }}&page={{ page.number }}">Est actif</a></th>
                    <th>Détail</th>
                </tr>
                {% for e in page %}
                    <tr>
                        <td>{{ e.last_name }}</td>
                        <td>{{ e.first_name }}</td>
                        <td>{{ e.surname }}</td>
                        <td>{{ e.family }}</td>
                        <td>{{ e.campus }}</td>
                        <td>{{ e.year_pg }}</td>
                        <td>{{ e.balance }}</td>
                        <td>{% human_reading e.is_active 'true_false' %}</td>
                        <td><a href="{% url 'url_retrieve_user' pk=e.pk %}?next={{ next }}">Détail</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% if page.has_other_pages %}
   </div>
        <nav class="pagination">
            <ul class="pagination">
                {% comment %}Affiche un lien vers la première page{% endcomment %}
                <li>
                      <a href="?order_by={{ order_by }}&years={{ years }}&active={{ active }}&next={{ next }}&page=first">
                        <span><<</span>
                      </a>
                  </li>
            {% comment %}Affiche un lien vers la page précédente{% endcomment %}
              {% if page.has_previous %}
                  <li>
                    <a href="?order_by={{ order_by }}&years={{ years }}&active={{ active }}&next={{ next }}&page={{ page.previous_page_number }}">
                        <span>Previous</span>
                    </a>
                  </li>
              {% else %}
                  <li class="disabled">
                    <a href="#">
                        <span>Previous</span>
                    </a>
                  </li>
              {% endif %}

            {% comment %}Affiche un des liens vers les pages encadrant la page courante{% endcomment %}
              {% for p in page_links %}
                  <li {% if p == page.number %}class="active"{% endif %}>
                      <a href="?order_by={{ order_by }}&years={{ years }}&active={{ active }}&next={{ next }}&page={{ p }}">{{ p }}</a>
                  </li>
              {% endfor %}
                {% comment %}Affiche un lien vers la page suivante{% endcomment %}
              {% if page.has_next %}
                  <li>
                      <a href="?order_by={{ order_by }}&years={{ years }}&active={{ active }}&next={{ next }}&page={{ page.next_page_number }}">
                        <span>Next</span>
                      </a>
                  </li>
              {% else %}
                  <li {% if not page.has_next %}class="disabled"{% endif %}>
                      <a href="#">
                          <span>Next</span>
                      </a>
                  </li>
              {% endif %}
                {% comment %}Affiche un lien vers la dernière page{% endcomment %}
                <li>
                      <a href="?order_by={{ order_by }}&years={{ years }}&active={{ active }}&next={{ next }}&page=last">
                        <span>>></span>
                      </a>
                </li>
            </ul>
        </nav>
    {% endif %}
    </div>

    <script>
        list_year_fields = document.getElementById("list_year").getElementsByTagName("span");
        bouton_plus = document.createElement("input");
        bouton_plus.setAttribute("type", "button");
        bouton_plus.setAttribute("value", "afficher plus");
        affichage_plus = false;

        // Si plus de 5 promos, on ajoute un bouton "plus" qui affiche le reste
        if (list_year_fields.length > 5) {
            insertAfter(bouton_plus, list_year_fields[5]);
        }

        // Masquage de tous les éléments supérieurs à 5
        afficher_span(list_year_fields, 4, 'None');

        // Affichage du reste des éléments
        bouton_plus.addEventListener("click", function() {
            if (affichage_plus == true) {
                afficher_span(list_year_fields, 4, 'None');
                affichage_plus = false;
                bouton_plus.value = "Afficher plus";
            }
            else {
                afficher_span(list_year_fields, 4, '');
                affichage_plus = true;
                bouton_plus.value = "Afficher moins";
            }
        }, false);

        function afficher_span(liste, debut, afficher) {
            for (i=0; i<liste.length; i++) {
                if (i>debut) {
                    liste[i].style.display = afficher;
                }
            }
        }
        function insertAfter(newElement, afterElement) {
            var parent = afterElement.parentNode;
            if (parent.lastChild === afterElement) { // Si le dernier élément est le même que l'élément après lequel on veut insérer, il suffit de faire appendChild()
                parent.appendChild(newElement);
            } else { // Dans le cas contraire, on fait un insertBefore() sur l'élément suivant
                parent.insertBefore(newElement, afterElement.nextSibling);
            }
        }
    </script>
    <script>
        // init
        if($('#id_all').is(':checked'))
            $('#list_year').hide();
        else
            $('#list_year').show();
        // change
        $('#id_all').change(function() {
            if($(this).is(':checked'))
                $('#list_year').hide();
            else
                $('#list_year').show();
        });
    </script>
{% endblock %}