{% extends 'base.html' %}
{% load finances_extra %}
{% load users_extra %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            Recherche <input type="text" id="id_search" name="search" /><br>
            <input type="checkbox" id="id_is_active" name="is_active" /> Utilisateurs désactivés <br>
            <select id="id_year">
                <option value="all">Toutes les années</option>
                {% for y in list_year %}
                    <option value="{{ y }}">{{ y }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="row">
            <table id="table_object">
                <tr id="first_line">
                    <th id="last_name">Nom</th>
                    <th id="first_name">Prénom</th>
                    <th id="surname">Bucque</th>
                    <th id="family">Num's</th>
                    <th id="campus">Tabagn's</th>
                    <th id="year">Prom's</th>
                    <th id="balance">Solde</th>
                    <th id="is_active">Est actif</th>
                    <th>Détail</th>
                </tr>
            </table>
            <div class="pagination-div">
                <ul class="pagination noselect" style="margin: 5px 0 10px 0">
                    <li id="previous">
                        <span aria-hidden="true">&laquo; Précédent</span>
                    </li>
                    <li id="next">
                        <span aria-hidden="true">Suivant &raquo;</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script>

        // Current
        var year;
        var is_active = 'True';
        $("#id_year").change(function(){
            if ($("select option:selected").attr('value') == 'all') {
                year = undefined;
            }
            else {
                year = $("select option:selected").attr('value');
            }
            page = 1;
            set_object_list();
        });
        $("#id_is_active").change(function(){
            if ($(this).is(':checked') == true) {
                is_active = 'False';
            }
            else {
                is_active = 'True';
            }
            page = 1;
            set_object_list();
        });
        function set_object_list() {
            $.ajax({
                url: "/users/user/api/",
                dataType: "json",
                data: {
                    ordering: order_by,
                    is_active: is_active,
                    year: year,
                    search: search,
                    page: page
                },
                success: function(data) {

                    // Clean du tableau
                    $("#table_object tr").not('#first_line').remove();
                    // Ajout des nouvelles lignes
                    for (i=0; i<data.results.length; i++) {
                        add_line([data.results[i].last_name, data.results[i].first_name, data.results[i].surname, data.results[i].family,
                            data.results[i].campus, data.results[i].year, data.results[i].balance, data.results[i].is_active,
                            '<a href="/users/retrieve/' + String(data.results[i].pk) + '/?next={{ next }}">Détail</a>']);
                    }

                    // Pagination
                    set_pagination_links(data.previous, data.next);

                },
                error: function() {
                    // Clean du tableau
                    $("#table_object tr").not('#first_line').remove();
                }
            });
        }

        // Generic
        var order_by;
        var page = 1;
        var search;
        $(document).ready(function(){
            set_object_list();
        });
        $("#first_line th[id]").click(function(){
            if (order_by == $(this).attr('id')) {
                order_by = '-' + $(this).attr('id');
            }
            else {
                order_by = $(this).attr('id');
            }
            page = 1;
            set_object_list();
        });
        var search_handler = function() {
            if ($('#id_search').val().trim()!='') {
                search = $('#id_search').val().trim();
                page = 1;
                set_object_list();
            }
            else {
                search = undefined;
                page = 1;
                set_object_list();
            }
        };
        $('#id_search').keyup(search_handler).change(search_handler);
        $("#previous").click(function() {
            if (this.className != 'disabled') {
                page = page - 1;
                set_object_list();
            }
        });
        $("#next").click(function() {
            if (this.className != 'disabled') {
                page = page + 1;
                set_object_list();
            }
        });
        function set_pagination_links(previous, next) {
            if (previous == null) {
                $("#previous").attr('class', 'disabled');
            }
            else {
                $("#previous").attr('class', 'enabled');
            }
            if (next == null) {
                $("#next").attr('class', 'disabled');
            }
            else {
                $("#next").attr('class', 'enabled');
            }
        }
        function add_line(data) {
            var line = '<tr>';
            for (j=0; j<data.length; j++) {
                line += '<td>' + data[j] + '</td>'
            }
            line += '</tr>';
            $('#table_object').append(line);
        }
    </script>

{% endblock %}