{% extends 'base_sober.html' %}
{% load finances_extra %}
{% load users_extra %}
{% load bootstrap %}

{% block content %}
<div class="panel panel-primary">
  <div class="panel-heading">
    Recherche
  </div>
  <div class="panel-body">
    <form action="{% url 'url_user_list' group_name=group_name %}" method="post" class="form-horizontal">
      {% csrf_token %}
      {{ form|bootstrap_horizontal }}
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <button type="submit" class="btn btn-primary">Recherche</button>
          <a class="btn btn-warning" href="{% url 'url_user_list' group_name=group.name %}">Remise à zéro</a>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    Résultats
  </div>
    {% if user_list %}
    <table class="table table-hover table-striped">
    <thead>
      <tr>
          <th><a href="?sort=last_name">Nom</a></th>
          <th><a href="?sort=first_name">Prénom</a></th>
          <th><a href="?sort=surname">Bucque</a></th>
          <th><a href="?sort=family">Num's</a></th>
          <th><a href="?sort=campus">Tabagn's</a></th>
          <th><a href="?sort=year">Prom's</a></th>
          <th><a href="?sort=balance">Solde</a></th>
          <th>Etat</th>
          <th>Détail</th>
      </tr>
    </thead>
    <tbody>
      {% for user in user_list %}
      <tr class="{% if user.balance >= 0 %}success{% else %}danger{% endif %}">
        <td>{{ user.last_name }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.surname }}</td>
        <td>{{ user.family }}</td>
        <td>{{ user.campus }}</td>
        <td>{{ user.year }}</td>
        <td>{{ user.balance }}€</td>
        <td>{% if user.is_active %}Activé{% else %}Désactivé{% endif %}</td>
        <td>
          <a href="{% url 'url_user_retrieve' group_name=group_name pk=user.pk %}">Détail</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
    {% else %}
        <div class="panel-body">
            Aucun utilisateur ne correspond à cette recherche.
        </div>
    {% endif %}
</div>
{% endblock %}
