{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <h1 class="align-center">Workboard Président</h1>
        </div>
        <div class="row">
            <div>
                <ul class="listing-apps">
                    <li><a href="{% url 'url_manage_group' %}?group_pk={{ group_vices_presidents_vie_interne_pk }}&next=/users/presidents/workboard"><img src="{% static 'img/group.png' %}" alt="Gestion groupe"><span class="name">V. présidents vie interne</span></a></li>
                    <li><a href="{% url 'url_manage_group' %}?group_pk={{ group_tresoriers_pk }}&next=/users/presidents/workboard"><img src="{% static 'img/group.png' %}" alt="Gestion groupe"><span class="name">Trésoriers</span></a></li>
                    <li><a href="{% url 'url_manage_group' %}?group_pk={{ group_presidents_pk }}&next=/users/presidents/workboard"><img src="{% static 'img/group.png' %}" alt="Gestion groupe"><span class="name">Présidents</span></a></li>
                    <li><a href="{% url 'url_manage_group' %}?group_pk={{ group_gadzarts_pk }}&next=/users/presidents/workboard"><img src="{% static 'img/group.png' %}" alt="Gestion groupe"><span class="name">Gadz'Arts</span></a></li>
                    <li><a href="{% url 'url_manage_group' %}?group_pk={{ group_membres_honneurs_pk }}&next=/users/presidents/workboard"><img src="{% static 'img/group.png' %}" alt="Gestion groupe"><span class="name">Membres d'honneurs</span></a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}