{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <h1 class="align-center">Workboard Vices Président délégués à la vie interne</h1>
        </div>
        <div class="row">
            <div>
                <ul class="listing-apps">
                    <li><a href="{% url 'url_manage_group' %}?group_pk={{ group_chefs_gestionnaires_foyer_pk }}&next=/users/vices_presidents_vie_interne/workboard"><img src="{% static 'img/group.png' %}" alt="Gestion groupe"><span class="name">Chefs gestio. du foyer</span></a></li>
                    <li><a href="{% url 'url_manage_group' %}?group_pk={{ group_chefs_gestionnaires_auberge_pk }}&next=/users/vices_presidents_vie_interne/workboard"><img src="{% static 'img/group.png' %}" alt="Gestion groupe"><span class="name">Chefs gestio. de l'auberge</span></a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}