{% extends 'base_sober.html' %}
{% load bootstrap %}
{% load finances_extra %}
{% load users_extra %}
{% load i18n %}

{% block content %}
    {% comment %}
    <div class="panel panel-primary">
        <div class="panel-heading">
          Recherche de transactions
        </div>
        <div class="panel-body">
          <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            {{ form|bootstrap_horizontal }}
            <div class="form-group">
              <div class="col-sm-10 col-sm-offset-2">
                <button type="submit" class="btn btn-primary">Recherche</button>
                <a class="btn btn-warning" href="">Remise à zéro</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      {% endcomment %}
      <div class="panel panel-default">
        <div class="panel-heading">
          Résultats
        </div>
        <table class="table table-default table-striped table-hover">
          <thead>
            <tr>
              <th>Date</th>
              <th>Heure</th>
              <th>Transaction</th>
              <th>Libellé</th>
              <th>Montant</th>
            </tr>
          </thead>
          <tbody>
            {% for transaction in transaction_list %}
            <tr class="
            {% if transaction|get_transaction_model == 'Sale' %}
              danger
            {% elif transaction|get_transaction_model == 'ExceptionnalMovement' %}
              {% if transaction.is_credit %}
                success
              {% else %}
                danger
              {% endif %}
            {% elif transaction|get_transaction_model == 'Transfert' %}
              {% if transaction.recipient == user %}
                success
              {% else %}
                danger
              {% endif %}
            {% elif transaction|get_transaction_model == 'Event' %}
              danger
            {% else %}
              success
            {% endif %}
            ">
              <td>{{ transaction.datetime|date:"SHORT_DATE_FORMAT" }}</td>
              <td>{{ transaction.datetime|time:"H:i" }}</td>
              <td>
                {{ transaction|get_transaction_label|first }}
              </td>
              <td>
                {{ transaction|get_transaction_label|last }}
              </td>
              <td>
                {% if transaction|get_transaction_model == 'Sale' %}
                  -{{ transaction.amount }}€
                {% elif transaction|get_transaction_model == 'ExceptionnalMovement' %}
                  {% if transaction.is_credit %}
                    {{ transaction.amount }}€
                  {% else %}
                    -{{ transaction.amount }}€
                  {% endif %}
                {% elif transaction|get_transaction_model == 'Transfert' %}
                  {% if transaction.recipient == user %}
                    {{ transaction.amount }}€
                  {% else %}
                    -{{ transaction.amount }}€
                  {% endif %}
                {% elif transaction|get_transaction_model == 'Event' %}
                    -{{ transaction.amount }}€
                {% else %}
                  {{ transaction.amount }}€
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
{% endblock %}
