{% extends 'base_sober.html' %}
{% load static %}
{% load l10n %}
{% load bootstrap %}

{% block content %}
<script type="text/javascript" src="{% static 'Lydia_assets/LYDIASDK.js' %}"></script>

<div class="panel panel-default">
    <div class="panel-heading">
        Crédit du compte avec Lydia
    </div>
    <div class="panel-body">
    
        <p>
            <strong>Montant à payer :</strong> {{ total_amount|unlocalize }}€
            {% if enable_fee_lydia %}
                <br />
                <strong>Frais de commission Lydia :</strong> {{ fee_amount|unlocalize }}€
                <br />
                <strong>Montant rechargé :</strong> {{ recharging_amount|unlocalize }}€
            {% endif %}
        </p>
        <p>
          <strong>Numéro de téléphone :</strong> {{ tel_number }}
        </p>
        <a class="btn btn-warning" href="{% url 'url_self_lydia_create' %}">Modifier</a>
        <div role="button" id="lydiaButton" style="margin-top: 10px"></div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('#lydiaButton').payWithLYDIA({
            amount: {{ total_amount|unlocalize }},
            vendor_token: '{{ vendor_token }}',
            recipient: '{{ tel_number }}', //cellphone or email of your client
            message : '{{ message }}', //object of the payment
            render : '<img src="https://lydia-app.com/assets/img/paymentbutton.png" />', //button image
            // The client will be redirect to this URL after the payment
            browser_success_url : "{{ confirm_url }}",
            // This URL will be called by our server after the payment so you can update the order on your database
            confirm_url : "{{ callback_url }}?user_pk={{ user.pk }}"
        });
    });
</script>
{% endblock %}
