{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borgia - betaV1.2.25</title>

    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style-xsmall.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'img/fav_borgia.jpg' %}"/>

</head>
<body>
{%  block content %}
{%  endblock %}
</body>
<footer>
    <div class="container">
        <hr>
        <div class="row">
            <div class="one-half column align-center">
                <p class="align-center">Borgia WIP v1.2.25</p>
            </div>
            <div class="one-half column align-center">
                <p> Un bug? Une remarque? Partage la nous! </p>
                <input type="submit" value="Reporter un bug" id="mailto_report">
            </div>
        </div>
        <script>
            document.getElementById("mailto_report").addEventListener('click', function(e) {
                window = window.open("mailto:support@iresam.org?Subject=Feedback Borgia", 'EmailWindow')
            }, false);
        </script>
    </div>
</footer>
</html>