{% load compile_static %}
{% load staticfiles %}
{% load notifications_extra %}
{% load users_extra %}
{% load bootstrap %}
{% load l10n %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>
      {% center_name as center_name %}
      {% if center_name %}Borgia - {{ center_name }}{% else %}Borgia{% endif %}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>
	{% if user.theme and user.theme == 'dark' %}
		<link rel="stylesheet" href="{% static 'less/_bootstrap-dark.less'|compile %}" />
	{% else %}
		<link rel="stylesheet" href="{% static 'less/_bootstrap-light.less'|compile %}" />
	{% endif %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/borgia-label-less.png' %}"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/widgets.js' %}"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% if user.is_authenticated %}{% url 'url_group_workboard' group_name='gadzarts' %}{% endif %}">
            {% if user.theme and user.theme == 'dark' %}
                <img src="{% static 'img/borgia-logo-dark.png' %}" class="logo"/>
            {% else %}
                <img src="{% static 'img/borgia-logo.png' %}" class="logo"/>
            {% endif %}
        </a>
        <p class="navbar-text navbar-text-center">{% if center_name %}{{ center_name }}{% else %}Borgia{% endif %}</p>
      </div>
      <div class="navbar-right">
        <ul class="nav navbar-nav">
          {% if user.avatar %}
          <li><p class="navbar-text navbar-text-avatar">
            <img src="{{ user.avatar.url }}" class="user-avatar"/>
          </p></li>
          {% endif %}
          <li><p class="navbar-text">{{ user }}</p></li>
          <li><p class="navbar-text">{{ user.surname}}{{ user.get_campus_display }}{{ user.year_pg }}</p></li>
          <li><p class="navbar-text">
            <span
              style="font-weight: bold"
              class="{% if user.balance > 0 %}text-success{% else %}text-danger{% endif %}">{{ user.balance }} €</span>
            </p></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-cog" aria-hidden="true"></i> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'url_self_user_update' group_name=group.name %}">
                <i class="fa fa-pencil" aria-hidden="true" style="margin-right: 5px;"></i>Modifier mes informations
              </a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'url_self_lydia_create' group_name=group.name %}">
                <i class="fa fa-credit-card" aria-hidden="true" style="margin-right: 5px;"></i>Recharger mon compte
              </a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'url_logout' %}">
                <i class="fa fa-sign-out" aria-hidden="true" style="margin-right: 5px;"></i>Se déconnecter
              </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% if nav_tree %}
  <div class="container-fluid">
   <div class="col-md-2">
    {% include "lateral_menu.html" %}
   </div>
   <div class="col-md-10">
  {% else %}
  <div class="container">
    <div class="col-md-12">
  {% endif %}
    {%  block content %}
    {%  endblock %}
    </div>
  </div>

<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="col-xs-10">
      <p class="navbar-text">Borgia is a software developed by Borgia-App.</p>
      <p class="navbar-text">Originally developed and supported by Arts & Métiers french students, please support.</p>
    </div>
    <div class="col-xs-2">
      <p class="navbar-text pull-right">Build 4.1</p>
    </div>
  </div>
</footer>

</body>
</html>
