{% load staticfiles %}
{% load notifications_extra %}
{% load users_extra %}
{% load bootstrap %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Borgia - V2.8.0</title>
    {% if group.name == 'gadzarts' %}
    <link rel="stylesheet" href="https://bootswatch.com/slate/bootstrap.min.css" />
    {% else %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/css_local.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/fav_borgia.png' %}"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/widgets.js' %}"></script>
</head>
{% if group.name == 'gadzarts' %}
<style>
  * {
    text-shadow: inherit!important;
  }
  .navbar-inverse {
    background-color: #222!important;
    border-color: #080808!important;
    background-image: inherit!important;
  }
  body {
    background-color: #272b30!important;
  }
{% endif %}
</style>
<body class="body_sober">
{% url 'url_page_clean' as url_clean %}
  <div class="wrapper overlay">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
             <div class="navbar-header col-md-2 col-sm-2 col-xs-2 col-xxs-2" style="padding-left: 2px">
                <a href="">
                   <span class="logo-background"></span>
                </a>
             </div>
            {% if user.is_authenticated %}
                <div class="hidden-lg hidden-md hidden-sm hidden-xs col-xxs-5 mobileShow568">
                    <span class="user-balance-mobile {% if user.balance >= 0 %}posits-color {% else %}negats-color {% endif %}">{{ user.balance }} €</span>
                </div>
            <div id="wrapper-user-menu" class="col-md-3 col-sm-3 col-xs-3 col-xxs-5">

                <ul class="user-menu">
                        <li><a href="{% url 'url_supply_lydia_self' %}" title="Crédit Lydia"><div class="lydia"><span class="lydia-logo"></span><span class="lydia-text">Crédit compte</span></div></a></li>
                        <li class="hidden-lg hidden-md hidden-sm hidden-xs mobileShow568">
                                <span class="user-notification">
                                    <span class="icon icon-notification" onclick="show_hide_div('container-notifications');" title="Notifications">
                                    </span>
                                </span>
                                {% if messages %}
                                    <span class="buble-notifications-count" onclick="show_hide_div('container-notifications');">
                                    </span>
                                {% endif %}</li>
                        <button type="button" class="navbar-toggle hidden-xs mobileShow568" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                </ul>
             </div>

             <div id="wrapper-user" class="col-md-7 col-sm-7 col-xs-7 mobileHide568">

                    <span class="user-container mobileHide568">
                        <h2 class="user-username">{{ user.surname }} {{ user.username }}</h2>
                        <span class="user-balance {% if user.balance >= 0 %}posits {% else %}negats {% endif %}">{{ user.balance }} €</span>
                    </span>
                    <div class="row">
                        <ul class="user-menu pull-right" style="position:absolute; right: 0;">
                            <li>
                              <span class="user-connexion">
                                <a href="{% url 'url_logout' %}" title="Déconnexion">
                                  <i class="fa fa-power-off" aria-hidden="true"></i>
                                </a>
                              </span>
                            </li>
                            <li>
                              <span class="user-edition">
                                <a style="height: 23px;"
                                href="
                                {% if group %}
                                {% url 'url_self_user_update' group_name=group.name %}
                                {% endif %}"
                                title="Édition">
                                  <i class="fa fa-pencil" aria-hidden="true"></i>
                                </a>
                              </span>
                            </li>
                            <li>
                                <span class="user-notification">
                                    <span onclick="show_hide_div('container-notifications');" title="Notifications">
                                      <i class="fa fa-flag" aria-hidden="true"></i>
                                    </span>
                                </span>
                                {% if messages %}
                                    <span class="buble-notifications-count" onclick="show_hide_div('container-notifications');">
                                    </span>
                                {% endif %}</li>
                        </ul>
                    </div>
             </div>
             <div class="col-xxs-12 navbar-collapse collapse" id="navbar-collapse-1" aria-expanded="false" style="height: 2px;">
                <ul class="navbar-nav nav navbar-collapse-menu">
                    <li class="align-center" style="padding-top:3px; background: #000;">{{ user.surname }} {{ user.username }}</li>
                    <li><a href="
                      {% if group %}
                      {% url 'url_self_user_update' group_name=group.name %}
                      {% endif %}">Édition du profil</a></li>
                    <li><a href="{% url 'url_logout' %}">Déconnexion</a></li>
                </ul>

                {% else %}
                    <div id="user-wrapper" class="col-lg-10 col-lg-push-2 col-md-10 col-sm-10 col-xs-12">
                    <form class="form-inline" action='' method="post" style="margin-top: 15px">{% csrf_token %}
                        <div class="form-group">
                            <label for="id_username" style="margin-right: 4px">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </label>
                            <input id="id_username" type="text" name="username" placeholder="Nom d'utilisateur" class="form-control autocomplete_username" maxlength="254" required>
                        </div>
                        <div class="form-group">
                            <label for="id_password" style="margin-top: 4px; margin-left: 15px">
                              <i class="fa fa-lock" aria-hidden="true"></i>
                            </label>
                            <input id="id_password" type="password" name="password" placeholder="Mot de passe" class="form-control" required>
                        </div>
                        <div class="form-group connexion" style="margin-left: 15px">
                            <button id="id_submit" type="submit" class="btn btn-success">Connexion</button>
                             <a style="color: white; margin-left: 15px" href="{% url 'reset_password_reset1' %}">Mot de passe oublié ?</a>
                        </div>
                    </form>
                    </div>
                {% endif %}
        </div>
    </nav>
  </div>

  {% if group.name == 'gadzarts' %}
    <div class="container-fluid">
      <div class="col-md-2 col-sm-2 col-xs-12">
          <ul class="list-group list_group_apps">
            <a href="{% url 'url_group_workboard' group_name=group.name %}">
              <li class="list-group-item purplebg">
                <img src="{% static 'img/house-outline.svg' %}" />
                <h3>Accueil</h3>
              </li>
            </a>
              {% for shop in list_selfsalemodule %}
              <a href="{% url 'url_module_selfsale' group_name=group.name shop_name=shop.name %}">
                <li class="list-group-item list-selfsalemodule">
                  <img src="{% static 'img/tap.svg' %}" />
                  <h3>{{ shop.name|capfirst }}</h3>
                </li>
              </a>
              {% endfor %}
              <a href="{% url 'url_self_transfert_create' group_name=group.name %}">
                <li class="list-group-item list-transfert">
                  <img src="{% static 'img/transfer.svg' %}" />
                  <h3>Transfert</h3>
                </li>
              </a>
              {% if first_job %}
              <a href="{% url 'url_group_workboard' group_name=first_job.name %}">
                <li class="list-group-item list-bouls">
                  <img src="{% static 'img/lazy.svg' %}" />
                  <h3>Boul's</h3>
                </li>
              </a>
              {% endif %}
          </ul>
          <style>
            .list_group_apps li {
              height: {% if first_job %}{{ 3|height_ratio:list_selfsalemodule }}{% else %}{{ 2|height_ratio:list_selfsalemodule }}{% endif %}%
              ;
            }
          </style>
          <script>
          let colors = [
            ['#f1c40f', '#f1d462'], ['#e74c3c', '#dc847b'],
            ['#8e44ad', '#9266a5'], ['#6a93d4', '#a1b6d8'],
            ['#34495e', '#4e5a65'], ['#2ecc71', '#79af90']
          ]
          $(".list-selfsalemodule").each(function(i) {
            $(this).css("background-color", colors[i][0])
            $(this).mouseover(function() {
                $(this).css("background-color", colors[i][1]);
            }).mouseout(function() {
                $(this).css("background-color", colors[i][0]);;
            });
          })
          </script>
      </div>
      <div class="col-md-10 col-sm-10 col-xs-12 offset" style="margin-top: 40px">
  {% else %}
    {% if nav_tree %}
    <div class="container-fluid">
     <div class="col-md-2" style="margin-top: 40px">
      {% include "lateral_menu.html" %}
     </div>
     <div class="col-md-10" style="margin-top: 40px">
    {% else %}
    <div class="container">
      <div class="col-md-12" style="margin-top: 40px">
    {% endif %}
  {% endif %}
      {%  block content %}
      {%  endblock %}
      </div>
    </div>

</body>

{% if user.is_authenticated %}
    {% if user.avatar %}
        <style>
            .user-container:before {
                background: url('{{ user.avatar.url }}') no-repeat 0 0;
                background-size: 100%;
                content: "";
            }
        </style>
    {% endif %}
{% endif %}

</html>
