{% load compile_static %}
{% load static %}
{% load notifications_extra %}
{% load users_extra %}
{% load bootstrap %}
{% load l10n %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>
      {% center_name as center_name %}
      {% if center_name %}Borgia - {{ center_name }}{% else %}Borgia{% endif %}
    </title>
    <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}"/>

    {% set_template request.user.theme as template %}
    <link rel="stylesheet" href="{% static template|compile %}" />

    <link rel="shortcut icon" type="image/png" href="{% static 'img/borgia-label-less.png' %}"/>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/widgets.js' %}"></script>
    <script src="{% static 'js/local.js' %}"></script>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% if user.is_authenticated %}{% url 'url_group_workboard' group_name='gadzarts' %}{% endif %}">
          {% set_brand request.user.theme as brand %}
          <img src="{% static brand %}" class="logo"/>

        </a>
        <p class="navbar-text navbar-text-center">{% if center_name %}{{ center_name }}{% else %}Borgia{% endif %}</p>
      </div>
      <div class="navbar-right">
        <ul class="nav navbar-nav">
          <li class="user-profile-link"><a href="{% url 'url_user_retrieve' group_name=group_name pk=request.user.pk %}" style="padding:0;">
		      {% if request.user.avatar %}
              <span class="navbar-text-avatar" style="float: left;"><img src="{{ request.user.avatar.url }}" class="user-avatar"/></span>
              {% endif %}
              <p class="navbar-text">{{ request.user.display_name_navbar }}</p></a></li>
          <li><p class="navbar-text">
            <span
              style="font-weight: bold"
              class="{% if request.user.balance > 0 %}text-success{% else %}text-danger{% endif %}">{{ request.user.balance }} €</span>
            </p></li>
          <li class="notification">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >
               <i class="fa fa-bell" aria-hidden="true"></i>{% if notifications %}<span class="badge" id="notif-count">{{ notifications.count }}</span>{% endif %}
            </a>
            <ul class="dropdown-menu dropdown-menu-right scrollable-menu" role="menu">
                                    {% if notifications %}
                                        {% for notification in notifications %}
                                         <li class="dropdown-item scrollable-menu"><a><i class="fa fa-fw {% notification_icon notification %}" aria-hidden="true"></i>{% html_rendering_tag notification %}</a></li>
                                         <li role="separator" class="divider"></li>
                                        {% endfor %}
                                    {%  else %}
                                        <li class="dropdown-item scrollable-menu"><a href="#">Pas de nouvelle notification</a></li>
                                        <li role="separator" class="divider"></li>
                                    {% endif %}
                                    <li class="scrollable-menu text-center">
                                        <a href="{% if group %}{% url 'url_notification_list' group_name=group.name %}{% endif %}">
                                            Voir tout {{ test42 }}
                                        </a>
                                    </li>

                                </ul>

          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-cog" aria-hidden="true"></i> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'url_self_user_update' group_name=group.name %}">
                <i class="fa fa-pencil" aria-hidden="true" style="margin-right: 5px;"></i>Modifier mes informations
              </a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'url_self_lydia_create' group_name=group.name %}">
                <i class="fa fa-credit-card" aria-hidden="true" style="margin-right: 5px;"></i>Recharger mon compte
              </a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url 'url_logout' %}">
                <i class="fa fa-sign-out" aria-hidden="true" style="margin-right: 5px;"></i>Se déconnecter
              </a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% if nav_tree %}
  <div class="container-fluid">
   <div class="col-md-2">
    {% include "lateral_menu.html" %}
   </div>
   <div class="col-md-10">
  {% else %}
  <div class="container">
    <div class="col-md-12">
  {% endif %}
    {%  block content %}
    {%  endblock %}
    </div>
  </div>

<footer class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid row">
    <div class="col-xs-9">
      <p class="navbar-text">Developed by Borgia-App. Demo version</p>
   </div>
    <div class="col-xs-3">
      <p class="navbar-text pull-right">Build 4.4</p>
    </div>
  </div>
</footer>

<script>
 $(".navbar li.notification").click(function() {
   $("#notif-count").text('0')
   if ($(".navbar li.notification.open").length > 0) {
     {% for notification in notifications %}
          {% if notification.read_datetime is None %}
             $.ajax({
                  url: "{% url 'url_read_notification' %}",
                  dataType: "json",
                  data: {
                      notification_id: {{ notification.pk }}
                  }
               })
          {% endif %}
      {% endfor %}
      $("#notif-count").text('0')
   }
 })
</script>
</body>
</html>
