{% load staticfiles %}
{% load notifications_extra %}

{{ request|filter_get_undisplayed_notifications_for_user }}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borgia - beta V1.35</title>
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style-xsmall.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/fav_borgia.jpg' %}"/>
</head>
<body>

<nav class="container">
    <div class="overlay">
        <div class="wrapper user">
            <ul class="user-menu">
                <li><a class="icon icon-home" href="{% url 'url_profile' %}"></a></li>
                {% if user.is_authenticated %}
                    <li><a class="icon icon-people" href=""></a></li>
                    <li><a class="icon icon-notification" href=""></a></li>
                    <li><a class="icon icon-settings" href=""></a></li>
                    <li><a class="icon icon-connexion" href="{% url 'django.contrib.auth.views.logout' %}">Logout</a></li>
                    <li><a class="icon icon-admin" href=""></a></li>
                {% else %}
                    <li><a class="icon icon-connexion" href="{% url 'django.contrib.auth.views.login' %}">Login</a></li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <a class="user-container user-container-info" href="{% url 'url_update_user' pk=user.pk %}">
                    <h2 class="user-username">{{ user.surname }} {{ user.username }}</h2>
                    <small class="user-fullname">{{ user.first_name }} {{ user.last_name }}</small>
                    <span class="user-balance">{{ user.balance }} €</span>
                </a>
            {% endif %}
        </div>
    </div>
</nav>

{% if user.is_authenticated %}
    {% if messages %}
        <br />
        <div class="container">
            {% for message in messages %}
                <div class="notifications {% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
        </div>
        <br />
    {% endif %}
{%  endif %}

<div class="container">

    {%  block content %}
    {%  endblock %}

</div>

</body>

<footer class="container footer">
    <div class="credit">
        <small>
            WIP - Borgia v2.0 - 17/03/2016 - <a href="https://wikiae.iresam.org/doku.php?id=historique_version_borgia">Historique des versions</a><br/>
            Borgia is an open-source project, developped by Arts et Métiers students.<br/>
            Me214 - Pastys 101-99 & Elek 142<br/>
            CSS d'après <a href="https://yunohost.org">Yunohost</a><br/>
            <a href="http://fortawesome.github.io/Font-Awesome/">FontAwesome</a>
        </small>
    </div>
    <div class="ideas">
        <small>
            Un bug? Des remarques? Partage les nous! <input type="submit" value="Reporter un bug" id="mailto_report">
        </small>
    </div>
    <script>
        document.getElementById("mailto_report").addEventListener('click', function(e) {
            window = window.open("mailto:support@iresam.org?Subject=Feedback Borgia", 'EmailWindow')
        }, false);
    </script>
</footer>

</html>