{% load staticfiles %}
{% load notifications_extra %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Borgia - V2.5.2</title>
    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style-xsmall.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}"/>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/fav_borgia.jpg' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="{% static 'jquery-ui-1.11.4/jquery-ui.js' %}"></script>
    <script src="{% static 'js/widgets.js' %}"></script>
    <link rel="stylesheet" href="{% static 'jquery-ui-1.11.4/jquery-ui.css' %}">
</head>
<body>

    <nav class="container">
        <div class="wrapper overlay">
            <div id="wrapper-user-menu">
                <ul class="user-menu">
                    <li><a class="icon icon-connexion" href="{% url 'django.contrib.auth.views.login' %}">Login</a></li>
                    <li><a class="icon icon-beer" href="{% url 'url_login_pg' organe='foyer' %}">Conso. Foyer</a></li>
                    <li><a class="icon icon-cutlery" href="{% url 'url_login_pg' organe='auberge' %}">Conso. Auberge</a></li>
                </ul>
            </div>
        </div>
    </nav>

<div class="container">

    {%  block content %}
    {%  endblock %}

</div>

</body>

{% if user.is_authenticated %}
    {% if user.avatar %}
        <style>
            .user-container:before {
                background: url('{% static user.avatar.url %}') no-repeat 0 0;
                background-size: 100%;
                content: "";
            }
        </style>
    {% endif %}
{% endif %}

</html>
