{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Borgia - betaV1.2.25</title>

    <link rel="stylesheet" href="{% static 'css/skeleton.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style-xsmall.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'img/fav_borgia.jpg' %}"/>

</head>
<body>
{%  block content %}
{%  endblock %}
</body>
<footer>
    <div class="container">
        <div class="column">
            <hr>
            <p class="align-center">Borgia WIP v1.2.25</p>
        </div>
    </div>
</footer>
</html>