<footer class="footer navbar-default">
  <div class="container-fluid">
    <div class="col-xs-9">
      <p class="navbar-text">
        <a href="https://github.com/borgia-app/Borgia/blob/master/license.txt" style="color: #777;">
          <i class="fa fa-copyright" aria-hidden="true"></i>
          Licence GNU GPL
        </a>
        <a href="https://github.com/orgs/borgia-app/people" style="margin-left: 10px; color: #777;">
          <i class="fa fa-users" aria-hidden="true"></i>
          Borgia maintainers
        </a>
        <a href="https://github.com/borgia-app/Borgia" style="margin-left: 10px; color: #777;">
          <i class="fa fa-github" aria-hidden="true"></i>
          Follow us on Github
        </a>
        <a href="https://github.com/borgia-app/Borgia-docs/blob/master/README.md" style="margin-left: 10px; color: #777;">
          <i class="fa fa-book" aria-hidden="true"></i>
          Documentation
        </a>
        <a href="https://borgia-app.slack.com" style="margin-left: 10px; color: #777;">
          <i class="fa fa-slack" aria-hidden="true"></i>
          Slack
        </a>
      </p>
   </div>
    <div class="col-xs-3">
      <p class="navbar-text pull-right">
        <a href="https://github.com/borgia-app/Borgia/releases/tag/4.5.4" style="color: #777;">
          <i class="fa fa-code-fork" aria-hidden="true"></i>
          Build 4.5.4
        </a>
      </p>
    </div>
  </div>
</footer>
