<!-- This snippet requires a tree of links to be displayed, a list of objects.
For instance :
context['nav_tree'] = nav_tree = [
    {
        'label': 'Link1',
        'icon': 'home',
        'id': 1,
        'subs': [
            {
                'label': 'Sublink1',
                'icon': 'home',
                'url': '/sublink1',
                'id': 11
            },
            {
                'label': 'Sublink2',
                'icon': 'pencil',
                'url': '/sublink2',
                'id': 12
            }
            ]
    },
    {
        'label': 'Link2',
        'icon': 'book',
        'url': '/link2',
        'id': 2
    },
    {
        'label': 'Link3',
        'id': 3,
        'subs': [
            {
                'label': 'Sublink3',
                'icon': 'book',
                'url': '/sublink3',
                'id': 31
            },
            {
                'label': 'Sublink4',
                'icon': 'gear',
                'url': '/sublink4',
                'id': 32
            }
        ]
    }
]
-->
<!-- Multi-level push menu -->
{% if nav_tree %}
	<nav id="sidebar" class="mp-menu">
		<div class="mp-level">
			<div class="mp-header">
				<h2>Borgia</h2>
			</div>
			<ul class="list-group">
			{% for link in nav_tree %}
				<li>
					<a
					class="menu-item {% if link.class %}list-group-item-{{ link.class }}{% endif %}
					{% if link.active %}active{% else %}
					{% if link.subs %}
					{% for sub in link.subs %}
						{% if sub.active %}active{% endif %}
					{% endfor %}
					{% endif %}
					{% endif %}"
					href="{% if link.url %}{{ link.url }}{% else %}#{% endif %}"
					id={{ link.id }}
					{% if link.subs %}data-has-subs{% endif %}
					>
						<i class="fa fa-{{ link.icon }} fa-fw" aria-hidden="true"></i>
						&nbsp; {{ link.label }}
						{% if link.subs %}
							<i class="fa fa-angle-right pull-right" aria-hidden="true"></i>
						{% endif %}
					</a>
					{% if link.subs %}
						<div class="mp-level">
							<h2>{{ link.label }}</h2>
							<a class="mp-back" href="#">
								<i class="fa fa-angle-left pull-left" aria-hidden="true"></i>
								<i class="fa fa-angle-left pull-left" aria-hidden="true"></i>
								Retour
							</a>

							<ul>
							{% for link_sub in link.subs %}
								<li>
									<a
										class="menu-item {% if link_sub.active %}active{% endif %}"
										href="{% if link_sub.url %}{{ link_sub.url }}{% else %}#{% endif %}"
										id={{ link_sub.id }}
									>
										<i class="fa fa-{{ link_sub.icon }} fa-fw" aria-hidden="true"></i>
											&nbsp; {{ link_sub.label }}
											{% if link_sub.subs %}
												<i class="fa fa-angle-right" aria-hidden="true"></i>
											{% endif %}
									</a>

								</li>

							{% endfor %}
							</ul>
						</div>
					{% endif %}
				</li>
			{% endfor %}
			</ul>
		</div>
	</nav>
{% endif %}
<!-- /mp-menu -->