{% extends 'base.html' %}

{% block content %}
    <footer class="footer">
        <div class="panel panel-custom">
            <div class="panel-heading clickable">
                <p class="panel-title align-center">
                        WIP - Borgia v2.8.0 - 09/12/2016</p>
                    <span class="pull-right "><i class="glyphicon glyphicon-minus mobileHide768"></i></span>
                </div>
                <div class="panel-body footer-panel">
                    <style>
                        .footer-panel{
                            display: none;
                            background: #353535;
                        }
                        .footer-panel a{
                            color: lightgray;
                        }
                    </style>
                   <div class="credit">
                        <div class="col-md-6">
                            <small>
                                <a href="http://wikiae.iresam.org/doku.php?id=borgia:historique_version_borgia">Historique des versions</a><br />
                                    Borgia is an open-source project, developped by Arts et Métiers students.<br/>
                                    Me214 - Pastys 101-99 & Elek 142<br />
                                    Me215 - Eyap 53 & Leyphay'ss 87 & SoqCmu 91-40² & Rowsky 144<br />
                            </small>
                        </div>
                        <div class="col-md-6 mobileHide">
                            <small>
                                CSS basé sur Twitter Bootstrap 3 et  <a href="https://yunohost.org">Yunohost</a><br/>
                                <a href="http://fortawesome.github.io/Font-Awesome/">FontAwesome</a>
                                <div class="ideas">
                                    Un bug? Des remarques? Partage les nous! <input type="submit" value="Reporter un bug" id="mailto_report" class="btn-default">
                                </div>
                            </small>
                        </div>

                    </div>
                </div>
    <script>
        document.getElementById("mailto_report").addEventListener('click', function(e) {
            window = window.open("mailto:support@iresam.org?Subject=Feedback Borgia", 'EmailWindow')
        }, false);


            $(document).on('click', '.panel div.clickable', function (e) {
                if ($(window).width() > 767) {
                    var $this = $(this);
                    if (!$this.hasClass('panel-collapsed')) {
                        $this.parents('.panel').find('.panel-body').slideUp(200);
                        $this.addClass('panel-collapsed');
                        $this.find('i').removeClass('glyphicon-minus').addClass('glyphicon-plus');
                    } else {
                        $this.parents('.panel').find('.panel-body').slideDown(200);
                        $this.removeClass('panel-collapsed');
                        $this.find('i').removeClass('glyphicon-plus').addClass('glyphicon-minus');
                    }
                }
            });
        $(document).ready(function () {
            $('.panel div.clickable').click();
        });
    </script>
</footer>
{% endblock %}
