{% extends 'base.html' %}

{% block content %}
     <div class="history">
        <div class="row">
            <button class="history_toggle"><i class="fa fa-line-chart" aria-hidden="true"></i><h3 class="history_title">Historique</h3></button>
            <div class="history_container container-fluid">
                <button class="history_toggle_inside"><span class="fa fa-line-chart" aria-hidden="true"></span><h3 class="history_title">Historique</h3></button>
                <div class="history_slide">
                    {% include 'finances/sale_list_light_module.html' with object_list=user.list_sale %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
