{% extends 'base_sober.html' %}
{% load bootstrap %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/i18n/defaults-fr_FR.min.js"></script>

<div class="panel panel-primary">
  <div class="panel-heading">
    Gestion du groupe {{ group.name }}
  </div>
  <div class="panel-body">
    <form action= "" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button class="btn btn-success" type="submit">Valider</button>
    </form>
  </div>
</div>

{% endblock %}
