{% extends 'base_sober.html' %}
{% load finances_extra %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    Détails de l'utilisateur
      <div class="btn-group" role="group" aria-label="change user">
        {% if request.user|has_perm:"users.change_user" %}
          <a class="btn btn-primary" href="{% url 'url_user_update' user_pk=user.pk %}">Modifier les informations</a>
        {% endif %}
        {% if request.user|has_perm:"users.delete_user" or user.pk == request.user.pk %}
          <a class="btn btn-primary" href="{% url 'url_user_deactivate' user_pk=user.pk %}">
            {% if user.is_active == True %}
              Désactiver le compte
            {% else %}
              Activer le compte
            {% endif %}
          </a>
        {% endif %}
        {% if request.user|has_perm:"finances.add_exceptionnalmovement" %}
          <a class="btn btn-primary" href="{% url 'url_user_exceptionnalmovement_create' user_pk=user.pk %}">Mouvement exceptionnel</a>
        {% endif %}
        {% if request.user|has_perm:"finances.add_recharging" %}
          <a class="btn btn-primary" href="{% url 'url_recharging_create' user_pk=user.pk %}">Ajout d'argent</a>
        {% endif %}
      </div>
  </div>
  <div class="panel-body">
    <div class="row">
        {% include "users/partials/display_user_data.html" %}
    </div>
  </div>
</div>
{% if request.user|has_perm:"users.advanced_view_user" %}
<div class="panel panel-default">
  <div class="panel-heading">
    Dernières transactions
  </div>
  <table class="table table-default table-striped table-hover">
    <thead>
      <tr>
        <th>Date</th>
        <th>Libellé</th>
        <th>Montant</th>
        {% if request.user|has_perm:"finances.view_sale" %}
          <th>Détail</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for transaction in user.list_transaction|slice:":25" %}
      {% price_for sale=transaction user=user as price_for %}
      <tr class="
      {% if transaction|get_transaction_model == 'Sale' %}
        danger
      {% elif transaction|get_transaction_model == 'ExceptionnalMovement' %}
        {% if transaction.is_credit %}
          success
        {% else %}
          danger
        {% endif %}
      {% elif transaction|get_transaction_model == 'Transfert' %}
        {% if transaction.recipient == user %}
          success
        {% else %}
          danger
        {% endif %}
      {% elif transaction|get_transaction_model == 'Events' %}
        danger
      {% else %}
        success
      {% endif %}
      ">
        <td>{{ transaction.datetime }}</td>
        <td>
          {{ transaction }}
        </td>
        <td>
          {% if transaction|get_transaction_model == 'Sale' %}
            -{{ transaction.amount }}€
          {% elif transaction|get_transaction_model == 'ExceptionnalMovement' %}
            {% if transaction.is_credit %}
              {{ transaction.amount }}€
            {% else %}
              -{{ transaction.amount }}€
            {% endif %}
          {% elif transaction|get_transaction_model == 'Transfert' %}
            {% if transaction.recipient == user %}
              {{ transaction.amount }}€
            {% else %}
              -{{ transaction.amount }}€
            {% endif %}
          {% elif transaction|get_transaction_model == 'Event' %}
              -{{ transaction.amount }}€
          {% else %}
            {{ transaction.amount }}€
          {% endif %}
        </td>
        {% if request.user|has_perm:"finances.view_sale" %}
          <td><a href="
            {% if transaction|get_transaction_model == 'Recharging' %}
              {% url 'url_recharging_retrieve' recharging_pk=transaction.pk %}
            {% elif transaction|get_transaction_model == 'Transfert' %}
              {% url 'url_transfert_retrieve' transfert_pk=transaction.pk %}
            {% elif transaction|get_transaction_model == 'ExceptionnalMovement' %}
              {% url 'url_exceptionnalmovement_retrieve' exceptionnalmovement_pk=transaction.pk %}
            {% endif %}
            ">Détail</a></td>
          {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}
