<table>
    <tr>
        <th>ID</th>
        <th>Produit Unitaire</th>
        <th>Modifier</th>
        <th>Supprimer</th>
        <th>Détails</th>
    </tr>
    {% for e in object_list %}
        <tr>
            <td>{{ e.pk }}</td>
            <td>{{ e.product_unit }}</td>
            <td><a href="{% url 'url_update_container' pk=e.id %}">modifier</a></td>
            <td><a href="{% url 'url_delete_container' pk=e.id %}">supprimer</a></td>
            <td><a href="{% url 'url_retrieve_container' pk=e.id %}">détail</a></td>
        </tr>
    {% endfor %}
</table>

