{% extends 'base.html' %}

{% block content %}
    <ul>
        <li>Nom : {{ object.name }}</li>
        <li>Description : {{ object.description }} €</li>
        <li>Produit unitaire : {{ object.product_unit }}</li>
        <li>Quantité initiale : {{ object.initial_quantity }}</li>
        <li>Quantité restante estimée : {{ object.estimated_remaining_quantity }}</li>
        <li>Vide : {{ object.is_empty }}</li>
        <li>Date de mise en service : {{ object.opening_date }}</li>
        <li>Date de retrait du service : {{ object.removing_date }}</li>
        <li>Consigné : {{ object.is_returnable }}</li>
        <li>Retour consigne : {{ object.return_date }}</li>
    </ul>
{% endblock %}