{% extends 'base.html' %}

{% block content %}
    <div class="container50">
        <table>
            <tr>
                <th>Tireuse</th>
                <th>Actuellement</th>
                <th>Modifier</th>
            </tr>
            {% for e in active_keg_container_list %}
                <tr>
                    <td>{{ e.0 }}</td>
                    <td>{{ e.1 }}</td>
                    <td><a href="{% url 'url_replacement_active_keg' %}?pk={{ e.1.pk }}&place={{ e.0 }}&next=/shops/foyer/list_active_keg">Changement</a></td>
                </tr>
            {% endfor %}
        </table>
        <p><a href="{% url 'url_workboard_foyer' %}">Retour au workboard Foyer</a></p>
    </div>
{% endblock %}
