{% extends 'base.html' %}

{% block content %}

    <div class="container50">
        <h2 class="align-center">Ajout de produits</h2>
        <h3 class="align-center">Magasin: {{ shop }}</h3>
        <form class="form-style-1" action= "{% url 'url_create_product_multiple' shop=shop %}" method="post">
            {% csrf_token %}
            {{ form.as_ul }}
            <li id="id_link_create_productbase"><label>Le produit n'est pas dans la liste ? <a href="{% url 'url_create_productbase' %}?next=/shops/product/create/multiple/{{ shop }}/?next={{ next }}">Ajout !</a></label></li>
            <input type=hidden name="next" value="{{ next }}" />
            <input type=hidden name="shop" id='hidden_shop' value="{{ shop }}" />
            <li><input type="submit" value="Valider"/></li>
        </form>
    </div>
    <script>
        document.getElementById('id_shop').value = document.getElementById('hidden_shop').value;
    </script>

    <script>
        // Initialisation de type et du compte en banque (erreur de validation)
        $(document).ready(function() {
            check_type_product();
        });

        // Gestion des comptes en banque
        $('#id_product_base').blur(function() {
            check_type_product();
        });



        function check_type_product() {
            $.ajax({
                url: "{% url 'url_get_productbase' %}",
                dataType: "json",
                data: {
                    pk: $('#id_product_base').val()
                },
                success: function(data) {

                    if (data.fields.type == 'container') {
                        $.ajax({
                            url: "{% url 'url_get_productunit' %}",
                            dataType: "json",
                            data: {
                                pk: data.fields.product_unit
                            },
                            success: function(data2) {
                                if (data2.fields.type == 'meat' || data2.fields.type == 'cheese') {
                                    $('label[for="id_quantity"]').html("Contenance (ex: en gr pour les fromages et les jambons)");
                                }
                                else {
                                    $('label[for="id_quantity"]').html("Quantité à ajouter");
                                }
                            }
                        });

                    }

                    else {
                        $('label[for="id_quantity"]').html("Quantité à ajouter");
                    }
                }
            });
        }




    </script>
{% endblock %}