{% extends 'base.html' %}

{% block content %}

    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-custom">
            <div class="panel-heading">
                <h2 class="align-center">Ajout d'une base de produit</h2>
            </div>
            <div class="panel-body">
                <form class="form-style-1" action= "{% url 'url_create_productbase' %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_ul }}
                    <li id="id_link_create_productunit"><label>L'unité n'est pas dans la liste ? <a href="{% url 'url_create_productunit' %}?next=/shops/productbase/create?next={{ next }}">Ajout !</a></label></li>
                    <input type=hidden name="next" value="{{ next }}" />
                    <li><input type="submit" value="Valider"/></li>
                </form>
            </div>
        </div>
    </div>
    <script>
        var labels = document.getElementsByTagName('LABEL');
        for (var i = 0; i < labels.length; i++) {
            if (labels[i].htmlFor != '') {
                var elem = document.getElementById(labels[i].htmlFor);
                if (elem)
                    elem.label = labels[i];
            }
        }
        $(document).ready(function() {
            if ($("#id_type").val() == 'single_product') {
                document.getElementById('id_product_unit').style.display = 'None';
                document.getElementById('id_product_unit').label.style.display = 'None';
                document.getElementById('id_quantity').style.display = 'None';
                document.getElementById('id_quantity').label.style.display = 'None';
                document.getElementById('id_product_unit').value = '';
                document.getElementById('id_quantity').value = 0;
                document.getElementById('id_link_create_productunit').style.display = 'None';
                $("#id_product_unit").prop('required',false);
                $("#id_quantity").prop('required', false);            
}
            if ($("#id_type").val() == 'container') {
                document.getElementById('id_product_unit').style.display = '';
                document.getElementById('id_product_unit').label.style.display = '';
                document.getElementById('id_quantity').style.display = '';
                document.getElementById('id_quantity').label.style.display = '';
                document.getElementById('id_link_create_productunit').style.display = '';
                $("#id_product_unit").prop('required',true);
                $("#id_quantity").prop('required', true);
            }
});
	$("#id_type").change( function() {

            if ($(this).val() == 'single_product') {
                document.getElementById('id_product_unit').style.display = 'None';
                document.getElementById('id_product_unit').label.style.display = 'None';
                document.getElementById('id_quantity').style.display = 'None';
                document.getElementById('id_quantity').label.style.display = 'None';
                document.getElementById('id_product_unit').value = '';
                document.getElementById('id_quantity').value = 0;
                document.getElementById('id_link_create_productunit').style.display = 'None';
		$("#id_product_unit").prop('required',false);
		$("#id_quantity").prop('required', false);            
}
            if ($(this).val() == 'container') {
                document.getElementById('id_product_unit').style.display = '';
                document.getElementById('id_product_unit').label.style.display = '';
                document.getElementById('id_quantity').style.display = '';
                document.getElementById('id_quantity').label.style.display = '';
                document.getElementById('id_link_create_productunit').style.display = '';
		$("#id_product_unit").prop('required',true);
		$("#id_quantity").prop('required', true);
            }
        });
    </script>

{% endblock %}
