{% load finances_extra %}
<table>
    <tr>
        <th>Nom</th>
        <th>Type</th>
        <th>Prix de vente actuel</th>
        <th>Calcul du prix</th>
        <th>Modifier</th>
    </tr>
    {% for e in object_list %}
        <tr>
            <td>{{ e.name }}</td>
            <td>{{ e.get_type_display }}</td>
            <td>{{ e.get_moded_usual_price }}</td>
            <td>{% human_reading e.is_manual 'manual_price' %}</td>
            <td><a href="{% url 'url_update_productbase' pk=e.id %}">modifier</a></td>
        </tr>
    {% endfor %}
</table>
