{% extends 'base_sober.html' %}

{% block content %}
<div class="panel panel-danger">
  <div class="panel-heading">
    Désactivation d'un produit
  </div>
  <div class="panel-body">
    <form action="" method="post">
      {% csrf_token %}
      <label>{% if product.is_active == True %}
            Désactiver
        {% else %}
            Activer
        {% endif %}
            le produit {{ product }} ?</label>
        <button class="btn btn-danger" type="submit">Valider</button>
    </form>
  </div>
</div>
{% endblock %}
