{% extends 'base_sober.html' %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
          Recherche
        </div>
        <div class="panel-body">
          A faire
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          Résultats
        </div>
          <table class="table table-hover table-striped">
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th>Stock</th>
                <th>Actif</th>
            </tr>
            {% for product in product_list %}
            <tr>
                <td>{{ product }}</td>
                <td>{{ product.type }}</td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
          </table>
        </div>
{% endblock %}
