{% extends 'base.html' %}

{% block content %}

    <div class="container50">
        <form action= "{% url 'url_create_productbase' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <p id="id_link_create_productunit">L'unité n'est pas dans la liste ? <a href="{% url 'url_create_productunit' %}?next=/shops/productbase/create?next={{ next }}">Ajout !</a></p>
            <input type=hidden name="next" value="{{ next }}" />
            <input type="submit" value="Submit"/>
        </form>
    </div>
    <script>
        var labels = document.getElementsByTagName('LABEL');
        for (var i = 0; i < labels.length; i++) {
            if (labels[i].htmlFor != '') {
                var elem = document.getElementById(labels[i].htmlFor);
                if (elem)
                    elem.label = labels[i];
            }
        }

        document.getElementById('id_type').addEventListener('change', function(e) {
            if (e.target.value == 'single_product') {
                document.getElementById('id_product_unit').style.display = 'None';
                document.getElementById('id_product_unit').label.style.display = 'None';
                document.getElementById('id_quantity').style.display = 'None';
                document.getElementById('id_quantity').label.style.display = 'None';
                document.getElementById('id_product_unit').value = '';
                document.getElementById('id_quantity').value = 0;
                document.getElementById('id_link_create_productunit').style.display = 'None';
            }
            if (e.target.value == 'container') {
                document.getElementById('id_product_unit').style.display = '';
                document.getElementById('id_product_unit').label.style.display = '';
                document.getElementById('id_quantity').style.display = '';
                document.getElementById('id_quantity').label.style.display = '';
                document.getElementById('id_link_create_productunit').style.display = '';
            }
        }, false)
    </script>

{% endblock %}