{% extends 'base_sober.html' %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    Détails du produit
    <a class="btn btn-default btn-xs" href="{% url 'url_product_list' group_name=group.name %}">Liste</a>
  </div>
  <div class="panel-body">
    <ul>
      <li>Nom : {{ object.name }}</li>
      <li>Prix de vente actuel : </li>
      <li>Type : {{ object.get_display_type }}</li>
      <li>Magasin : {{ object.shop }}</li>
      <li>En stock : </li>
    </ul>
  </div>
</div>
<div class="panel panel-warning">
  <div class="panel-heading">
    Administration
  </div>
  <div class="panel-body">
    {% if group|has_group_perm:"change_product" %}<p><a class="btn btn-default" href="{% url 'url_product_update' group_name=group_name pk=object.pk %}">Modifier les informations</a></p>{% endif %}
    {% if group|has_group_perm:"change_price_product" %}<p><a class="btn btn-default" href="{% url 'url_product_update_price' group_name=group_name pk=object.pk %}">Modifier le prix de vente</a></p> {% endif %}
    {% if group|has_group_perm:"change_stock_product" %}<p><a class="btn btn-default" href="{% url 'url_product_update_stock' group_name=group_name pk=object.pk %}">Régulariser le stock</a></p> {% endif %}
    <p><a class="btn btn-default" href="{% url 'url_product_deactivate' group_name=group_name pk=object.pk %}">
        {% if object.is_active == True %}
            Désactiver le produit
        {% else %}
            Activer le produit
        {% endif %}</a></p>
  </div>
</div>
{% endblock %}
