{% extends 'base.html' %}

{% block content %}
    <div class="container50">
        <h2 class="align-center">Suppression d'une unité de produit</h2>
        <form class="form-style-1" action="" method="post">{% csrf_token %}
            <li><label>le produit unitaire {{ object }} ?</label></li>
            <li><input type="submit" value="Supprimer" /></li>
            <p class="justify">Attention : supprimer cette unité de produit supprimera automatiquement tous les produits
            conteneurs ou unitaires qui proviennent de cette unité ! Utilisez cette fonction avec précaution.</p>
        </form>
    </div>
{% endblock %}