{% extends 'base.html' %}

{% block content %}

    <form method="POST" action="{% url 'url_purchase_foyer' %}">
        {% csrf_token %}

        <div id="infos_user_consumption">
            <ul>
                <li>Username : {{ user.username }}</li>
                <li>{{ user.surname }} {{ user.family }} {{ user.campus }}{{ user.year_pg }}</li>
                <li>Solde disponible : <b id="balance_before">{{ user.balance|floatformat:2 }}</b><b> €</b></li>
                <li>Consommation : <b id="total_consumption">0 </b><b> €</b></li>
                <li>Prévision du solde : <b id="balance_after"></b><b> €</b></li>
            </ul>

        </div>

        <div id="tap">
            <h2><u>Tireuses à bière</u></h2>
            <table>
                <th>N° tireuse</th>
                <th>Bière</th>
                <th>Prix 25 cl</th>
                <th>Nombre de verres</th>
                <th>Prix correspondant</th>

                {% for e in dict_field_tap %}
                    <tr>
                        <div class="fieldWrapper">
                            <td>{{ e.1.number }}</td>
                            <td>{{ e.1.container.product_unit.name }}</td>
                            <td><span id="selected_initial_price_tap_{{ e.2 }}">{{ e.1.container.product_unit.price_glass|floatformat:2 }}</span> €</td>
                            <td>{{ e.0 }}</td>
                            <td><span id="selected_price_tap_{{ e.2 }}">0</span> €</td>
                        </div>
                    </tr>
                {% endfor %}

            </table>
        </div>

        <div id="single_product">
            <h2><u>Produits unitaires</u></h2>
            <table>
                <th>Produit</th>
                <th>Prix</th>
                <th>Nombre</th>
                <th>Prix correspondant</th>

                {% for e in dict_field_single_product %}
                    <tr>
                        <div class="fieldWrapper">
                            <td>{{ e.1.name }}</td>
                            <td><span id="selected_initial_price_single_product_{{ e.2 }}">{{ e.1.price|floatformat:2 }}</span> €</td>
                            <td>{{ e.0 }}</td>
                            <td> <span id="selected_price_single_product_{{ e.2 }}">0</span> €</td>
                        </div>
                    </tr>
                {% endfor %}

            </table>
        </div>

        <div id="product_unit_soft">
            <h2><u>Soft</u></h2>
            <table>
                <th>Produit</th>
                <th>Prix 75 cl</th>
                <th>Nombre</th>
                <th>Prix correspondant</th>

                {% for e in dict_field_product_unit_soft %}
                    <tr>
                        <div class="fieldWrapper">
                            <td>{{ e.1.name }}</td>
                            <td><span id="selected_initial_price_product_unit_soft_{{ e.2 }}">{{ e.1.price_glass|floatformat:2 }}</span> €</td>
                            <td>{{ e.0 }}</td>
                            <td> <span id="selected_price_product_unit_soft_{{ e.2 }}">0</span> €</td>
                        </div>
                    </tr>
                {% endfor %}

            </table>
        </div>

        <div id="product_unit_liquor">
            <h2><u>Alcools forts & sirops</u></h2>
            <table>
                <th>Produit</th>
                <th>Prix 4 cl</th>
                <th>Nombre</th>
                <th>Prix correspondant</th>

                {% for e in dict_field_product_unit_liquor %}
                    <tr>
                        <div class="fieldWrapper">
                            <td>{{ e.1.name }}</td>
                            <td><span id="selected_initial_price_product_unit_liquor_{{ e.2 }}">{{ e.1.price_shoot|floatformat:2 }}</span> €</td>
                            <td>{{ e.0 }}</td>
                            <td> <span id="selected_price_product_unit_liquor_{{ e.2 }}">0</span> €</td>
                        </div>
                    </tr>
                {% endfor %}

            </table>
        </div>

        <input type=submit value="Valider">

    </form>

    <script>
        function update_consumption() {
            var sum_tap = 0;
            var sum_single_product = 0;
            var sum_product_unit_soft = 0;
            var sum_product_unit_liquor = 0;

            for (i=0; i<{{ tap_list|length }}; i++) {
                sum_tap += Number(document.getElementById("selected_price_tap_" + i).textContent);
            }
            for (i=0; i<{{ single_product_list|length }}; i++) {
                sum_single_product += Number(document.getElementById("selected_price_single_product_" + i).textContent);
            }
            for (i=0; i<{{ product_unit_soft_list|length }}; i++) {
                sum_product_unit_soft += Number(document.getElementById("selected_price_product_unit_soft_" + i).textContent);
            }
            for (i=0; i<{{ product_unit_liquor_list|length }}; i++) {
                sum_product_unit_liquor += Number(document.getElementById("selected_price_product_unit_liquor_" + i).textContent);
            }
            var balance_before = Number(document.getElementById("balance_before").textContent.replace(",","."));
            document.getElementById("total_consumption").textContent = String((sum_tap+sum_single_product+sum_product_unit_soft+sum_product_unit_liquor).toFixed(2));
            document.getElementById("balance_after").textContent = String((balance_before-sum_tap-sum_single_product-sum_product_unit_soft-sum_product_unit_liquor).toFixed(2));
        }

        var selected_quantity_tap = [];
        var selected_price_tap = [];
        var selected_initial_price_tap = [];
        var selected_quantity_single_product = [];
        var selected_price_single_product = [];
        var selected_initial_price_single_product = [];
        var selected_quantity_product_unit_soft = [];
        var selected_price_product_unit_soft = [];
        var selected_initial_price_product_unit_soft = [];
        var selected_quantity_product_unit_liquor = [];
        var selected_price_product_unit_liquor = [];
        var selected_initial_price_product_unit_liquor = [];

        for (i=0; i<{{ tap_list|length }}; i++) {
            selected_price_tap.push(document.getElementById("selected_price_tap_"+i));
            selected_quantity_tap.push(document.getElementById("id_field_tap_"+i));
            selected_initial_price_tap.push(document.getElementById("selected_initial_price_tap_"+i));
        }
        for (i=0; i<{{ single_product_list|length }}; i++) {
            selected_price_single_product.push(document.getElementById("selected_price_single_product_"+i));
            selected_quantity_single_product.push(document.getElementById("id_field_single_product_"+i));
            selected_initial_price_single_product.push(document.getElementById("selected_initial_price_single_product_"+i));
        }
        for (i=0; i<{{ product_unit_soft_list|length }}; i++) {
            selected_price_product_unit_soft.push(document.getElementById("selected_price_product_unit_soft_"+i));
            selected_quantity_product_unit_soft.push(document.getElementById("id_field_product_unit_soft_"+i));
            selected_initial_price_product_unit_soft.push(document.getElementById("selected_initial_price_product_unit_soft_"+i));
        }
        for (i=0; i<{{ product_unit_liquor_list|length }}; i++) {
            selected_price_product_unit_liquor.push(document.getElementById("selected_price_product_unit_liquor_"+i));
            selected_quantity_product_unit_liquor.push(document.getElementById("id_field_product_unit_liquor_"+i));
            selected_initial_price_product_unit_liquor.push(document.getElementById("selected_initial_price_product_unit_liquor_"+i));
        }
        for(i=0;i<{{ tap_list|length }};i++){
            (function(x) {
                selected_quantity_tap[i].addEventListener('change', function(e) {
                    selected_price_tap[x].textContent = String((e.target.value * Number(selected_initial_price_tap[x].textContent.replace(",", "."))).toFixed(2));
                    update_consumption();
                }, false);
            })(i);
        }
        for(i=0;i<{{ single_product_list|length }};i++){
            (function(x) {
                selected_quantity_single_product[i].addEventListener('change', function(e) {
                    selected_price_single_product[x].textContent = String((e.target.value * Number(selected_initial_price_single_product[x].textContent.replace(",", "."))).toFixed(2));
                    update_consumption();
                }, false);
            })(i);
        }
        for(i=0;i<{{ product_unit_soft_list|length }};i++){
            (function(x) {
                selected_quantity_product_unit_soft[i].addEventListener('change', function(e) {
                    selected_price_product_unit_soft[x].textContent = String((e.target.value * Number(selected_initial_price_product_unit_soft[x].textContent.replace(",", "."))).toFixed(2));
                    update_consumption();
                }, false);
            })(i);
        }
        for(i=0;i<{{ product_unit_liquor_list|length }};i++){
            (function(x) {
                selected_quantity_product_unit_liquor[i].addEventListener('change', function(e) {
                    selected_price_product_unit_liquor[x].textContent = String((e.target.value * Number(selected_initial_price_product_unit_liquor[x].textContent.replace(",", "."))).toFixed(2));
                    update_consumption();
                }, false);
            })(i);
        }
    </script>

{% endblock %}