{% extends 'base.html' %}

{% block content %}
    <form method="POST" action="{% url 'url_purchase_foyer' %}">
        {% csrf_token %}
        <div class="container">
            <div class="one-half column">
                <ul>
                    <li><strong>Username : </strong>{{ user.username }}</li>
                    <li>{{ user.surname }} {{ user.family }} {{ user.campus }}{{ user.year_pg }}</li>
                    <li><strong>Solde disponible : </strong><b id="balance_before">{{ user.balance }}</b><b> €</b></li>
                    <li><strong>Consommation : </strong><b id="total_consumption">0 </b><b> €</b></li>
                    <li><strong>Prévision du solde : </strong><b id="balance_after"></b><b> €</b></li>
                </ul>
            </div>
            <div class="one-half column">
                <input type=submit value="Valider">
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="one-half column">
                    <div class="row">
                        <h2><u>Tireuses à bière</u></h2>
                        <table>
                            <th>Bière</th>
                            <th>Prix 25 cl</th>
                            <th>Nombre</th>
                            <th>Prix correspondant</th>

                            {% for e in dict_field_active_keg_container %}
                                <tr>
                                    <div class="fieldWrapper">
                                        <td>{{ e.1.product_base.product_unit }}</td>
                                        <td><span id="selected_initial_price_active_keg_{{ e.2 }}">{{ e.1.product_base.calculated_price_usual }}</span> €</td>
                                        <td>{{ e.0 }}</td>
                                        <td><span id="selected_price_active_keg_{{ e.2 }}">0</span> €</td>
                                    </div>
                                </tr>
                            {% endfor %}

                        </table>
                    </div>
                    <div class="row">
                        <h2><u>Alcools forts & sirops</u></h2>
                        <table>
                            <th>Produit</th>
                            <th>Prix 4 cl</th>
                            <th>Nombre</th>
                            <th>Prix correspondant</th>

                            {% for e in dict_field_container_liquor %}
                                <tr>
                                    <div class="fieldWrapper">
                                        <td>{{ e.1.product_unit }}</td>
                                        <td><span id="selected_initial_price_container_liquor_{{ e.2 }}">{{ e.1.calculated_price_usual }}</span> €</td>
                                        <td>{{ e.0 }}</td>
                                        <td> <span id="selected_price_container_liquor_{{ e.2 }}">0</span> €</td>
                                    </div>
                                </tr>
                            {% endfor %}
                            {% for e in dict_field_container_syrup %}
                                <tr>
                                    <div class="fieldWrapper">
                                        <td>{{ e.1.product_unit }}</td>
                                        <td><span id="selected_initial_price_container_syrup_{{ e.2 }}">{{ e.1.calculated_price_usual }}</span> €</td>
                                        <td>{{ e.0 }}</td>
                                        <td> <span id="selected_price_container_syrup_{{ e.2 }}">0</span> €</td>
                                    </div>
                                </tr>
                            {% endfor %}

                        </table>
                    </div>
                </div>

                <div class="one-half column">
                    <div class="row">
                        <h2><u>Produits unitaires</u></h2>
                        <table>
                            <th>Produit</th>
                            <th>Prix</th>
                            <th>Nombre</th>
                            <th>Prix correspondant</th>

                            {% for e in dict_field_single_product %}
                                <tr>
                                    <div class="fieldWrapper">
                                        <td>{{ e.1 }}</td>
                                        <td><span id="selected_initial_price_single_product_{{ e.2 }}">{{ e.1.calculated_price }}</span> €</td>
                                        <td>{{ e.0 }}</td>
                                        <td> <span id="selected_price_single_product_{{ e.2 }}">0</span> €</td>
                                    </div>
                                </tr>
                            {% endfor %}

                        </table>
                    </div>
                    <div class="row">
                        <h2><u>Soft</u></h2>
                        <table>
                            <th>Produit</th>
                            <th>Prix 25 cl</th>
                            <th>Nombre</th>
                            <th>Prix correspondant</th>

                            {% for e in dict_field_container_soft %}
                                <tr>
                                    <div class="fieldWrapper">
                                        <td>{{ e.1.product_unit }}</td>
                                        <td><span id="selected_initial_price_container_soft_{{ e.2 }}">{{ e.1.calculated_price_usual }}</span> €</td>
                                        <td>{{ e.0 }}</td>
                                        <td> <span id="selected_price_container_soft_{{ e.2 }}">0</span> €</td>
                                    </div>
                                </tr>
                            {% endfor %}

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script>
        function update_consumption() {
            var sum_active_keg = 0;
            var sum_single_product = 0;
            var sum_container_soft = 0;
            var sum_container_liquor = 0;
            var sum_container_syrup = 0;

            for (i=0; i<{{ active_keg_container_list|length }}; i++) {
                sum_active_keg += Number(document.getElementById("selected_price_active_keg_" + i).textContent);
            }
            for (i=0; i<{{ single_product_available_list|length }}; i++) {
                sum_single_product += Number(document.getElementById("selected_price_single_product_" + i).textContent);
            }
            for (i=0; i<{{ container_soft_list|length }}; i++) {
                sum_container_soft += Number(document.getElementById("selected_price_container_soft_" + i).textContent);
            }
            for (i=0; i<{{ container_liquor_list|length }}; i++) {
                sum_container_liquor += Number(document.getElementById("selected_price_container_liquor_" + i).textContent);
            }
            for (i=0; i<{{ container_syrup_list|length }}; i++) {
                sum_container_syrup += Number(document.getElementById("selected_price_container_syrup_" + i).textContent);
            }
            var balance_before = Number(document.getElementById("balance_before").textContent.replace(",","."));
            document.getElementById("total_consumption").textContent = String((sum_active_keg+sum_single_product+sum_container_soft+sum_container_liquor+sum_container_syrup).toFixed(2));
            document.getElementById("balance_after").textContent = String((balance_before-sum_active_keg-sum_single_product-sum_container_soft-sum_container_liquor-sum_container_syrup).toFixed(2));
        }

        var selected_quantity_active_keg = [];
        var selected_price_active_keg = [];
        var selected_initial_price_active_keg = [];
        var selected_quantity_single_product = [];
        var selected_price_single_product = [];
        var selected_initial_price_single_product = [];
        var selected_quantity_container_soft = [];
        var selected_price_container_soft = [];
        var selected_initial_price_container_soft = [];
        var selected_quantity_container_liquor = [];
        var selected_price_container_liquor = [];
        var selected_initial_price_container_liquor = [];
        var selected_quantity_container_syrup = [];
        var selected_price_container_syrup = [];
        var selected_initial_price_container_syrup = [];

        for (i=0; i<{{ active_keg_container_list|length }}; i++) {
            selected_price_active_keg.push(document.getElementById("selected_price_active_keg_"+i));
            selected_quantity_active_keg.push(document.getElementById("id_field_active_keg_container_"+i));
            selected_initial_price_active_keg.push(document.getElementById("selected_initial_price_active_keg_"+i));
        }
        for (i=0; i<{{ single_product_available_list|length }}; i++) {
            selected_price_single_product.push(document.getElementById("selected_price_single_product_"+i));
            selected_quantity_single_product.push(document.getElementById("id_field_single_product_"+i));
            selected_initial_price_single_product.push(document.getElementById("selected_initial_price_single_product_"+i));
        }
        for (i=0; i<{{ container_soft_list|length }}; i++) {
            selected_price_container_soft.push(document.getElementById("selected_price_container_soft_"+i));
            selected_quantity_container_soft.push(document.getElementById("id_field_container_soft_"+i));
            selected_initial_price_container_soft.push(document.getElementById("selected_initial_price_container_soft_"+i));
        }
        for (i=0; i<{{ container_liquor_list|length }}; i++) {
            selected_price_container_liquor.push(document.getElementById("selected_price_container_liquor_"+i));
            selected_quantity_container_liquor.push(document.getElementById("id_field_container_liquor_"+i));
            selected_initial_price_container_liquor.push(document.getElementById("selected_initial_price_container_liquor_"+i));
        }
        for (i=0; i<{{ container_syrup_list|length }}; i++) {
            selected_price_container_syrup.push(document.getElementById("selected_price_container_syrup_"+i));
            selected_quantity_container_syrup.push(document.getElementById("id_field_container_syrup_"+i));
            selected_initial_price_container_syrup.push(document.getElementById("selected_initial_price_container_syrup_"+i));
        }
        for(i=0;i<{{ active_keg_container_list|length }};i++){
            (function(x) {
                selected_quantity_active_keg[i].addEventListener('change', function(e) {
                    selected_price_active_keg[x].textContent = String((e.target.value * Number(selected_initial_price_active_keg[x].textContent.replace(",", "."))).toFixed(2));
                    update_consumption();
                }, false);
            })(i);
        }
        for(i=0;i<{{ single_product_available_list|length }};i++){
            (function(x) {
                selected_quantity_single_product[i].addEventListener('change', function(e) {
                    selected_price_single_product[x].textContent = String((e.target.value * Number(selected_initial_price_single_product[x].textContent.replace(",", "."))).toFixed(2));
                    update_consumption();
                }, false);
            })(i);
        }
        for(i=0;i<{{ container_soft_list|length }};i++){
            (function(x) {
                selected_quantity_container_soft[i].addEventListener('change', function(e) {
                    selected_price_container_soft[x].textContent = String((e.target.value * Number(selected_initial_price_container_soft[x].textContent.replace(",", "."))).toFixed(2));
                    update_consumption();
                }, false);
            })(i);
        }
        for(i=0;i<{{ container_liquor_list|length }};i++){
            (function(x) {
                selected_quantity_container_liquor[i].addEventListener('change', function(e) {
                    selected_price_container_liquor[x].textContent = String((e.target.value * Number(selected_initial_price_container_liquor[x].textContent.replace(",", "."))).toFixed(2));
                    update_consumption();
                }, false);
            })(i);
        }
        for(i=0;i<{{ container_syrup_list|length }};i++){
            (function(x) {
                selected_quantity_container_syrup[i].addEventListener('change', function(e) {
                    selected_price_container_syrup[x].textContent = String((e.target.value * Number(selected_initial_price_container_syrup[x].textContent.replace(",", "."))).toFixed(2));
                    update_consumption();
                }, false);
            })(i);
        }
    </script>

{% endblock %}