{% extends 'base_clean.html' %}

{% block content %}

    <form method="POST" action="{% url 'url_purchase_auberge' %}" id="form_purchase">
        {% csrf_token %}
        <div class="container">
            <div class="row">
                {{ form.non_field_errors }}
            </div>
            <div class="row">
                <div class="one-half column">
                    <div class="row">
                        <div class="fieldWrapper">
                            {{ form.client_username.errors }}
                            <label for="{{ form.client_username.id_for_label }}">Client:</label>
                            {{ form.client_username }}
                        </div>
                        <span class="user-balance"><span id="balance_before">0.00</span> € - <span id="total_consumption">0.00</span> € = <span id="balance_after">0.00</span> €</span>
                        <input type=hidden name="hidden_balance_after" id="hidden_balance_after" value="" />
                    </div>
                    <div class="row">
                        <input id="id_submit" type=submit value="Valider"/>
                    </div>
                </div>
                <div class="one-half column">
                    <div class="fieldWrapper">
                        {{ form.operator_username.errors }}
                        <label for="{{ form.operator_username.id_for_label }}">Opérateur:</label>
                        {{ form.operator_username }}
                    </div>
                    <div class="fieldWrapper">
                        {{ form.operator_password.errors }}
                        <label for="{{ form.operator_password.id_for_label }}">Mot de passe:</label>
                        {{ form.operator_password }}
                    </div>
                </div>
            </div>
        </div>
        <div id="div_purchase" class="container">
            <div class="row">
                <ul id="onglets">
                    <li id="li_meat">Viandes</li>
                    <li id="li_cheese">Fromages</li>
                    <li id="li_side">Acompagnements</li>
                    <li id="li_single_product">Produits unitaires</li>
                </ul>
            </div>
            <div class="row">

                <div class="row" id="div_container_meat">
                    <table>
                        <th>Produit</th>
                        <th>Prix 1 gr</th>
                        <th>Nombre</th>
                        <th>Prix correspondant</th>

                        {% for e in dict_field_container_meat %}
                            <tr>
                                <div class="fieldWrapper">
                                    <td>{{ e.1.product_unit }}</td>
                                    <td><span id="selected_initial_price_container_meat_{{ e.2 }}">{{ e.1.get_moded_usual_price }}</span> €</td>
                                    <td>{{ e.0 }}</td>
                                    <td> <span id="selected_price_container_meat_{{ e.2 }}">0.00</span> €</td>
                                </div>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div class="row" id="div_container_cheese">
                    <table>
                        <th>Produit</th>
                        <th>Prix 1 gr</th>
                        <th>Nombre</th>
                        <th>Prix correspondant</th>

                        {% for e in dict_field_container_cheese %}
                            <tr>
                                <div class="fieldWrapper">
                                    <td>{{ e.1.product_unit }}</td>
                                    <td><span id="selected_initial_price_container_cheese_{{ e.2 }}">{{ e.1.get_moded_usual_price }}</span> €</td>
                                    <td>{{ e.0 }}</td>
                                    <td> <span id="selected_price_container_cheese_{{ e.2 }}">0.00</span> €</td>
                                </div>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div class="row" id="div_container_side">
                    <table>
                        <th>Produit</th>
                        <th>Prix 1 gr</th>
                        <th>Nombre</th>
                        <th>Prix correspondant</th>

                        {% for e in dict_field_container_side %}
                            <tr>
                                <div class="fieldWrapper">
                                    <td>{{ e.1.product_unit }}</td>
                                    <td><span id="selected_initial_price_container_side_{{ e.2 }}">{{ e.1.get_moded_usual_price }}</span> €</td>
                                    <td>{{ e.0 }}</td>
                                    <td> <span id="selected_price_container_side_{{ e.2 }}">0.00</span> €</td>
                                </div>
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div class="row" id="div_single_product">
                    <table>
                        <th>Produit</th>
                        <th>Prix</th>
                        <th>Nombre</th>
                        <th>Prix correspondant</th>

                        {% for e in dict_field_single_product %}
                            <tr>
                                <div class="fieldWrapper">
                                    <td>{{ e.1 }}</td>
                                    <td><span id="selected_initial_price_single_product_{{ e.2 }}">{{ e.1.get_moded_usual_price }}</span> €</td>
                                    <td>{{ e.0 }}</td>
                                    <td> <span id="selected_price_single_product_{{ e.2 }}">0.00</span> €</td>
                                </div>
                            </tr>
                        {% endfor %}

                    </table>
                </div>

            </div>
        </div>
    </form>

    <script>
        onglets = document.getElementById('onglets');
        var li_list = onglets.getElementsByTagName('li');
        var div_list = [];
        var active_li = 0;
        var fields_list = [];
        var active_field = 0;

        div_list.push(document.getElementById('div_container_meat'));
        div_list.push(document.getElementById('div_container_cheese'));
        div_list.push(document.getElementById('div_container_side'));
        div_list.push(document.getElementById('div_single_product'));

        var selected_quantity_single_product = [];
        var selected_price_single_product = [];
        var selected_initial_price_single_product = [];
        var selected_quantity_container_meat = [];
        var selected_price_container_meat = [];
        var selected_initial_price_container_meat = [];
        var selected_quantity_container_cheese = [];
        var selected_price_container_cheese = [];
        var selected_initial_price_container_cheese = [];
        var selected_quantity_container_side = [];
        var selected_price_container_side = [];
        var selected_initial_price_container_side = [];

        document.getElementById('id_client_username').addEventListener('blur', function() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '{% url 'url_balance_from_username' %}?username=' + document.getElementById('id_client_username').value);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    document.getElementById('balance_before').textContent = xhr.response;
                }
            };
            xhr.send(null);
        });

        for (i=0; i<{{ single_product_available_list|length }}; i++) {
            selected_price_single_product.push(document.getElementById("selected_price_single_product_"+i));
            selected_quantity_single_product.push(document.getElementById("id_field_single_product_"+i));
            selected_initial_price_single_product.push(document.getElementById("selected_initial_price_single_product_"+i));
        }
        for (i=0; i<{{ container_meat_list|length }}; i++) {
            selected_price_container_meat.push(document.getElementById("selected_price_container_meat_"+i));
            selected_quantity_container_meat.push(document.getElementById("id_field_container_meat_"+i));
            selected_initial_price_container_meat.push(document.getElementById("selected_initial_price_container_meat_"+i));
        }
        for (i=0; i<{{ container_cheese_list|length }}; i++) {
            selected_price_container_cheese.push(document.getElementById("selected_price_container_cheese_"+i));
            selected_quantity_container_cheese.push(document.getElementById("id_field_container_cheese_"+i));
            selected_initial_price_container_cheese.push(document.getElementById("selected_initial_price_container_cheese_"+i));
        }
        for (i=0; i<{{ container_side_list|length }}; i++) {
            selected_price_container_side.push(document.getElementById("selected_price_container_side_"+i));
            selected_quantity_container_side.push(document.getElementById("id_field_container_side_"+i));
            selected_initial_price_container_side.push(document.getElementById("selected_initial_price_container_side_"+i));
        }
        for (i=0;i<{{ single_product_available_list|length }};i++){
            (function(x) {
                selected_quantity_single_product[i].addEventListener('change', function(e) {
                    selected_price_single_product[x].textContent = String((e.target.value * Number(selected_initial_price_single_product[x].textContent.replace(",", "."))).toFixed(2));
                    update_consumption();
                }, false);
            })(i);
        }
        for (i=0;i<{{ container_meat_list|length }};i++){
            (function(x) {
                selected_quantity_container_meat[i].addEventListener('change', function(e) {
                    selected_price_container_meat[x].textContent = String((e.target.value * Number(selected_initial_price_container_meat[x].textContent.replace(",", "."))).toFixed(2));
                    update_consumption();
                }, false);
            })(i);
        }
        for (i=0;i<{{ container_cheese_list|length }};i++){
            (function(x) {
                selected_quantity_container_cheese[i].addEventListener('change', function(e) {
                    selected_price_container_cheese[x].textContent = String((e.target.value * Number(selected_initial_price_container_cheese[x].textContent.replace(",", "."))).toFixed(2));
                    update_consumption();
                }, false);
            })(i);
        }
        for (i=0;i<{{ container_side_list|length }};i++){
            (function(x) {
                selected_quantity_container_side[i].addEventListener('change', function(e) {
                    selected_price_container_side[x].textContent = String((e.target.value * Number(selected_initial_price_container_side[x].textContent.replace(",", "."))).toFixed(2));
                    update_consumption();
                }, false);
            })(i);
        }

        fields_list.push(selected_quantity_container_meat);
        fields_list.push(selected_quantity_container_cheese);
        fields_list.push(selected_quantity_container_side);
        fields_list.push(selected_quantity_single_product);

        // initialisation -> Viandes
        set_active_li(0);
        document.getElementById('li_meat').addEventListener('click', function(e) {
            set_active_li(0);
        }, false);
        document.getElementById('li_cheese').addEventListener('click', function(e) {
            set_active_li(1);
        }, false);
        document.getElementById('li_side').addEventListener('click', function(e) {
            set_active_li(2);
        }, false);
        document.getElementById('li_single_product').addEventListener('click', function(e) {
            set_active_li(3);
        }, false);

        /*document.onkeydown = function (e) {
         if (!e.metaKey) {
         if (!(document.activeElement == document.getElementById("id_operator_username") || document.activeElement == document.getElementById("id_client_username") || document.activeElement == document.getElementById("id_operator_password"))) {
         e.preventDefault();
         }
         }
         if (!(document.activeElement == document.getElementById("id_operator_username") || document.activeElement == document.getElementById("id_client_username") || document.activeElement == document.getElementById("id_operator_password"))) {

         // Touches F1 à F12
         if (e.keyCode == 112) {
         fields_list[active_li][0].value = Number(fields_list[active_li][0].value) + 1;
         // erreur dans PyCharm mais fonctionnel
         fields_list[active_li][0].dispatchEvent(new Event('change'));
         }
         if (e.keyCode == 113) {
         fields_list[active_li][1].value = Number(fields_list[active_li][1].value) + 1;
         // erreur dans PyCharm mais fonctionnel
         fields_list[active_li][1].dispatchEvent(new Event('change'));
         }
         if (e.keyCode == 114) {
         fields_list[active_li][2].value = Number(fields_list[active_li][2].value) + 1;
         // erreur dans PyCharm mais fonctionnel
         fields_list[active_li][2].dispatchEvent(new Event('change'));
         }
         if (e.keyCode == 115) {
         fields_list[active_li][2].value = Number(fields_list[active_li][2].value) + 1;
         // erreur dans PyCharm mais fonctionnel
         fields_list[active_li][2].dispatchEvent(new Event('change'));
         }
         if (e.keyCode == 116) {
         fields_list[active_li][3].value = Number(fields_list[active_li][3].value) + 1;
         // erreur dans PyCharm mais fonctionnel
         fields_list[active_li][3].dispatchEvent(new Event('change'));
         }
         if (e.keyCode == 117) {
         fields_list[active_li][4].value = Number(fields_list[active_li][4].value) + 1;
         // erreur dans PyCharm mais fonctionnel
         fields_list[active_li][4].dispatchEvent(new Event('change'));
         }
         if (e.keyCode == 118) {
         fields_list[active_li][5].value = Number(fields_list[active_li][5].value) + 1;
         // erreur dans PyCharm mais fonctionnel
         fields_list[active_li][5].dispatchEvent(new Event('change'));
         }
         if (e.keyCode == 119) {
         fields_list[active_li][6].value = Number(fields_list[active_li][6].value) + 1;
         // erreur dans PyCharm mais fonctionnel
         fields_list[active_li][6].dispatchEvent(new Event('change'));
         }
         if (e.keyCode == 120) {
         fields_list[active_li][7].value = Number(fields_list[active_li][7].value) + 1;
         // erreur dans PyCharm mais fonctionnel
         fields_list[active_li][8].dispatchEvent(new Event('change'));
         }
         if (e.keyCode == 121) {
         fields_list[active_li][9].value = Number(fields_list[active_li][9].value) + 1;
         // erreur dans PyCharm mais fonctionnel
         fields_list[active_li][9].dispatchEvent(new Event('change'));
         }
         if (e.keyCode == 122) {
         fields_list[active_li][10].value = Number(fields_list[active_li][10].value) + 1;
         // erreur dans PyCharm mais fonctionnel
         fields_list[active_li][10].dispatchEvent(new Event('change'));
         }
         if (e.keyCode == 123) {
         fields_list[active_li][11].value = Number(fields_list[active_li][11].value) + 1;
         // erreur dans PyCharm mais fonctionnel
         fields_list[active_li][11].dispatchEvent(new Event('change'));
         }

         // Naviguation avec haut et bas à l'intérieur d'un div
         if (e.keyCode == 40) {
         if (active_field < fields_list[active_li].length - 1) {
         set_active_field(active_field + 1);
         }
         }
         if (e.keyCode == 38) {
         if (active_field > 0) {
         set_active_field(active_field - 1);
         }
         }

         // Navigation avec gauche et droite
         if (e.keyCode == 37 && active_li > 0) {
         set_active_li(active_li - 1);
         active_field = 0;
         set_active_field(0);
         }
         if (e.keyCode == 39 && active_li < li_list.length - 1) {
         set_active_li(active_li + 1);
         active_field = 0;
         set_active_field(0);
         }

         // + et - pour ajouter ou enlever de la quantité
         if (e.keyCode == 107) {
         fields_list[active_li][active_field].value = Number(fields_list[active_li][active_field].value) + 1;
         fields_list[active_li][active_field].dispatchEvent(new Event('change'));
         }
         if (e.keyCode == 109) {
         if (Number(fields_list[active_li][active_field].value) > 0) {
         fields_list[active_li][active_field].value = Number(fields_list[active_li][active_field].value) - 1;
         fields_list[active_li][active_field].dispatchEvent(new Event('change'));
         }
         }
         }
         // Entrée pour submit le form
         if (e.keyCode == 13) {
         document.getElementById('form_purchase').submit();
         }
         };*/

        function set_active_li(new_active_li) {
            active_li = new_active_li;
            display_none_all(div_list[active_li]);
        }

        function set_active_field(new_active_field) {
            fields_list[active_li][new_active_field].focus();
            active_field = new_active_field;
        }

        function display_none_all(div_except) {
            for (i=0; i<div_list.length; i++) {
                if (div_list[i] != div_except) {
                    li_list[i].className = '';
                    div_list[i].style.display = 'none';
                }
                else {
                    div_list[i].style.display = 'block';
                    li_list[i].className = 'active';
                }
            }
        }

        function update_consumption() {
            var sum_single_product = 0;
            var sum_container_meat = 0;
            var sum_container_cheese = 0;
            var sum_container_side = 0;

            for (i=0; i<{{ single_product_available_list|length }}; i++) {
                sum_single_product += Number(document.getElementById("selected_price_single_product_" + i).textContent);
            }
            for (i=0; i<{{ container_meat_list|length }}; i++) {
                sum_container_meat += Number(document.getElementById("selected_price_container_meat_" + i).textContent);
            }
            for (i=0; i<{{ container_cheese_list|length }}; i++) {
                sum_container_cheese += Number(document.getElementById("selected_price_container_cheese_" + i).textContent);
            }
            for (i=0; i<{{ container_side_list|length }}; i++) {
                sum_container_side += Number(document.getElementById("selected_price_container_side_" + i).textContent);
            }

            var balance_before = Number(document.getElementById("balance_before").textContent);
            document.getElementById("total_consumption").textContent = String((sum_single_product+sum_container_meat+sum_container_cheese+sum_container_side).toFixed(2));
            document.getElementById("balance_after").textContent = String((balance_before-sum_single_product-sum_container_meat-sum_container_cheese-sum_container_side).toFixed(2));
            document.getElementById("hidden_balance_after").value = (balance_before-sum_single_product-sum_container_meat-sum_container_cheese-sum_container_side).toFixed(2);
        }


        // initialisation

        var input_client_username = $("#id_client_username");
        if (input_client_username.val() != '') {
            input_client_username.focus();
            input_client_username.blur();
        }

        var a = 0;
        while (a<{{ container_meat_list|length }}) {
            (function(a) {
                return selected_quantity_container_meat[a].dispatchEvent(new Event('change'));
            })(a);
            a++;
        }
        var b = 0;
        while (b<{{ container_cheese_list|length }}) {
            (function(b) {
                return selected_quantity_container_cheese[b].dispatchEvent(new Event('change'));
            })(b);
            b++;
        }
        var c = 0;
        while (c<{{ container_side_list|length }}) {
            (function(c) {
                return selected_quantity_container_side[c].dispatchEvent(new Event('change'));
            })(c);
            c++;
        }
        var d = 0;
        while (d<{{ single_product_available_list|length }}) {
            (function(d) {
                return selected_quantity_single_product[d].dispatchEvent(new Event('change'));
            })(d);
            d++;
        }

        setTimeout(function(){
            update_consumption()
        }, 1000);

        document.onkeydown = function (e) {
            // Problème du champ vide quand on valide
            if (e.keyCode == 13) {
                $("#div_purchase :input").each(
                        function () {
                            if ($(this).val() == '') {
                                $(this).val(0);
                            }
                        })
            }
        }

    </script>

{% endblock %}