{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            {% include 'finances/sale_retrieve_module.html' with object=sale %}
        </div>
        <div class="row">
            <p>Redirection dans <b id="time_before_redirect">X</b> secondes</p>
        </div>
        <div class="row">
            <p>Pas assez rapide ?</p>
            <input type="submit" value="Redirection" id="manual_redirect">
        </div>
    </div>
    <script>
        // Pilotage depuis time_initial (en secondes)
        var time_initial = 5;
        document.getElementById("time_before_redirect").textContent = String(time_initial);

        var timer = setInterval(function() {
            document.getElementById("time_before_redirect").textContent = String(Number(document.getElementById("time_before_redirect").textContent) - 1);
        }, 1000);

        setTimeout(function() {
            clearInterval(timer);
            window.location = "{{ next }}";
        }, time_initial*1000);

        document.getElementById("manual_redirect").addEventListener('click', function() {
            window.location = "{{ next }}";
        }, false);

        // Donner le focus au chargement sur le bouton de redirection
        // Permet d'aller plus vite avec la touche entrée
        window.onload = function() {
            document.getElementById("manual_redirect").focus();
        }
    </script>

{% endblock%}

