{% extends 'base_sober.html' %}
{% load l10n %}
{% load static %}
{% load bootstrap %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/i18n/defaults-fr_FR.min.js"></script>

<div class="panel panel-default">
  <div class="panel-heading">
    Gestion des cellules de vente du magasin {{ shop }}
  </div>
  <div class="panel-body">
    <form method="post">
      <div class="row">
        {% csrf_token %}
        {{ form.management_form }}
        {% for containercase_form in form %}
          <div class="containercase_formset col-md-3" style="margin-top: 15px">
            <div class="panel panel-default">
              <div class="panel-body">
                {{ containercase_form|bootstrap }}
                {% if containercase_form.percentage.value %}
                <div class="progress">
                  <div class="progress-bar" role="progressbar"
                    aria-valuenow="{{ containercase_form.percentage.value|unlocalize }}"
                    aria-valuemin="0"
                    aria-valuemax="100"
                    style="width: {{ containercase_form.percentage.value|unlocalize }}%;">
                    <span class="sr-only">{{ containercase_form.percentage.value|unlocalize }}% Complete</span>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-md-12">
          <button class="btn btn-success" type="submit">Valider</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>
<script>
    $('.containercase_formset').formset({
        keepFieldValues: '',
        addText: 'Nouvelle cellule',
        deleteText: 'Supprimer',
        addCssClass: 'add-row btn btn-success btn-sm',
        deleteCssClass: 'delete-row',
        added: function(row) {
          $(row).find('select').each(function() {
            $(this).val('')
          });
          $(row).find('.selectpicker').each(function() {
            $(this).selectpicker();
          });
          $(row).find('[id*=is_sold]').each(function() {
            $(this).parent().hide()
          });
          $(row).find('.progress').each(function() {
            $(this).hide()
          });
        }
    });
</script>
<script>
  $('[id*=is_sold]').each(function() {
    $(this).parent().hide()
  })
  $('[id*=base_container]').change(function() {
    var parent = $('#id_form-'+$(this).attr('id').split('-')[1]+'-is_sold').parent()
    parent.attr('class', 'bg-danger')
    if (parent.children().length !== 3) {
      parent.append(
        '<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>'
      )
    }
    parent.show()
  })
</script>
<style>
  .add-row {
    margin: 15px;
  }
</style>
{% endblock %}
