{% extends 'base.html' %}

{% block content %}

    <div class="container50">
        <h2 class="align-center">Ajout de produits unitaires</h2>
        <h3 class="align-center">Magasin: {{ shop.name }}</h3>
        <form class="form-style-1" action= "{% url 'url_create_singleproduct_multiple' %}" method="post">
            {% csrf_token %}
            {{ form.as_ul }}
            <input type=hidden name="next" value="{{ next }}" />
            <input type=hidden name="shop" value="{{ shop }}" />
            <li><input type="submit" value="Valider" class="btn btn-success"/></li>
        </form>
    </div>
{% endblock %}