{% extends 'base.html' %}

{% block content %}

    <table>
        <tr>
            <th>N°</th>
            <th>Modifier</th>
            <th>Supprimer</th>
            <th>Détails</th>
        </tr>
        {% for e in object_list %}
            <tr>
                <td>{{ e.number }}</td>
                <td><a href="{% url 'url_update_tap' pk=e.id %}">modifier</a></td>
                <td><a href="{% url 'url_delete_tap' pk=e.id %}">supprimer</a></td>
                <td><a href="{% url 'url_retrieve_tap' pk=e.id %}">détail</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}