{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <h1 class="align-center">Workboard Auberge</h1>
        </div>
        <div class="row">
            <div>
                <ul class="listing-apps">
                    <li><a href="{% url 'url_supply_united' %}?next=/shops/auberge/workboard"><img src="{% static 'img/lydia.png' %}" alt="Crédit compte"><span class="name">Crédit compte</span></a></li>
                    {% if perms.users.gestionnaires_de_l_auberge_group_manage %}
                        <li><a href="{% url 'url_manage_group' %}?group_pk={{ group_gestionnaires_de_l_auberge_pk }}&next=/shops/auberge/workboard"><img src="{% static 'img/group.png' %}" alt="Gestion groupe"><span class="name">Gestionnaires de l'auberge</span></a></li>
                    {% endif %}
                    <li><a href="{% url 'url_create_product_multiple' %}?shop=Auberge&next=/shops/auberge/workboard"><img src="{% static 'img/shopping.png' %}" alt="Gestion produits"><span class="name">Produits auberge</span></a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}