{% extends 'base.html' %}

{% block content %}

    <div id="workboard_foyer_transactions">
        <p><a href="{% url 'url_create_transaction' %}">Alimentation de compte - complexe</a></p>
        <p><a href="{% url 'url_create_transaction_cash_fast' %}">Alimentation de compte - espèces seulement</a></p>
        <p><a href="{% url 'url_create_transaction_cheque_fast' %}">Alimentation de compte - chèque seulement</a></p>
        <p><a href="{% url 'url_create_transaction_lydia_fast' %}">Alimentation de compte - Lydia seulement</a></p>
    </div>

{% endblock %}