{% extends 'base.html' %}

{% block content %}

    <h1 class="align-center">Workboard Foyer</h1>
    <hr>

    <div class="container">
        <div class="one-third column">
            <h3>Alimentation de comptes</h3>
            <ul>
                <li><a href="{% url 'url_supply_cash' %}?next=/shops/foyer/wordkboard">Espèces seulement</a></li>
                <li><a href="{% url 'url_supply_cheque' %}?next=/shops/foyer/workboard">Chèque seulement</a></li>
                <li><a href="{% url 'url_supply_lydia' %}?next=/shops/foyer/workboard">Lydia seulement</a></li>
            </ul>
        </div>
        <div class="one-third column">
            <h3>Gestion du stock</h3>
            <div class="row">
                <h5>Unités de produits</h5>
                <ul>
                    <li><a href="{% url 'url_list_productunit' %}">Listes des unités produits</a></li>
                    <li><a href="{% url 'url_create_productunit' %}?next=/shops/foyer/workboard">Nouvelle unité produit</a></li>
                </ul>
            </div>
            <div class="row">
                <h5>Bases de produits</h5>
                <ul>
                    <li><a href="{% url 'url_list_productbase' %}">Listes des bases de produits</a></li>
                    <li><a href="{% url 'url_create_productbase' %}?next=/shops/foyer/workboard">Nouvelle base produit</a></li>
                </ul>
            </div>
        </div>
        <div class="one-third column">
            <div class="row">
                <h5>Produits</h5>
                <div class="row">
                    <h6>Produits unitaires</h6>
                    <ul>
                        <li><a href="{% url 'url_list_singleproduct' %}">Listes des produits unitaires</a></li>
                        <li><a href="{% url 'url_create_singleproduct_multiple' %}?next=/shops/foyer/workboard">Ajouts de produits unitaires</a></li>
                    </ul>
                </div>
                <div class="row">
                    <h6>Conteneurs</h6>
                    <ul>
                        <li><a href="{% url 'url_list_container' %}">Listes des conteneurs</a></li>
                        <li><a href="{% url 'url_create_container_multiple' %}?next=/shops/foyer/workboard">Ajouts de conteneurs</a></li>
                    </ul>
                </div>
            </div>
            </p>
        </div>
    </div>

    <div class="container">
        <h3>Gestion des tireuses</h3>
        {% for e in active_keg_container_list %}
            <div class="two columns">
                <h4>{{ e.0 }}</h4>
                {% if e.1 %}
                    <p>{{ e.1.product_base }}</p>
                    <p>{{ e.1.quantity_remaining }} {{ e.1.product_base.product_unit.unit }} - {{ e.1.pourcentage_quantity_remaining }}% restants</p>
                {% else %}
                    <p>Non utilisée actuellement</p>
                {% endif %}
                <p><a href="{% url 'url_replacement_active_keg' %}?next=/shops/foyer/workboard&pk={{ e.1.pk }}&place={{ e.0 }}">Remplacer</a></p>
            </div>
        {% endfor %}
    </div>

{% endblock %}