{% extends 'base.html' %}

{% block content %}

    <h1 class="align-center">Workboard Foyer</h1>
    <hr>

    <div class="container">
        <div class="one-half column">
            <h3>Alimentation de comptes</h3>
            <ul>
                <li><a href="">Mixte</a></li>
                <li><a href="">Espèces seulement</a></li>
                <li><a href="">Chèque seulement</a></li>
                <li><a href="">Lydia seulement</a></li>
            </ul>
        </div>
        <div class="one-half column">
            <h3>Gestion du stock</h3>
                <ul>
                    <li><a href="{% url 'url_create_singleproduct' %}?next=/shops/foyer/workboard">Ajouts d'un nouveau produit unitaire</a></li>
                    <li><a href="">Ajouts de produits unitaires existants</a></li>
                    <li><a href="{% url 'url_create_productunit' %}?next=/shops/foyer/workboard">Ajouts d'une nouvelle unité produit</a></li>
                    <li><a href="{% url 'url_create_container' %}?next=/shops/foyer/workboard">Ajouts d'un nouveau container</a></li>
                    <li><a href="">Ajouts de containers existants</a></li>
                </ul>
        </div>
    </div>

    <div class="container">
        <h3>Gestion des tireuses</h3>
        {% for e in active_keg_container_list %}
            <div class="two columns">
                    <p>{{ e.product_base }}</p>
                    <p>{{ e.quantity_remaining }} {{ e.product_base.product_unit.unit }} - {{ e.pourcentage_quantity_remaining }}% restants</p>
                <p><a href="{% url 'url_replacement_active_keg' %}?next=/shops/foyer/workboard&pk={{ e.pk }}">Remplacer</a></p>
            </div>
        {% endfor %}
    </div>
{% endblock %}