/* COLORS */
body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;
  line-height: 1.5;
  padding-bottom: 65px;
}
.body-clean {
  background-image: url('/static/img/pexels-photo-27892.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;
}
.navbar-brand {
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}
.navbar-brand > .logo {
  height: 45px;
}
canvas {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}
.navbar-text-avatar {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
}
.user-avatar {
  border-radius: 25px;
  height: 45px;
  width: 45px;
}
.navbar-text-center {
  margin-top: 10px;
  margin-bottom: auto;
  font-size: 14pt;
}
.login-form {
  width: 33%;
  height: 200px;
  position: absolute;
  top: -250px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 12pt;
}
/* COLORS */
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: #651319;
  border-color: #651319;
}
a.list-group-item-info,
a.list-group-item-info:focus,
a.list-group-item-info:hover,
button.list-group-item-info:focus,
button.list-group-item-info:hover {
  background-color: #efe7e8;
  color: inherit;
}
.panel-primary {
  border-color: #efe7e8;
}
.panel-primary > .panel-heading {
  background-color: #efe7e8;
  border-color: #efe7e8;
  color: #333;
}
