{% extends 'base_sober.html' %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    Détails d'une entrée de stock du magasin {{ stockentry.shop }}
  </div>
  <div class="panel-body">
    <ul>
      <li>Magasin : {{ stockentry.shop }}</li>
      <li>Opérateur : {{ stockentry.operator }}</li>
      <li>Date : {{ stockentry.datetime }}</li>
      <li>Montant total : {{ stockentry.total }}€</li>
    </ul>
    <table class="table table-hover table-striped">
      <tr>
        <th>Produit</th>
        <th>Quantité</th>
        <th>Sous total</th>
      </tr>
      {% for stockentryproduct in stockentry.stockentryproduct_set.all %}
      <tr>
        <td>{{ stockentryproduct.product }}</td>
        <td>
          {{ stockentryproduct.quantity }}
          {% if stockentryproduct.product.unit %}
          {{ stockentryproduct.product.get_unit_display }}
          {% endif %}
        </td>
        <td>{{ stockentryproduct.price }}€</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
