{% extends 'base_sober.html' %}
{% load bootstrap %}

{% block content %}
<div class="row">
  <div class='col-md-8'>
    <div class="panel panel-default">
        <div class="panel-heading">
            Workboard {{ group_name_display }}
        </div>
        <div class="panel-body">
          <div class="jumbotron">
            <h1>Groupe des {{ group_name_display }}</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            Raccourcis
        </div>
        <div class="panel-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
          Dernières ventes
      </div>
      <table class="table table-hover table-striped">
        <tr>
            <th>Opérateur</th>
            <th>Acheteur</th>
            <th>Prix</th>
            <th>Magasin</th>
            <th>Détail</th>
        </tr>
        {% for sale in sale_list %}
        <tr>
            <td>{{ sale.operator }}</td>
            <td>{{ sale.sender }}</td>
            <td>{{ sale.amount }}€</td>
            <td>{{ sale.from_shop }}</td>
            <td>
              <a href="{% url 'url_sale_retrieve' group_name=group_name pk=sale.pk %}">Détail</a>
            </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            Recherche rapide d'un utilisateur
             <a class="btn btn-info btn-xs pull-right" href="{% url 'url_user_list' group_name=group_name %}">
                Accéder à la liste des utilisateurs
            </a>
        </div>
        <div class="panel-body">
            <input type="text" class="form-control" id="input_search" />
            <a
            id="search"
            class="btn btn-success"
            style="margin-top: 5px"
            href="{% url 'url_user_list' group_name=group_name %}">Rechercher</a>
            <script>
              let base_list_url = "{% url 'url_user_list' group_name=group_name %}"
              $("#input_search").change(function () {
                  $("#search").attr(
                    'href',
                    base_list_url + '?search=' + $(this).val())
              })
            </script>
        </div>
    </div>
  </div>
</div>
{% endblock %}
