{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h3>Détaile de la notification id = {{ object.pk }}</h3>
        <ul>
            <li>Type : {{ object.type }}</li>
            <li>Acteur : {{ object.actor_object }}</li>
            <li>Verbe : {{ object.verb }}</li>
            <li>Utilisateur cible de la notification : {{ object.target_user }}</li>
            <li>Support de l'action : {{ object.action_medium_object }}</li>
            <li>Cible : {{ object.target_object }}</li>
            <li>Notificaton générée le {{ object.creation_datetime }}</li>
            <li>Notification affichée chez l'utilisateur cible? {{ object.is_displayed }}</li>
            <li>Date d'affichage : {{ object.displayed_date }}</li>
            <li>Notification lue par l'utilisateur cible? {{ object.is_readed }}</li>
            <li>Date de lecture : {{ object.readed_date }}</li>
        </ul>
    </div>

{%  endblock %}
