{% extends 'base_sober.html' %}
{% load bootstrap %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/i18n/defaults-fr_FR.min.js"></script>

    <div class="panel panel-default">
        <div class="panel-heading">
            Ajout d'un template
        </div>
        <div class="panel-body">
            <form action="" method="post">
                {{ form.non_field_errors }}
                {% csrf_token %}
                {% for field in form %}
                    {% if field == form.target_groups %}
                        <div id="target_groups">
                            {{ field.errors }}
                            {{ field|bootstrap }}
                        </div>
                    {% else %}
                        {{ field.errors }}
                        {{ field|bootstrap }}
                    {% endif %}
                {% endfor %}
                <button class="btn btn-success" 
type="submit">Ajouter</button>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            Règles d'édition des templates de notification
        </div>
        <div class="panel-body">
            <strong>Balises autorisées</strong>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Balise</th>
                        <th>Effet</th>
                        <th>Html correspondant</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag, htlm in tag_dictionary.items %}
                    <tr>
                        <td>{{ tag }}</td>
                        <td>{{ htlm|safe}}</td>
                        <td>{{ htlm|escape}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>Se reporter à la documentation pour plus de détails.</p>
        </div>
    </div>
    <script>
        $("#id_target_users").change(function() {
            if ($(this).val() == 'ACTOR' || $(this).val() == 'RECIPIENT') {
                $("#target_groups").hide()
            }
            else if ($(this).val() == 'TARGET_GROUPS') {
                $("#target_groups").show()
            }
        })
        $("#id_target_users").trigger("change")
    </script>
{% endblock %}
