{% extends 'base_sober.html' %}
{% load users_extra %}

{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    Templates <a href="create/" class="btn btn-default">Ajouter un nouveau template.</a>
  </div>
    <input type=hidden name="order_by" value="{{ order_by }}" />
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Notification class</th>
                <th>Aperçu du rendu</th>
                <th>Target group</th>
                <th>Type</th>
                <th>Catégorie</th>
                <th>Activée</th>
                <th>Modification</th>
                <th>Ajouter un nouveau template pour la même classe</th>
            </tr>
        </thead>
        <tbody>
            {% for e in page %}
            <tr>
                <td>{{ e.pk }}</td>
                <td>{{ e.notification_class.name}}</td>
                <td>{{ e.html_template|safe}}</td>
                <td>
                    {% if e.target_users == "TARGET_GROUPS" %}
                        {%  for group in e.target_groups.all %}
                            {{ group }}
                        {% endfor %}
                    {% else %}
                        {{ e.target_users }}
                    {% endif %}
                </td>
                <td>{{ e.type }}</td>
                <td>{% if e.shop_category %}{{ e.shop_category }}{% else %}Aucune{% endif %}</td>
                <td>{{ e.is_activated|yesno:'Oui, Non, Non' }}</td>
                <td><a href="{% url 'url_notificationtemplate_change' group_name=group.name pk=e.pk %}">Modifier</a>
                 ou <a href="{% url 'url_notificationtemplate_deactivate' group_name=group.name pk=e.pk %}">
                   {% if e.is_activated %}Désactiver{% else %}Activer{% endif %}</a></td>
                <td><a href="{% url 'url_notificationtemplate_create' group_name=group.name notification_class=e.notification_class.name %}">Ajouter</a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% if page.has_other_pages %}
  <nav class="pagination">
      <ul class="pagination">
          {% comment %}Affiche un lien vers la première page{% endcomment %}
          <li>
                <a href="?order_by={{ order_by }}&page=first">
                  <span><<</span>
                </a>
            </li>
      {% comment %}Affiche un lien vers la page précédente{% endcomment %}
        {% if page.has_previous %}
            <li>
              <a href="?order_by={{ order_by }}&page={{ page.previous_page_number }}">
                  <span>Previous</span>
              </a>
            </li>
        {% else %}
            <li class="disabled">
              <a href="#">
                  <span>Previous</span>
              </a>
            </li>
        {% endif %}

      {% comment %}Affiche un des liens vers les pages encadrant la page courante{% endcomment %}
        {% for p in page_links %}
            <li {% if p == page.number %}class="active"{% endif %}>
                <a href="?order_by={{ order_by }}&page={{ p }}">{{ p }}</a>
            </li>
        {% endfor %}
          {% comment %}Affiche un lien vers la page suivante{% endcomment %}
        {% if page.has_next %}
            <li>
                <a href="?order_by={{ order_by }}&page={{ page.next_page_number }}">
                  <span>Next</span>
                </a>
            </li>
        {% else %}
            <li {% if not page.has_next %}class="disabled"{% endif %}>
                <a href="#">
                    <span>Next</span>
                </a>
            </li>
        {% endif %}
          {% comment %}Affiche un lien vers la dernière page{% endcomment %}
          <li>
                <a href="?order_by={{ order_by }}&page=last">
                  <span>>></span>
                </a>
          </li>
      </ul>
  </nav>
{% endif %}
</div>
{% endblock %}
