{# We get the base template + some extra stuff #}
{% extends 'base_sober.html' %}
{% load bootstrap %}
{% load notifications_extra %}

{% block content %}

{# Main display #}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            Notifications
        </div>
        <div class="panel-body">
          <div>
            <ul class="nav nav-tabs" role="tablist">
            {# The tab panel is populated with a group_category list. This list is built in the view because we want to avoid duplicates#}
              <li role="presentation" class="active">
                  <a href="#all" aria-controls="all" role="tab" data-toggle="tab">Tous</a>
              </li>
              {% for group_category in notification_tab_header %}
              <li role="presentation">
                <a href="#{% if group_category == None %}autres{% else %}{{ group_category }}{% endif %}"
                aria-controls="{% if group_category == None %}autres{% else %}{{ group_category }}{% endif %}"
                role="tab" data-toggle="tab">{% if group_category == None %}Autres{% else %}{{ group_category|capfirst }}{% endif %}</a>
              </li>
              {% endfor %}
            </ul>
            {# This first tab-content aims to populate the "all" panel #}
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="all">
                <table class="table table-default">
                  <thead>
                    <tr>
                        <th><a href="{% url 'url_notification_list' group_name=group_name %}?order_by={{ 'type'|order_by:request }}&page={{ page.number }}">Type</a></th>
                        <th>Message</th>
                        <th><a href="{% url 'url_notification_list' group_name=group_name %}?order_by={{ 'creation_datetime'|order_by:request }}&page={{ page.number }}">Date</a></th>
                     </tr>
                  </thead>
                  <tbody>
                   {% for notification in page %}
                    <tr>
                        <td>{{ notification.type }}</td>
                        <td>{% html_rendering_tag notification %}</td>
                        <td>{{ notification.creation_datetime }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {# Now we can populate other panels #}
              {% for group_category in notification_tab_header %}
              <div role="tabpanel" class="tab-pane" id="{% if group_category == None %}autres{% else %}{{ group_category }}{% endif %}">
                <table class="table table-default">
                  <thead>
                    <tr>
                        <th><a href="{% url 'url_notification_list' group_name=group_name %}?order_by={{ 'type'|order_by:request }}&page={{ page.number }}">Type</a></th>
                        <th>Message</th>
                        <th><a href="{% url 'url_notification_list' group_name=group_name %}?order_by={{ 'creation_datetime'|order_by:request }}&page={{ page.number }}">Date</a></th>
                     </tr>
                  </thead>
                  <tbody>
                    {% for notification in page %}
                        {% if notification.group_category == group_category %}
                            <tr>
                                <td>{{ notification.type }}</td>
                                <td>{% html_rendering_tag notification %}</td>
                                <td>{{ notification.creation_datetime }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
    </div>
</div>
{% if page.has_other_pages %}
<nav class="pagination">
    <ul class="pagination">
        {% comment %}Affiche un lien vers la première page{% endcomment %}
        <li>
              <a href="?order_by={{ order_by }}&page=first">
                <span><<</span>
              </a>
          </li>
    {% comment %}Affiche un lien vers la page précédente{% endcomment %}
      {% if page.has_previous %}
          <li>
            <a href="?order_by={{ order_by }}&page={{ page.previous_page_number }}">
                <span>Previous</span>
            </a>
          </li>
      {% else %}
          <li class="disabled">
            <a href="#">
                <span>Previous</span>
            </a>
          </li>
      {% endif %}

    {% comment %}Affiche un des liens vers les pages encadrant la page courante{% endcomment %}
      {% for p in page_links %}
          <li {% if p == page.number %}class="active"{% endif %}>
              <a href="?order_by={{ order_by }}&page={{ p }}">{{ p }}</a>
          </li>
      {% endfor %}
        {% comment %}Affiche un lien vers la page suivante{% endcomment %}
      {% if page.has_next %}
          <li>
              <a href="?order_by={{ order_by }}&page={{ page.next_page_number }}">
                <span>Next</span>
              </a>
          </li>
      {% else %}
          <li {% if not page.has_next %}class="disabled"{% endif %}>
              <a href="#">
                  <span>Next</span>
              </a>
          </li>
      {% endif %}
        {% comment %}Affiche un lien vers la dernière page{% endcomment %}
        <li>
              <a href="?order_by={{ order_by }}&page=last">
                <span>>></span>
              </a>
        </li>
    </ul>
</nav>
{% endif %}

{% endblock %}
