{% extends 'base_sober.html' %}
{% load bootstrap %}

{% block content %}

<div class="panel panel-default">
  <div class="panel-heading">
    Mes notifications
  </div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Groupe</th>
                <th>Poids</th>
                <th>Modifier</th>
            </tr>
        </thead>
        <tbody>
            {% for e in object_list%}
            <tr>
                <td>{{ e.notificationgroup }}</td>
                <td>{{ e.weight }}</td>
                <td><a href="{% url 'url_notificationgroup_update' group_name=group.name pk=e.notificationgroup.pk %}">
                    Modifier
                </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
