{% extends 'base_sober.html' %}
{% load bootstrap %}
{% load finances_extra %}
{% load l10n %}

{% block content %}
{% localize off %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

<div class="row">
  <div class='col-md-8'>
    <div class="panel panel-default">
        <div class="panel-heading">
            Dernières ventes
            <a class="btn btn-info btn-xs pull-right" href="{% url 'url_sale_list' shop_pk=shop.pk %}">
                Accéder à la liste des ventes
            </a>
        </div>
        <table class="table table-default">
          <thead>
            <tr>
              <th>Date</th>
              <th>Acheteur</th>
              <th>Produits</th>
              <th>Montant</th>
            </tr>
          </thead>
          <tbody>
            {% for sale in sale_list.all %}
            <tr>
              <td>{{ sale.datetime|date:"d/m/Y H:i:s" }}</td>
              <td>{{ sale.sender }}</td>
              <td>{{ sale.string_products }}</td>
              <td>{{ sale.amount }}€</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
  <div class='col-md-4'>
    <div class="panel panel-default">
        <div class="panel-heading">
            Proportions
        </div>
        <div class="panel-body">
          <canvas id="PieChart" width="auto" height="185"></canvas>
        </div>
    </div>
  </div>
</div>
<script>
function decimalToHex(decimal) {
  var hex = decimal.toString(16)
  if (hex.length == 1) hex = '0' + hex
  return hex
}
function hexToDecimal(hex) {
  return parseInt(hex, 16)
}
function returnOpposite(colour) {
  return (
    decimalToHex(255 - hexToDecimal(colour.substr(0, 2))) +
    decimalToHex(255 - hexToDecimal(colour.substr(2, 2))) +
    decimalToHex(255 - hexToDecimal(colour.substr(4, 2)))
  )
}

var shop_color_hex = '{{ shop.color }}'.substring(1, '{{ shop.color }}'.length)
var opposite_shop_color_hex = '#' + returnOpposite(shop_color_hex)

var ctx = 'PieChart'
var data = {
  labels: ['Ventes', 'Achats'],
  datasets: [
    {
      data: ['{% if sale_list.total %}{{ sale_list.total }}{% else %}0{% endif %}', '{% if purchase_list.total %}{{ purchase_list.total }}{% else %}0{% endif %}'],
      backgroundColor: ['{{ shop.color }}', opposite_shop_color_hex],
      hoverBackgroundColor: ['{{ shop.color }}', opposite_shop_color_hex]
    }
  ]
}
var PieChart = new Chart(ctx, {
  type: 'pie',
  data: data,
  options: {
    legend: {
      position: 'left'
    }
  }
})
</script>
<div class="row">
  <div class='col-md-12'>
    <div class="panel panel-default">
        <div class="panel-heading">
            Synthèse
        </div>
        <div class="panel-body">
          <canvas id="LineChart" width="auto" height="100"></canvas>
        </div>
    </div>
  </div>
</div>
<script>

  var ctx = "LineChart";
  var data = {
    labels: [
      {% for week in sale_list.weeks %}
      "{{ week }}"
      {% if not loop.last %}
      ,
      {% endif %}
      {% endfor %}
    ],
    datasets: [
        {
            label: "Ventes",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "{{ shop.color }}",
            borderColor: "{{ shop.color }}",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "{{ shop.color }}",
            pointHoverBorderColor: "{{ shop.color }}",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [
              {% for amount in sale_list.data_weeks %}
              {{ amount }}
              {% if not loop.last %}
              ,
              {% endif %}
              {% endfor %}
            ],
            spanGaps: false,
        },
        {
            label: "Achats",
            fill: false,
            lineTension: 0.1,
            backgroundColor: opposite_shop_color_hex,
            borderColor: opposite_shop_color_hex,
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: opposite_shop_color_hex,
            pointHoverBorderColor: opposite_shop_color_hex,
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [
              {% for amount in purchase_list.data_weeks %}
              {{ amount }}
              {% if not loop.last %}
              ,
              {% endif %}
              {% endfor %}
            ],
            spanGaps: false,
        }
    ]
  };
  var LineChart = new Chart(ctx, {
      type: 'line',
      data: data,
      scaleFontColor: "red",
      options: {
        scales: {
          yAxes: [{
            scaleLabel: {
              display: true,
              labelString: 'Consommation (€)'
            }
          }]
        }
      }
  });
</script>
{% endlocalize %}
{% endblock %}
